<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/S1/Tarea_S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tarea

1. Realiza una consulta a la base de datos `nabla_python1` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

---

2. Realiza una consulta a la base de datos `nabla_pytho1n` por medio de `pymysql`: encuentra los 10 clientes `customerName` que m치s han comprado en la tienda. La tabla resultante deber치 estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en d칩nde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)
----

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el c칩digo del producto `productCode`. Obten los primeros 10 valores

---

4. Con base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

---

5. Con base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

----

6. Con base en ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

---