<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/C3_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

## Pandas Series
 Serie (series):  arreglo etiquetado de UNA DIMENSIÓN. Como una columna de una tabla.
**Importante**: consistencia. i.e: mismo tipo de datos.
 Usamos el método .Series() para crear una serie

Series es un método constructor

 A ese método debemos pasarle un input. Le podemos pasar una lista.    ``series(): lista --> serie.``

In [ ]:
!rm -rf Python
!git clone https://github.com/pikey-msc/Python.git

Cloning into 'Python'...
remote: Enumerating objects: 149, done.
remote: Counting objects: 100% (149/149), done.
remote: Compressing objects: 100% (115/115), done.
remote: Total 149 (delta 46), reused 5 (delta 0), pack-reused 0
Receiving objects: 100% (149/149), 6.31 MiB | 8.51 MiB/s, done.
Resolving deltas: 100% (46/46), done.

In [ ]:
#Importamos la paquetería
import pandas as pd

Construir una serie de una lista.

In [ ]:
paises =["Mex", "USA", "Francia", "Inglaterra"]

In [ ]:
paises

['Mex', 'USA', 'Francia', 'Inglaterra']

In [ ]:
pd.Series(paises)

0           Mex
1           USA
2       Francia
3    Inglaterra
dtype: object

In [ ]:
num =[1.02, 2.5]
pd.Series(num)

0    1.02
1    2.50
dtype: float64

In [ ]:
cond = [True, False, False]
pd.Series(cond)

0     True
1    False
2    False
dtype: bool

In [ ]:
len(cond)

3

Crear una serie de un diccionario:

In [ ]:
dic = {"pelicula": "Jumanji", "genero": "Accion", "año": 2017}
dic

{'año': 2017, 'genero': 'Accion', 'pelicula': 'Jumanji'}

In [ ]:
pd.Series(dic)

pelicula    Jumanji
genero       Accion
año            2017
dtype: object

# Indroducción a Métodos y atributos

In [ ]:
ciudades = ['CDMX', 'Puebla', 'París', 'Londres', 'Milán']
cds = pd.Series(ciudades)
cds

0       CDMX
1     Puebla
2      París
3    Londres
4      Milán
dtype: object

In [ ]:
cds.values

array(['CDMX', 'Puebla', 'París', 'Londres', 'Milán'], dtype=object)

In [ ]:
cds.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
cds.dtype

dtype('O')

In [ ]:
type(cds)

pandas.core.series.Series

In [ ]:
precios = [3.5, 10.99, 4.89, 5]
p= pd.Series(precios)
saldos = [-2900, 10000, 5000, -1000]
sal = pd.Series(saldos)
print(sal)
print(p)

0    -2900
1    10000
2     5000
3    -1000
dtype: int64
0     3.50
1    10.99
2     4.89
3     5.00
dtype: float64

In [ ]:
# método suma
p.sum()

24.38

In [ ]:
sal.abs()

0     2900
1    10000
2     5000
3     1000
dtype: int64

In [ ]:
p.shape

(4,)

In [ ]:
p.product()

940.46925

In [ ]:
p.mean()

6.095

In [ ]:
p.cumsum()

0     3.50
1    14.49
2    19.38
3    24.38
dtype: float64

In [ ]:
comida = ['huevo','res','pollo','pescado','frutas']
dias = ['lu','ma','mie','jue','vie']
pd.Series(comida, dias)
#pd.Series(data, index)

lu       huevo
ma         res
mie      pollo
jue    pescado
vie     frutas
dtype: object

In [ ]:
pd.Series(data=comida, index=dias) #forma explícita

lu       huevo
ma         res
mie      pollo
jue    pescado
vie     frutas
dtype: object



A diferencia de un diccionario, los valores del índice de una serie pueden NO SER ÚNICOS.

# Carga de archivos

##CSV

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', usecols= ["Species"], squeeze = True)

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

LDA: linear discriminant analysis, o bien LDA = Latend Dirichlet allocation

In [ ]:
type(iris)

pandas.core.series.Series

In [ ]:
len(iris)

150

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [ ]:
iris.tail(8)

142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

Ordenado de forma descendente --> regresa una lista.

In [ ]:
sorted(iris, reverse=True)

['virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'virginica',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa']

In [ ]:
type(iris)

pandas.core.series.Series

In [ ]:
max(iris)

'virginica'

In [ ]:
min(iris)

'setosa'

In [ ]:
import numpy as np

In [ ]:
lista = [1, np.nan,3,4]
s= pd.Series(lista)

In [ ]:
s

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

Conteo de los nulos

In [ ]:
s.size

4

Para contar valores en una serie, usar método value_counts()

In [ ]:
s.value_counts()

1.0    1
3.0    1
4.0    1
dtype: int64

Sumar los valores únicos del value_count

In [ ]:
s.value_counts().sum()

3

Otra forma es utilizando .nunique(), siendo "n" valores "unicos"

In [ ]:
s.nunique()

3

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

### Indexación

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', usecols= ["Species"], squeeze = True)

Queremos buscar 'setosa' en iris.

"in" busca sobre el ìndice de la serie, NO sobre los valores

In [ ]:
'setosa' in iris

False

In [ ]:
'setosa' in iris.values

True

#### Índices

In [ ]:
iris[0]

'setosa'

Acceder a varios elementos de la serie --> le paso una lista como argumento:

In [ ]:
iris[[2,5,10]]

2     setosa
5     setosa
10    setosa
Name: Species, dtype: object

Límite superior es NO INCLUSIVO

In [ ]:
iris[10:100]

10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
         ...
95    versicolor
96    versicolor
97    versicolor
98    versicolor
99    versicolor
Name: Species, Length: 90, dtype: object

Lista empezando desde el inicio hasta el 49

In [ ]:
iris[:50]

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
11    setosa
12    setosa
13    setosa
14    setosa
15    setosa
16    setosa
17    setosa
18    setosa
19    setosa
20    setosa
21    setosa
22    setosa
23    setosa
24    setosa
25    setosa
26    setosa
27    setosa
28    setosa
29    setosa
30    setosa
31    setosa
32    setosa
33    setosa
34    setosa
35    setosa
36    setosa
37    setosa
38    setosa
39    setosa
40    setosa
41    setosa
42    setosa
43    setosa
44    setosa
45    setosa
46    setosa
47    setosa
48    setosa
49    setosa
Name: Species, dtype: object

Últimos 10 elementos

In [ ]:
iris[-10:]

140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, dtype: object

Lista empezando desde el índice 20 hasta el final

In [ ]:
iris[20:]

20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 130, dtype: object

Importamos iris_id

In [ ]:
iris_id = pd.read_csv("Python/M3/S3/iris.csv", usecols = ["Id", "Species"], index_col="Id", squeeze = True)

In [ ]:
iris_id.head()

Id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: Species, dtype: object

In [ ]:
iris_id[0]

'setosa'

Lista para obtener varios elementos

In [ ]:
iris_id[[20,30,40]]

Id
A21    setosa
A31    setosa
A41    setosa
Name: Species, dtype: object

### Etiquetas

También se puede extraer usando las ETIQUETAS del índice:

In [ ]:
iris_id['A70']

'versicolor'

In [ ]:
########## Ejemplo error ##########

#PREGUNTA: ¿Qué pasaría con la siguiente linea de còdigo
# iris_id["A70", "A100", "A121"]

# necesitamos pasar una lista ["s1", "s2",..., "sn"]

In [ ]:
iris_id[["A70", "A100", "A121"]]

Id
A70     versicolor
A100    versicolor
A121     virginica
Name: Species, dtype: object

Aquí límite superior SI se incluye

In [ ]:
iris_id["A1": "A20"]

Id
A1     setosa
A2     setosa
A3     setosa
A4     setosa
A5     setosa
A6     setosa
A7     setosa
A8     setosa
A9     setosa
A10    setosa
A11    setosa
A12    setosa
A13    setosa
A14    setosa
A15    setosa
A16    setosa
A17    setosa
A18    setosa
A19    setosa
A20    setosa
Name: Species, dtype: object

Lista del 1 al 19 teniendo saltos de 2 en 2, por lo que ya no se incluye al 20.

In [ ]:
iris_id["A1":"A20": 2]

Id
A1     setosa
A3     setosa
A5     setosa
A7     setosa
A9     setosa
A11    setosa
A13    setosa
A15    setosa
A17    setosa
A19    setosa
Name: Species, dtype: object

In [ ]:
########## Ejemplo error ##########

# iris_id[["A70", "A100", "A300"]]
#error ya que el valor "A300" NO EXISTE

In [ ]:
iris_id.tail()

Id
A146    virginica
A147    virginica
A148    virginica
A149    virginica
A150    virginica
Name: Species, dtype: object

## JSON

Podemos cargar un fichero JSON en Pandas DataFrame utilizando la función pandas.read_json() pasando la ruta del fichero JSON como parámetro a la función pandas.read_json().

Vamos a crear un DataFrame a partir del archivo data.json.

### Columnas

    {
      "Name": {
        "1": "Anil",
        "2": "Biraj",
        "3": "Apil",
        "4": "Kapil"
      },
      "Age": {
          "1": 23,
          "2": 25,
          "3": 28,
          "4": 30
      },
      "Height": {
          "1": 170,
          "2": 168,
          "3": 174,
          "4": 165
      }
    }

El código siguiente nos muestra el DataFrame generado a partir de los datos del fichero data_columnas.json. Debemos asegurarnos de que tenemos el archivo data.json en nuestro directorio de trabajo actual para generar el DataFrame; de lo contrario, debemos proporcionar la ruta completa del archivo JSON como argumento al método pandas.read_json().

In [ ]:
df_json=pd.read_json("Python/M3/S3/data_columnas.json")

print(df_json)

    Name  Age  Height
1   Anil   23     170
2  Biraj   25     168
3   Apil   28     174
4  Kapil   30     165

El DataFrame formado a partir del archivo JSON depende de la orientación del archivo JSON. Tenemos tres orientaciones diferentes del archivo JSON en general.

Orientado al índice
Orientado a valores
Orientado a columnas

### Índices

    {
      "0": {
          "Name": "Anil",
          "Age": 23,
          "Height": 170
      },
      "1": {
          "Name": "Biraj",
          "Age": 25,
          "Height": 168
      },
      "2": {
          "Name": "Apil",
          "Age": 26,
          "Height": 174
      },
      "3": {
          "Name": "Kapil",
          "Age": 20,
          "Height": 165
      }
    }

In [ ]:
df_json_indice=pd.read_json("Python/M3/S3/data_indice.json")

print(df_json_indice)

           0      1     2      3
Name    Anil  Biraj  Apil  Kapil
Age       23     25    26     20
Height   170    168   174    165

## Valores

    [
      ["Anil", 23, 170],
      ["Biraj", 25, 168],
      ["Apil", 26, 174],
      ["Kapil", 26, 165]
    ]

In [ ]:
df_json_indice=pd.read_json("Python/M3/S3/data_valores.json")

print(df_json_indice)

       0   1    2
0   Anil  23  170
1  Biraj  25  168
2   Apil  26  174
3   Kpil  26  165

#Manipulación de información

##Extracción de registros

## set_index()

El método set_index fija una columna del dataframe como índice, descartando el índice existente.

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.set_index('first_name', inplace = True)

In [ ]:
df.head()

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berrie                1    Manueau  ...  154864         4
Aeriell               2      McNee  ...   56752         3
Sydney                3    Symonds  ...   95313         4
Avrom                 4  Rowantree  ...  119674         7
Feliks                5    Morffew  ...   55307         5

[5 rows x 8 columns]

In [ ]:
df.index

Index(['Berrie', 'Aeriell', 'Sydney', 'Avrom', 'Feliks', 'Bethena', 'Ardeen',
       'Seline', 'Dayle', 'Redford',
       ...
       'Marquita', 'Katharine', 'Frank', 'Aurlie', 'Reese', 'Gardiner',
       'Rhianna', 'Brandice', 'Kingston', 'Jacquelin'],
      dtype='object', name='first_name', length=1000)

In [ ]:
df.reset_index(inplace = True)

In [ ]:
'Thomas' in df['first_name'].values

False

## .loc[ ]

loc se utiliza para acceder a registros usando las ETIQUETAS del índice.

In [ ]:
df.head()

  first_name  employee_id  last_name  ... gender  salary region_id
0     Berrie            1    Manueau  ...      F  154864         4
1    Aeriell            2      McNee  ...      F   56752         3
2     Sydney            3    Symonds  ...      F   95313         4
3      Avrom            4  Rowantree  ...      M  119674         7
4     Feliks            5    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_name   1000 non-null   object
 1   employee_id  1000 non-null   int64
 2   last_name    1000 non-null   object
 3   email        796 non-null    object
 4   hire_date    1000 non-null   object
 5   department   1000 non-null   object
 6   gender       1000 non-null   object
 7   salary       1000 non-null   int64
 8   region_id    1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [ ]:
df['hire_date'] = pd.to_datetime(df['hire_date'])

In [ ]:
df.set_index('hire_date', inplace = True)
df.head(3)

           first_name  employee_id last_name  ... gender  salary region_id
hire_date                                     ...
2006-04-20     Berrie            1   Manueau  ...      F  154864         4
2009-01-26    Aeriell            2     McNee  ...      F   56752         3
2010-05-17     Sydney            3   Symonds  ...      F   95313         4

[3 rows x 8 columns]

In [ ]:
df.sort_index(inplace = True)

In [ ]:
df.head(10)

           first_name  employee_id   last_name  ... gender  salary region_id
hire_date                                       ...
2003-01-01  Cassandra          300      Hoston  ...      F  106936         7
2003-01-01     Norbie          271  Bleasdille  ...      M   82215         6
2003-01-03      Dayle            9       Trail  ...      F   82753         1
2003-01-11        Lyn          225      Guppie  ...      F   41380         4
2003-01-14     Feliks            5     Morffew  ...      M   55307         5
2003-01-20   Cecilius          739      Cottey  ...      M   98882         6
2003-01-26   Eugenius          488       Siege  ...      M  152118         1
2003-02-03       Bear          486    Sessions  ...      M  143117         3
2003-02-05       Tabb          988  Huddleston  ...      M   47591         6
2003-02-06      Byron          874     Rummins  ...      M   54434         1

[10 rows x 8 columns]

In [ ]:
df.loc['2003-02-05']

first_name                          Tabb
employee_id                          988
last_name                     Huddleston
email          thuddlestonrf@yahoo.co.jp
department                    Automotive
gender                                 M
salary                             47591
region_id                              6
Name: 2003-02-05 00:00:00, dtype: object

In [ ]:
type(df.loc['2003-02-05'])

pandas.core.series.Series

In [ ]:
df.reset_index(inplace=True)
df.set_index('first_name', inplace = True)
df.head()

            hire_date  employee_id   last_name  ... gender  salary region_id
first_name                                      ...
Cassandra  2003-01-01          300      Hoston  ...      F  106936         7
Norbie     2003-01-01          271  Bleasdille  ...      M   82215         6
Dayle      2003-01-03            9       Trail  ...      F   82753         1
Lyn        2003-01-11          225      Guppie  ...      F   41380         4
Feliks     2003-01-14            5     Morffew  ...      M   55307         5

[5 rows x 8 columns]

In [ ]:
df.loc['Lyn']

hire_date      2003-01-11 00:00:00
employee_id                    225
last_name                   Guppie
email           lguppie68@army.mil
department        Phones & Tablets
gender                           F
salary                       41380
region_id                        4
Name: Lyn, dtype: object

In [ ]:
df.set_index('gender', inplace=True)

In [ ]:
df.head()

        hire_date  employee_id   last_name  ...        department  salary  region_id
gender                                      ...
F      2003-01-01          300      Hoston  ...            Beauty  106936          7
M      2003-01-01          271  Bleasdille  ...         First Aid   82215          6
F      2003-01-03            9       Trail  ...         First Aid   82753          1
F      2003-01-11          225      Guppie  ...  Phones & Tablets   41380          4
M      2003-01-14            5     Morffew  ...         Computers   55307          5

[5 rows x 7 columns]

In [ ]:
df.index

Index(['F', 'M', 'F', 'F', 'M', 'M', 'M', 'M', 'M', 'M',
       ...
       'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'],
      dtype='object', name='gender', length=1000)

In [ ]:
df.reset_index(inplace = True)
df.head()

  gender  hire_date  employee_id  ...        department  salary region_id
0      F 2003-01-01          300  ...            Beauty  106936         7
1      M 2003-01-01          271  ...         First Aid   82215         6
2      F 2003-01-03            9  ...         First Aid   82753         1
3      F 2003-01-11          225  ...  Phones & Tablets   41380         4
4      M 2003-01-14            5  ...         Computers   55307         5

[5 rows x 8 columns]

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.set_index('first_name', inplace=True)
df.head()

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berrie                1    Manueau  ...  154864         4
Aeriell               2      McNee  ...   56752         3
Sydney                3    Symonds  ...   95313         4
Avrom                 4  Rowantree  ...  119674         7
Feliks                5    Morffew  ...   55307         5

[5 rows x 8 columns]

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.head(10)

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3
Adam                636    Fenwick  ...   67057         3
Addia               536     Dannel  ...   20613         5
Addy                317    Warlock  ...  101112         3
Adelaida            232    Peebles  ...   50306         7
Adelaide            753     Gubbin  ...   27578         7
Adrian              541       Vase  ...   41871         7
Adrianna            609   Pickford  ...  108411         2

[10 rows x 8 columns]

Aquí el segundo valor SI es inclusivo

In [ ]:
df.loc['Berrie': 'Diana']

            employee_id    last_name  ...  salary region_id
first_name                            ...
Berrie                1      Manueau  ...  154864         4
Berte               749  Westmerland  ...  125125         6
Berthe              965       Buller  ...  156041         6
Berti               771    Randerson  ...  150740         3
Bertie              184   Androletti  ...  109859         3
...                 ...          ...  ...     ...       ...
Denney              202       Ducker  ...   42447         4
Dennison            503       Redier  ...   83160         5
Devon               778        Pauly  ...   27049         2
Devondra            500    Bannester  ...   94635         7
Dexter              939     McDermid  ...   80657         4

[165 rows x 8 columns]

Del valor indicado hasta el final

In [ ]:
df.loc['John':]

            employee_id     last_name  ...  salary region_id
first_name                             ...
Johnette            152      Claworth  ...   27750         3
Johnnie             114        Waight  ...  120362         6
Joleen              156      Rothwell  ...   29838         2
Jonas               954      Winslett  ...   62382         7
Jonathan            863        Hegden  ...  121524         1
...                 ...           ...  ...     ...       ...
Zahara              576  Hindenberger  ...   88174         7
Zane                 25         Breem  ...   56688         6
Zebulon              72        Guppey  ...   89221         7
Zeke                800      Keyworth  ...  163688         2
Zita                734         Lavis  ...   51503         3

[493 rows x 8 columns]

Desde el principio hasta el valor indicado

In [ ]:
df.loc[:'Gary']

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3
Adam                636    Fenwick  ...   67057         3
Addia               536     Dannel  ...   20613         5
...                 ...        ...  ...     ...       ...
Garald              482     Sunman  ...  145225         2
Gardiner            996       Aron  ...  111859         1
Garold              395    Chasney  ...  118100         7
Garrard             670    Baudone  ...  104859         7
Garrot              353    Geldart  ...   28293         1

[382 rows x 8 columns]

In [ ]:
df.loc["Berti"]

employee_id                            771
last_name                        Randerson
email          brandersonle@opensource.org
hire_date                         06/10/16
department               Children Clothing
gender                                   M
salary                              150740
region_id                                3
Name: Berti, dtype: object

Si quiero extraer màs de un registro se le proporciona una lista

In [ ]:
df.loc[['Berti', 'Garrot', 'Zane']]

            employee_id  last_name  ...  salary region_id
first_name                          ...
Berti               771  Randerson  ...  150740         3
Garrot              353    Geldart  ...   28293         1
Zane                 25      Breem  ...   56688         6

[3 rows x 8 columns]

## iloc[]

"index location"

In [ ]:
df.head(3)

            employee_id  last_name  ...  salary region_id
first_name                          ...
Abbot               708    Attwill  ...   78935         3
Abbott              648     Mundow  ...  106517         7
Abby                216  Seawright  ...   56889         3

[3 rows x 8 columns]

In [ ]:
df.iloc[0]

employee_id                       708
last_name                     Attwill
email          aattwilljn@cbsnews.com
hire_date                    08/12/10
department                     Movies
gender                              M
salary                          78935
region_id                           3
Name: Abbot, dtype: object

In [ ]:
df.loc['Abby']

employee_id                     216
last_name                 Seawright
email          aseawright5z@ask.com
hire_date                  01/09/11
department                  Jewelry
gender                            F
salary                        56889
region_id                         3
Name: Abby, dtype: object

In [ ]:
df.iloc[[1,5,7]]

            employee_id last_name  ...  salary region_id
first_name                         ...
Abbott              648    Mundow  ...  106517         7
Addy                317   Warlock  ...  101112         3
Adelaide            753    Gubbin  ...   27578         7

[3 rows x 8 columns]

In [ ]:
df.iloc[4:8]

            employee_id last_name  ...  salary region_id
first_name                         ...
Addia               536    Dannel  ...   20613         5
Addy                317   Warlock  ...  101112         3
Adelaida            232   Peebles  ...   50306         7
Adelaide            753    Gubbin  ...   27578         7

[4 rows x 8 columns]

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.iloc[4:8]

  first_name  employee_id last_name  ... gender  salary region_id
4      Addia          536    Dannel  ...      F   20613         5
5       Addy          317   Warlock  ...      F  101112         3
6   Adelaida          232   Peebles  ...      F   50306         7
7   Adelaide          753    Gubbin  ...      F   27578         7

[4 rows x 9 columns]

Extraer desde el inicio hasta el cuarto registro.

In [ ]:
df.iloc[:4]

  first_name  employee_id  last_name  ... gender  salary region_id
0      Abbot          708    Attwill  ...      M   78935         3
1     Abbott          648     Mundow  ...      M  106517         7
2       Abby          216  Seawright  ...      F   56889         3
3       Adam          636    Fenwick  ...      M   67057         3

[4 rows x 9 columns]

In [ ]:
df.iloc[4:]

    first_name  employee_id     last_name  ... gender  salary region_id
4        Addia          536        Dannel  ...      F   20613         5
5         Addy          317       Warlock  ...      F  101112         3
6     Adelaida          232       Peebles  ...      F   50306         7
7     Adelaide          753        Gubbin  ...      F   27578         7
8       Adrian          541          Vase  ...      F   41871         7
..         ...          ...           ...  ...    ...     ...       ...
995     Zahara          576  Hindenberger  ...      F   88174         7
996       Zane           25         Breem  ...      M   56688         6
997    Zebulon           72        Guppey  ...      M   89221         7
998       Zeke          800      Keyworth  ...      M  163688         2
999       Zita          734         Lavis  ...      F   51503         3

[996 rows x 9 columns]

In [ ]:
df.iloc[24]

first_name                Alexander
employee_id                     763
last_name                    Bodker
email          abodkerl6@drupal.org
hire_date                  01/08/10
department                    Music
gender                            M
salary                       151422
region_id                         4
Name: 24, dtype: object

## Ejemplos

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df.set_index('hire_date', inplace=True)

In [ ]:
df.sort_index(inplace = True)
df.head(4)

           employee_id first_name    last_name  ... gender  salary region_id
hire_date                                       ...
01/01/03           271     Norbie   Bleasdille  ...      M   82215         6
01/01/03           300  Cassandra       Hoston  ...      F  106936         7
01/01/04            15     Alyson  Franzonello  ...      F   61256         6
01/01/05           556     Mollie        Darco  ...      F   76273         7

[4 rows x 8 columns]

Intersección entre fila y columna

In [ ]:
df.loc['01/01/05', 'first_name']

'Mollie'

In [ ]:
df.loc['01/01/05', ['first_name', 'salary']]

first_name    Mollie
salary         76273
Name: 01/01/05, dtype: object

Pasamos 2 listas., donde la salida (output) es tipo df.

In [ ]:
df.loc[['01/01/05', '01/03/12'], ['first_name', 'salary']]

          first_name  salary
hire_date
01/01/05      Mollie   76273
01/03/12        Cary  134559

In [ ]:
df.loc[['01/01/05', '01/03/12'], 'first_name': 'department']

          first_name last_name                email department
hire_date
01/01/05      Mollie     Darco  mdarcoff@taobao.com      Music
01/03/12        Cary      Lark    clarkqb@blogs.com  First Aid

'ini': 'fin' para reng y cols.

In [ ]:
df.loc['01/01/05':'01/06/07', 'first_name': 'department']

          first_name  ...        department
hire_date             ...
01/01/05      Mollie  ...             Music
01/01/06       Roger  ...     Device Repair
01/01/08      Candra  ...         Computers
01/01/15    Emanuele  ...            Garden
01/02/07       Cayla  ...           Grocery
01/02/15       Annie  ...              Toys
01/03/03       Dayle  ...         First Aid
01/03/09       Jania  ...             Music
01/03/12        Cary  ...         First Aid
01/03/14     Gustavo  ...            Sports
01/04/04       Cybil  ...        Automotive
01/04/04       Olvan  ...             Books
01/04/15      Marijo  ...  Phones & Tablets
01/05/07      Bordie  ...            Garden
01/05/09       Paxon  ...          Pharmacy
01/05/12     Gabriel  ...         Cosmetics
01/06/07       Binni  ...             Decor

[17 rows x 4 columns]

In [ ]:
df.loc['01/01/05':'01/06/07', :'salary']

           employee_id first_name  last_name  ...        department gender  salary
hire_date                                     ...
01/01/05           556     Mollie      Darco  ...             Music      F   76273
01/01/06           480      Roger    Spurdon  ...     Device Repair      M   20664
01/01/08           966     Candra     Vannet  ...         Computers      F   97259
01/01/15            28   Emanuele  Sandcraft  ...            Garden      M   70827
01/02/07            22      Cayla     Duffer  ...           Grocery      F   78589
01/02/15           804      Annie      Denge  ...              Toys      F  149161
01/03/03             9      Dayle      Trail  ...         First Aid      F   82753
01/03/09           250      Jania     Larway  ...             Music      F   86683
01/03/12           948       Cary       Lark  ...         First Aid      M  134559
01/03/14           398    Gustavo   Jollands  ...            Sports      M   77085
01/04/04           515      Cybil      Perez  ...        Automotive      F  123828
01/04/04           123      Olvan      Ladds  ...             Books      M   61102
01/04/15           387     Marijo     Hostan  ...  Phones & Tablets      F   71197
01/05/07           594     Bordie    Kulvear  ...            Garden      M   48468
01/05/09           729      Paxon  Northidge  ...          Pharmacy      M  162924
01/05/12           199    Gabriel    Widocks  ...         Cosmetics      M  154376
01/06/07           237      Binni      Daily  ...             Decor      F   38707

[17 rows x 7 columns]

In [ ]:
df.loc['01/01/05':'01/06/07', 'gender':]

          gender  salary  region_id
hire_date
01/01/05       F   76273          7
01/01/06       M   20664          6
01/01/08       F   97259          2
01/01/15       M   70827          2
01/02/07       F   78589          3
01/02/15       F  149161          3
01/03/03       F   82753          1
01/03/09       F   86683          6
01/03/12       M  134559          1
01/03/14       M   77085          3
01/04/04       F  123828          1
01/04/04       M   61102          3
01/04/15       F   71197          7
01/05/07       M   48468          7
01/05/09       M  162924          4
01/05/12       M  154376          5
01/06/07       F   38707          2

Análogamente para .iloc[]

In [ ]:
df.head()

           employee_id first_name    last_name  ... gender  salary region_id
hire_date                                       ...
01/01/03           271     Norbie   Bleasdille  ...      M   82215         6
01/01/03           300  Cassandra       Hoston  ...      F  106936         7
01/01/04            15     Alyson  Franzonello  ...      F   61256         6
01/01/05           556     Mollie        Darco  ...      F   76273         7
01/01/06           480      Roger      Spurdon  ...      M   20664         6

[5 rows x 8 columns]

In [ ]:
#Sup quiero renglones 10:12 y cols quiero hasta Bonus %
df.iloc[10:12, :5]

           employee_id first_name last_name                  email department
hire_date
01/03/09           250      Jania    Larway  jlarway6x@skyrock.com      Music
01/03/12           948       Cary      Lark      clarkqb@blogs.com  First Aid

In [ ]:
df.iloc[10:12, [0,1,4]]

           employee_id first_name department
hire_date
01/03/09           250      Jania      Music
01/03/12           948       Cary  First Aid

In [ ]:
df.reset_index(inplace = True)
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         7
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

In [ ]:
df.loc[1,'department'] = 'Marketing'
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         7
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

In [ ]:
df.loc[1, ['region_id', 'department']] = [5, 'Finance']

In [ ]:
df.head()

  hire_date  employee_id first_name  ... gender  salary region_id
0  01/01/03          271     Norbie  ...      M   82215         6
1  01/01/03          300  Cassandra  ...      F  106936         5
2  01/01/04           15     Alyson  ...      F   61256         6
3  01/01/05          556     Mollie  ...      F   76273         7
4  01/01/06          480      Roger  ...      M   20664         6

[5 rows x 9 columns]

Si queremos cambiar verificar un valor de una columna todas las veces que aparezca nos regresará un booleano:

In [ ]:
df['first_name']== 'Cassandra'

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: first_name, Length: 1000, dtype: bool

In [ ]:
is_Cassandra = df['first_name'] == 'Cassandra'

In [ ]:
df.loc[is_Cassandra]

  hire_date  employee_id first_name  ... gender  salary region_id
1  01/01/03          300  Cassandra  ...      F  106936         5

[1 rows x 9 columns]

In [ ]:
is_male = df['gender']== 'M'
df[is_male]

    hire_date  employee_id first_name  ... gender  salary region_id
0    01/01/03          271     Norbie  ...      M   82215         6
4    01/01/06          480      Roger  ...      M   20664         6
6    01/01/15           28   Emanuele  ...      M   70827         2
11   01/03/12          948       Cary  ...      M  134559         1
12   01/03/14          398    Gustavo  ...      M   77085         3
..        ...          ...        ...  ...    ...     ...       ...
994  31/07/09          335      Tripp  ...      M  111798         7
996  31/10/04          155    Fleming  ...      M   66813         4
997  31/12/03          786     Billie  ...      M   64956         5
998  31/12/04          383        Dun  ...      M   82064         2
999  31/12/15          470     Hallsy  ...      M   98649         5

[499 rows x 9 columns]

In [ ]:
df.loc[is_Cassandra, 'first_name'] = 'Cass'

In [ ]:
df

    hire_date  employee_id first_name  ... gender  salary region_id
0    01/01/03          271     Norbie  ...      M   82215         6
1    01/01/03          300       Cass  ...      F  106936         5
2    01/01/04           15     Alyson  ...      F   61256         6
3    01/01/05          556     Mollie  ...      F   76273         7
4    01/01/06          480      Roger  ...      M   20664         6
..        ...          ...        ...  ...    ...     ...       ...
995  31/08/13          301     Harley  ...      F   72504         2
996  31/10/04          155    Fleming  ...      M   66813         4
997  31/12/03          786     Billie  ...      M   64956         5
998  31/12/04          383        Dun  ...      M   82064         2
999  31/12/15          470     Hallsy  ...      M   98649         5

[1000 rows x 9 columns]

In [ ]:
df.set_index('gender', inplace = True)
df.tail()

       hire_date  employee_id first_name  ...         department salary region_id
gender                                    ...
F       31/08/13          301     Harley  ...           Pharmacy  72504         2
M       31/10/04          155    Fleming  ...              Games  66813         4
M       31/12/03          786     Billie  ...           Plumbing  64956         5
M       31/12/04          383        Dun  ...   Phones & Tablets  82064         2
M       31/12/15          470     Hallsy  ...  Children Clothing  98649         5

[5 rows x 8 columns]

Le pedimos todos las filas que tengan nulos

In [ ]:
df[df.index.isnull()]

Empty DataFrame
Columns: [hire_date, employee_id, first_name, last_name, email, department, salary, region_id]
Index: []

# Manipulación

### Agregar variables

Usando la sentencia ``<nombre dataframe>["var nueva"]``

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
df["BandaSalMiles"] = df["salary"]/1000
df.head()

   employee_id first_name  last_name  ...  salary region_id BandaSalMiles
0            1     Berrie    Manueau  ...  154864         4       154.864
1            2    Aeriell      McNee  ...   56752         3        56.752
2            3     Sydney    Symonds  ...   95313         4        95.313
3            4      Avrom  Rowantree  ...  119674         7       119.674
4            5     Feliks    Morffew  ...   55307         5        55.307

[5 rows x 10 columns]

#### Usando Numpy `np.select` y `np.choices`

In [ ]:
import numpy as np

Agregar una condición como sigue:

```
si salary <15000 entonces banda=1

si no y <= 30000 entonces Banda=2

si no y <= 60000 entonces Banda=3

si no y <= 90000 entonces Banda=4

si no y <= 120000 entonces Banda=5

si no  Banda=6
```

In [ ]:
conditions = [df['salary']<15000, df['salary'] <= 30000, df['salary']<60000, df['salary'] <= 90000,df['salary'] <= 120000]
 
choices = [1,2,3,4,5]

In [ ]:
df['Bandas'] = np.select(conditions, choices, default= 6 )
df.head(5)

   employee_id first_name  last_name  ... region_id BandaSalMiles Bandas
0            1     Berrie    Manueau  ...         4       154.864      6
1            2    Aeriell      McNee  ...         3        56.752      3
2            3     Sydney    Symonds  ...         4        95.313      5
3            4      Avrom  Rowantree  ...         7       119.674      5
4            5     Feliks    Morffew  ...         5        55.307      3

[5 rows x 11 columns]

#### Usando funciones ``apply``  y ``lambda``

In [ ]:
def bandas(salary):
    if salary < 15000:
        banda=1
    elif salary < 30000:
        banda=2
    elif salary < 60000:
        banda=3
    elif salary < 90000:
        banda=4   
    elif salary < 120000:
        banda=5            
    else:
        banda=6
    return banda

In [ ]:
df['Bandas2'] = df.apply(lambda x: bandas(x['salary']), axis=1)
df.head(10)

   employee_id first_name  last_name  ... BandaSalMiles Bandas Bandas2
0            1     Berrie    Manueau  ...       154.864      6       6
1            2    Aeriell      McNee  ...        56.752      3       3
2            3     Sydney    Symonds  ...        95.313      5       5
3            4      Avrom  Rowantree  ...       119.674      5       5
4            5     Feliks    Morffew  ...        55.307      3       3
5            6    Bethena       Trow  ...       134.501      6       6
6            7     Ardeen    Curwood  ...        28.995      2       2
7            8     Seline     Dubber  ...       101.066      5       5
8            9      Dayle      Trail  ...        82.753      4       4
9           10    Redford    Roberti  ...        72.225      4       4

[10 rows x 12 columns]

### Filtros

In [ ]:
cond1 = df['gender']=='F'
cond2 = df['salary']> 90000

In [ ]:
df[cond1 & cond2]

     employee_id first_name     last_name  ... BandaSalMiles Bandas Bandas2
0              1     Berrie       Manueau  ...       154.864      6       6
2              3     Sydney       Symonds  ...        95.313      5       5
5              6    Bethena          Trow  ...       134.501      6       6
7              8     Seline        Dubber  ...       101.066      5       5
11            12    Leonora      Casaroli  ...        99.504      5       5
..           ...        ...           ...  ...           ...    ...     ...
974          975       Isis        McKinn  ...       124.444      6       6
979          980      Lyndy        Tooker  ...       112.796      5       5
993          994     Aurlie  Kindleysides  ...       104.822      5       5
996          997    Rhianna        Trynor  ...       120.753      6       6
997          998   Brandice    Gillicuddy  ...       134.058      6       6

[247 rows x 12 columns]

In [ ]:
df['first_name'].value_counts()

Billie       3
Roslyn       3
Ashia        2
Cody         2
Darrin       2
            ..
Maridel      1
Daren        1
Paulo        1
Taite        1
Jacquelin    1
Name: first_name, Length: 929, dtype: int64

In [ ]:
is_Roslyn = df['first_name'] == 'Roslyn'

In [ ]:
#list comprehension:
[i for i in is_Roslyn.index if is_Roslyn[i]]

[125, 128, 443]

In [ ]:
df.iloc[[125, 128, 443]]

     employee_id first_name last_name  ... BandaSalMiles Bandas Bandas2
125          126     Roslyn      Guiu  ...       157.260      6       6
128          129     Roslyn     Frape  ...        91.287      5       5
443          444     Roslyn     Purse  ...        42.605      3       3

[3 rows x 12 columns]

## Drop

In [ ]:
df.drop(1) #quitar renglòn con índice igual 1

     employee_id first_name   last_name  ... BandaSalMiles Bandas Bandas2
0              1     Berrie     Manueau  ...       154.864      6       6
2              3     Sydney     Symonds  ...        95.313      5       5
3              4      Avrom   Rowantree  ...       119.674      5       5
4              5     Feliks     Morffew  ...        55.307      3       3
5              6    Bethena        Trow  ...       134.501      6       6
..           ...        ...         ...  ...           ...    ...     ...
995          996   Gardiner        Aron  ...       111.859      5       5
996          997    Rhianna      Trynor  ...       120.753      6       6
997          998   Brandice  Gillicuddy  ...       134.058      6       6
998          999   Kingston      Piwall  ...        45.679      3       3
999         1000  Jacquelin      Cassam  ...        28.726      2       2

[999 rows x 12 columns]

In [ ]:
df.drop([1,3,5]) #quitar renglones con índices 1,3 y 5

     employee_id first_name   last_name  ... BandaSalMiles Bandas Bandas2
0              1     Berrie     Manueau  ...       154.864      6       6
2              3     Sydney     Symonds  ...        95.313      5       5
4              5     Feliks     Morffew  ...        55.307      3       3
6              7     Ardeen     Curwood  ...        28.995      2       2
7              8     Seline      Dubber  ...       101.066      5       5
..           ...        ...         ...  ...           ...    ...     ...
995          996   Gardiner        Aron  ...       111.859      5       5
996          997    Rhianna      Trynor  ...       120.753      6       6
997          998   Brandice  Gillicuddy  ...       134.058      6       6
998          999   Kingston      Piwall  ...        45.679      3       3
999         1000  Jacquelin      Cassam  ...        28.726      2       2

[997 rows x 12 columns]

In [ ]:
df.head(7)

   employee_id first_name  last_name  ... BandaSalMiles Bandas Bandas2
0            1     Berrie    Manueau  ...       154.864      6       6
1            2    Aeriell      McNee  ...        56.752      3       3
2            3     Sydney    Symonds  ...        95.313      5       5
3            4      Avrom  Rowantree  ...       119.674      5       5
4            5     Feliks    Morffew  ...        55.307      3       3
5            6    Bethena       Trow  ...       134.501      6       6
6            7     Ardeen    Curwood  ...        28.995      2       2

[7 rows x 12 columns]

In [ ]:
#sup queremos quitar columna 'Gender'
df.drop('gender', axis = 1)   #actua sobre columnas

     employee_id first_name   last_name  ... BandaSalMiles Bandas Bandas2
0              1     Berrie     Manueau  ...       154.864      6       6
1              2    Aeriell       McNee  ...        56.752      3       3
2              3     Sydney     Symonds  ...        95.313      5       5
3              4      Avrom   Rowantree  ...       119.674      5       5
4              5     Feliks     Morffew  ...        55.307      3       3
..           ...        ...         ...  ...           ...    ...     ...
995          996   Gardiner        Aron  ...       111.859      5       5
996          997    Rhianna      Trynor  ...       120.753      6       6
997          998   Brandice  Gillicuddy  ...       134.058      6       6
998          999   Kingston      Piwall  ...        45.679      3       3
999         1000  Jacquelin      Cassam  ...        28.726      2       2

[1000 rows x 11 columns]

In [ ]:
df.drop(['gender', 'salary'], axis = 1)

     employee_id first_name   last_name  ... BandaSalMiles Bandas Bandas2
0              1     Berrie     Manueau  ...       154.864      6       6
1              2    Aeriell       McNee  ...        56.752      3       3
2              3     Sydney     Symonds  ...        95.313      5       5
3              4      Avrom   Rowantree  ...       119.674      5       5
4              5     Feliks     Morffew  ...        55.307      3       3
..           ...        ...         ...  ...           ...    ...     ...
995          996   Gardiner        Aron  ...       111.859      5       5
996          997    Rhianna      Trynor  ...       120.753      6       6
997          998   Brandice  Gillicuddy  ...       134.058      6       6
998          999   Kingston      Piwall  ...        45.679      3       3
999         1000  Jacquelin      Cassam  ...        28.726      2       2

[1000 rows x 10 columns]

In [ ]:
#otro metodo para borrar columnas --> pop()
# Es permanente y devuelve lo que borró
# NO REQUIERE inplace

In [ ]:
nombre = df.pop('first_name')
nombre

0         Berrie
1        Aeriell
2         Sydney
3          Avrom
4         Feliks
         ...
995     Gardiner
996      Rhianna
997     Brandice
998     Kingston
999    Jacquelin
Name: first_name, Length: 1000, dtype: object

In [ ]:
df.head()

   employee_id  last_name                 email  ... BandaSalMiles Bandas Bandas2
0            1    Manueau  bmanueau0@dion.ne.jp  ...       154.864      6       6
1            2      McNee     amcnee1@google.es  ...        56.752      3       3
2            3    Symonds     ssymonds2@hhs.gov  ...        95.313      5       5
3            4  Rowantree                   NaN  ...       119.674      5       5
4            5    Morffew      fmorffew4@a8.net  ...        55.307      3       3

[5 rows x 11 columns]

In [ ]:
# otra forma:
del df['salary']

In [ ]:
df

     employee_id   last_name  ... Bandas Bandas2
0              1     Manueau  ...      6       6
1              2       McNee  ...      3       3
2              3     Symonds  ...      5       5
3              4   Rowantree  ...      5       5
4              5     Morffew  ...      3       3
..           ...         ...  ...    ...     ...
995          996        Aron  ...      5       5
996          997      Trynor  ...      6       6
997          998  Gillicuddy  ...      6       6
998          999      Piwall  ...      3       3
999         1000      Cassam  ...      2       2

[1000 rows x 10 columns]

## Where

In [ ]:
df = pd.read_csv("Python/M3/S3/employees.csv")
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
df[df['first_name']== 'Billie']

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5
895          896     Billie     Hould  ...      M   48551         4

[3 rows x 9 columns]

In [ ]:
is_Billie = df['first_name']== 'Billie'
df[is_Billie]

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5
895          896     Billie     Hould  ...      M   48551         4

[3 rows x 9 columns]

In [ ]:
df.where(is_Billie).style

In [ ]:
[i for i in is_Billie.index if is_Billie[i]]

[175, 785, 895]

In [ ]:
df.where(is_Billie).iloc[[175, 785, 895]]

     employee_id first_name last_name  ... gender    salary region_id
175        176.0     Billie  Trebbett  ...      M  123320.0       7.0
785        786.0     Billie  Alderman  ...      M   64956.0       5.0
895        896.0     Billie     Hould  ...      M   48551.0       4.0

[3 rows x 9 columns]

In [ ]:
df.where(is_Billie).iloc[[i for i in is_Billie.index if is_Billie[i]]]

     employee_id first_name last_name  ... gender    salary region_id
175        176.0     Billie  Trebbett  ...      M  123320.0       7.0
785        786.0     Billie  Alderman  ...      M   64956.0       5.0
895        896.0     Billie     Hould  ...      M   48551.0       4.0

[3 rows x 9 columns]

## Query

In [ ]:
## Los nombres de las variables necesitan NO TENER ESPACIOS
# df['variable']
# df.variable --> no funciona si el nombre tiene espacios.

In [ ]:
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
df.query("first_name == 'Billie' and salary > 50000")

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7
785          786     Billie  Alderman  ...      M   64956         5

[2 rows x 9 columns]

In [ ]:
df.query('first_name == "Billie" and salary > 50000 and department == "Furniture"')

     employee_id first_name last_name  ... gender  salary region_id
175          176     Billie  Trebbett  ...      M  123320         7

[1 rows x 9 columns]

## Group by

1. Se crean grupos basados en valores comunes de ciertas columnas
2. Ideal para agrupar por columnas que tienen valores repetidos.

In [ ]:
equipos = df.groupby('department') #este es un groupby Object
# El argumento es string o una lista de strings
# va a hacer un loop a travès de filas que tengan cada uno de los valores de columna

In [ ]:
equipos.first()
# da el primer registro dentro de cada grupo

                   employee_id  first_name  ...  salary region_id
department                                  ...
Automotive                  23       Vanda  ...  103570         4
Beauty                      12     Leonora  ...   99504         3
Books                       47      Byrann  ...  121054         7
Camping                     82        Dani  ...  102516         2
Children Clothing           38        Edna  ...   91397         5
Clothing                     3      Sydney  ...   95313         4
Computers                    5      Feliks  ...   55307         5
Cosmetics                   25        Zane  ...   56688         6
Decor                      137        Darn  ...  152418         7
Device Repair               19  Bernardine  ...  158268         3
First Aid                    9       Dayle  ...   82753         1
Furniture                   15      Alyson  ...   61256         6
Games                       13      Anetta  ...   38162         1
Garden                      28    Emanuele  ...   70827         2
Grocery                     22       Cayla  ...   78589         3
Jewelry                     11      Nickey  ...  126333         7
Maintenance                203      Lindsy  ...   42370         4
Movies                      16      Merell  ...   78141         7
Music                       52      Charla  ...  162206         2
Pharmacy                    24     Corabel  ...   91323         3
Phones & Tablets             4       Avrom  ...  119674         7
Plumbing                   351       Giana  ...  144363         6
Security                   505     Corabel  ...   36641         6
Sports                       1      Berrie  ...  154864         4
Tools                        2     Aeriell  ...   56752         3
Toys                        17      Annora  ...   75283         5
Vitamins                    39      Mikael  ...   52642         1

[27 rows x 8 columns]

In [ ]:
type(equipos) # es un grupo de DataFrames dentro del objeto GroupBy

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
len(equipos) #Equipos

27

In [ ]:
df['department'].nunique() # hay 10 dif equipos en nuestra tabla

27

In [ ]:
df['department'].unique() #Valores unicos

array(['Sports', 'Tools', 'Clothing', 'Phones & Tablets', 'Computers',
       'First Aid', 'Jewelry', 'Beauty', 'Games', 'Furniture', 'Movies',
       'Toys', 'Device Repair', 'Grocery', 'Automotive', 'Pharmacy',
       'Cosmetics', 'Garden', 'Children Clothing', 'Vitamins', 'Books',
       'Music', 'Camping', 'Decor', 'Maintenance', 'Plumbing', 'Security'],
      dtype=object)

In [ ]:
df['department'].value_counts() #Conteo de valores y acomodados de mayor a menor

First Aid            58
Movies               56
Device Repair        51
Clothing             49
Toys                 47
Computers            47
Children Clothing    47
Beauty               45
Furniture            43
Garden               41
Jewelry              41
Decor                39
Tools                39
Pharmacy             38
Books                37
Vitamins             37
Camping              36
Games                36
Phones & Tablets     35
Cosmetics            34
Sports               34
Automotive           32
Music                29
Grocery              28
Maintenance           8
Plumbing              7
Security              6
Name: department, dtype: int64

In [ ]:
equipos.size() #departamento acomodado alfabéticamente

department
Automotive           32
Beauty               45
Books                37
Camping              36
Children Clothing    47
Clothing             49
Computers            47
Cosmetics            34
Decor                39
Device Repair        51
First Aid            58
Furniture            43
Games                36
Garden               41
Grocery              28
Jewelry              41
Maintenance           8
Movies               56
Music                29
Pharmacy             38
Phones & Tablets     35
Plumbing              7
Security              6
Sports               34
Tools                39
Toys                 47
Vitamins             37
dtype: int64

In [ ]:
equipos.last() # última fila en cada grupo dentro equipos

                   employee_id  first_name  ...  salary region_id
department                                  ...
Automotive                 988        Tabb  ...   47591         6
Beauty                     997     Rhianna  ...  120753         7
Books                      976       Lydon  ...   48145         3
Camping                    971     Noellyn  ...   86895         5
Children Clothing          993       Frank  ...   95828         7
Clothing                   972  Cirstoforo  ...  141256         7
Computers                  986      Sheila  ...   23878         1
Cosmetics                  908  Georgeanne  ...  132783         6
Decor                      973        Dona  ...   98159         1
Device Repair              994      Aurlie  ...  104822         3
First Aid                  990   Cristiano  ...  105648         2
Furniture                  965      Berthe  ...  156041         6
Games                      884      Gordan  ...   40268         3
Garden                     996    Gardiner  ...  111859         1
Grocery                    985       Nelli  ...   52846         5
Jewelry                    953      Edgard  ...   62116         6
Maintenance                982        Enid  ...   54434         5
Movies                     987      Granny  ...  125798         1
Music                     1000   Jacquelin  ...   28726         2
Pharmacy                   962        Wash  ...  158546         5
Phones & Tablets           998    Brandice  ...  134058         2
Plumbing                   786      Billie  ...   64956         5
Security                   730     Timothy  ...   65680         6
Sports                     991    Marquita  ...   38909         4
Tools                      978        Shem  ...  121211         5
Toys                       995       Reese  ...  102169         3
Vitamins                   944         Fee  ...   80502         2

[27 rows x 8 columns]

In [ ]:
## Un atributo del objeto groupby > atributo groups
equipos.groups
#devuelve un DICCIONARIO, donde las llaves (keys) representa cada único grupo y los valores el índice (filas) de
# nuestro df original

{'Automotive': [22, 89, 96, 125, 246, 248, 273, 304, 366, 384, 393, 433, 437, 455, 459, 494, 514, 569, 577, 647, 682, 709, 753, 782, 798, 835, 839, 842, 843, 926, 950, 987], 'Beauty': [11, 29, 34, 49, 59, 113, 147, 160, 182, 192, 203, 233, 255, 277, 299, 346, 352, 354, 385, 434, 444, 453, 458, 481, 510, 521, 525, 538, 629, 638, 663, 685, 686, 691, 718, 763, 795, 827, 830, 874, 878, 910, 924, 959, 996], 'Books': [46, 104, 106, 111, 116, 122, 152, 226, 242, 334, 381, 392, 423, 498, 527, 567, 584, 596, 599, 617, 631, 692, 693, 705, 726, 736, 781, 802, 828, 873, 886, 912, 941, 955, 956, 962, 975], 'Camping': [81, 85, 90, 129, 139, 180, 185, 208, 211, 222, 237, 296, 305, 320, 355, 471, 476, 482, 562, 592, 621, 641, 650, 655, 676, 688, 706, 773, 774, 777, 824, 904, 909, 916, 958, 970], 'Children Clothing': [37, 54, 55, 61, 78, 114, 143, 146, 167, 201, 260, 279, 303, 341, 345, 402, 438, 443, 452, 454, 469, 492, 506, 508, 509, 511, 536, 579, 581, 646, 658, 667, 668, 683, 687, 699, 716, 747, 758, 770, 817, 826, 857, 867, 951, 954, 992], 'Clothing': [2, 6, 9, 20, 47, 53, 69, 79, 83, 91, 120, 145, 166, 172, 221, 258, 281, 285, 302, 313, 315, 322, 347, 376, 401, 441, 449, 490, 507, 524, 545, 547, 606, 659, 674, 702, 727, 730, 739, 757, 790, 792, 807, 809, 815, 851, 885, 957, 971], 'Computers': [4, 19, 35, 60, 72, 73, 92, 103, 169, 206, 239, 306, 312, 332, 333, 344, 380, 389, 406, 408, 431, 446, 477, 532, 565, 612, 619, 642, 680, 725, 748, 766, 767, 769, 816, 818, 840, 847, 850, 856, 892, 901, 913, 928, 965, 979, 985], 'Cosmetics': [24, 52, 133, 148, 174, 194, 198, 254, 286, 310, 317, 340, 383, 409, 418, 425, 436, 468, 489, 526, 574, 624, 627, 628, 648, 653, 712, 771, 797, 801, 861, 895, 899, 907], 'Decor': [136, 196, 220, 236, 245, 269, 272, 298, 325, 348, 375, 416, 424, 470, 485, 488, 497, 513, 566, 575, 580, 610, 616, 626, 651, 662, 681, 714, 723, 732, 737, 749, 869, 877, 914, 933, 946, 967, 972], 'Device Repair': [18, 32, 43, 48, 75, 80, 115, 124, 141, 142, 153, 157, 159, 161, 170, 176, 212, 229, 253, 267, 278, 282, 314, 339, 359, 362, 367, 404, 428, 479, 503, 515, 520, 591, 649, 684, 694, 722, 791, 793, 796, 810, 811, 829, 849, 871, 896, 953, 968, 982, 993], 'First Aid': [8, 31, 56, 82, 119, 138, 178, 188, 191, 199, 200, 256, 266, 270, 297, 301, 319, 326, 328, 391, 432, 457, 466, 475, 499, 500, 558, 559, 600, 603, 608, 620, 644, 661, 677, 698, 734, 735, 741, 743, 761, 764, 780, 786, 823, 825, 836, 859, 889, 891, 900, 906, 908, 917, 919, 935, 947, 989], 'Furniture': [14, 40, 99, 134, 164, 168, 175, 184, 197, 251, 311, 335, 371, 378, 394, 400, 439, 440, 467, 528, 556, 557, 563, 590, 609, 632, 640, 700, 703, 740, 745, 759, 778, 787, 794, 833, 837, 858, 862, 884, 888, 894, 964], 'Games': [12, 28, 64, 77, 135, 149, 151, 154, 158, 204, 207, 228, 238, 241, 280, 295, 329, 351, 530, 533, 534, 537, 553, 561, 598, 634, 652, 656, 756, 760, 800, 819, 834, 852, 855, 883], 'Garden': [27, 30, 102, 128, 132, 137, 171, 209, 218, 290, 293, 330, 361, 364, 370, 372, 374, 398, 442, 463, 517, 518, 519, 546, 564, 587, 593, 607, 611, 625, 657, 660, 701, 715, 866, 890, 921, 948, 949, 973, 995], 'Grocery': [21, 44, 57, 100, 123, 257, 288, 373, 387, 399, 435, 472, 535, 573, 586, 623, 633, 643, 664, 721, 813, 822, 832, 893, 903, 945, 969, 984], 'Jewelry': [10, 65, 67, 98, 162, 181, 193, 213, 215, 247, 252, 275, 283, 307, 308, 323, 337, 368, 396, 403, 414, 417, 447, 462, 484, 512, 548, 589, 601, 605, 678, 679, 720, 754, 768, 772, 805, 853, 875, 938, 952], 'Maintenance': [202, 568, 784, 927, 939, 960, 963, 981], 'Movies': [15, 25, 26, 36, 95, 101, 107, 109, 112, 117, 131, 165, 173, 187, 223, 231, 243, 250, 327, 338, 349, 356, 357, 390, 429, 430, 448, 491, 496, 516, 522, 550, 551, 552, 560, 576, 582, 614, 636, 654, 672, 673, 675, 707, 789, 804, 844, 848, 870, 876, 880, 920, 944, 974, 976, 986], 'Music': [51, 87, 121, 177, 183, 195, 214, 240, 249, 262, 360, 369, 388, 486, 540, 555, 666, 697, 710, 711, 719, 762, 765, 868, 918, 980, 983, 998, 999], 'Pharmacy': [23, 42, 84, 94, 110, 156, 259, 264, 268, 274, 284, 300, 318, 324, 377, 407, 421, 427, 478, 493, 502, 578, 585, 588, 594, 595, 613, 671, 696, 728, 775, 779, 806, 812, 838, 934, 937, 961], 'Phones & Tablets': [3, 7, 45, 58, 74, 105, 130, 140, 224, 232, 265, 271, 289, 294, 382, 386, 395, 405, 411, 413, 474, 529, 544, 602, 637, 645, 713, 731, 882, 897, 942, 966, 988, 991, 997], 'Plumbing': [350, 412, 480, 618, 744, 755, 785], 'Security': [504, 543, 604, 670, 704, 729], 'Sports': [0, 5, 33, 50, 76, 88, 155, 163, 189, 190, 205, 210, 336, 397, 422, 460, 473, 501, 523, 539, 542, 554, 572, 597, 635, 665, 751, 783, 831, 845, 846, 923, 978, 990], 'Tools': [1, 13, 39, 62, 66, 86, 93, 97, 118, 144, 179, 186, 219, 225, 227, 235, 244, 276, 321, 365, 379, 420, 456, 461, 495, 570, 571, 639, 695, 708, 808, 864, 865, 887, 902, 905, 925, 932, 977], 'Toys': [16, 17, 41, 63, 68, 71, 108, 126, 127, 150, 216, 217, 230, 261, 263, 292, 316, 353, 358, 363, 410, 426, 445, 450, 464, 465, 483, 487, 531, 541, 630, 746, 750, 752, 776, 788, 799, 803, 814, 898, 911, 922, 930, 931, 936, 940, 994], 'Vitamins': [38, 70, 234, 287, 291, 309, 331, 342, 343, 415, 419, 451, 505, 549, 583, 615, 622, 669, 689, 690, 717, 724, 733, 738, 742, 820, 821, 841, 854, 860, 863, 872, 879, 881, 915, 929, 943]}

In [ ]:
equipos.get_group('Automotive')

     employee_id  first_name   last_name  ... gender  salary region_id
22            23       Vanda     Marwick  ...      F  103570         4
89            90       Irita      Starie  ...      F  160783         1
96            97     Jilleen       Toone  ...      F  137393         3
125          126      Roslyn        Guiu  ...      F  157260         1
246          247      Tammie   Grishukov  ...      F  160039         5
248          249    Sterling       Pagen  ...      M   56095         7
273          274     Lorelle   Kelberman  ...      F  119959         7
304          305     Ladonna      McCrow  ...      F  111775         2
366          367    Lauretta      Rounds  ...      F   75978         6
384          385         Doe  Larkworthy  ...      F  106046         1
393          394      Stormy    Najafian  ...      F  126983         6
433          434  Clementina  Frankcombe  ...      F   95492         1
437          438      Betsey    Reedshaw  ...      F  152141         2
455          456    Jessalyn      Horley  ...      F   86929         7
459          460   Cherianne       Oxnam  ...      F  150821         6
494          495        Mill       Makey  ...      M  162522         7
514          515       Cybil       Perez  ...      F  123828         1
569          570          Cy       Mence  ...      M  144146         7
577          578      Katlin     Bemrose  ...      F   60089         6
647          648      Abbott      Mundow  ...      M  106517         7
682          683      Noelyn   De Marchi  ...      F  125305         4
709          710      Charis   Bradborne  ...      F  130995         3
753          754        Ivie      Aubrey  ...      F  111359         7
782          783     Chrissy    Appleton  ...      F  146522         1
798          799         Way     Kochlin  ...      M   51989         6
835          836       Poppy       Lines  ...      F  144511         2
839          840   Archibold       Deely  ...      M   69379         2
842          843     Berkley       Clows  ...      M   44641         5
843          844      Laurie   Infantino  ...      M   29752         4
926          927   Maryellen   Westnedge  ...      F  115973         5
950          951     Merlina   McCullagh  ...      F  137094         1
987          988        Tabb  Huddleston  ...      M   47591         6

[32 rows x 9 columns]

In [ ]:
#Antes hubiéramos tenido que escribir:
df[df['department']=='Automotive']

     employee_id  first_name   last_name  ... gender  salary region_id
22            23       Vanda     Marwick  ...      F  103570         4
89            90       Irita      Starie  ...      F  160783         1
96            97     Jilleen       Toone  ...      F  137393         3
125          126      Roslyn        Guiu  ...      F  157260         1
246          247      Tammie   Grishukov  ...      F  160039         5
248          249    Sterling       Pagen  ...      M   56095         7
273          274     Lorelle   Kelberman  ...      F  119959         7
304          305     Ladonna      McCrow  ...      F  111775         2
366          367    Lauretta      Rounds  ...      F   75978         6
384          385         Doe  Larkworthy  ...      F  106046         1
393          394      Stormy    Najafian  ...      F  126983         6
433          434  Clementina  Frankcombe  ...      F   95492         1
437          438      Betsey    Reedshaw  ...      F  152141         2
455          456    Jessalyn      Horley  ...      F   86929         7
459          460   Cherianne       Oxnam  ...      F  150821         6
494          495        Mill       Makey  ...      M  162522         7
514          515       Cybil       Perez  ...      F  123828         1
569          570          Cy       Mence  ...      M  144146         7
577          578      Katlin     Bemrose  ...      F   60089         6
647          648      Abbott      Mundow  ...      M  106517         7
682          683      Noelyn   De Marchi  ...      F  125305         4
709          710      Charis   Bradborne  ...      F  130995         3
753          754        Ivie      Aubrey  ...      F  111359         7
782          783     Chrissy    Appleton  ...      F  146522         1
798          799         Way     Kochlin  ...      M   51989         6
835          836       Poppy       Lines  ...      F  144511         2
839          840   Archibold       Deely  ...      M   69379         2
842          843     Berkley       Clows  ...      M   44641         5
843          844      Laurie   Infantino  ...      M   29752         4
926          927   Maryellen   Westnedge  ...      F  115973         5
950          951     Merlina   McCullagh  ...      F  137094         1
987          988        Tabb  Huddleston  ...      M   47591         6

[32 rows x 9 columns]

In [ ]:
df.iloc[[22, 89, 96]]

    employee_id first_name last_name  ... gender  salary region_id
22           23      Vanda   Marwick  ...      F  103570         4
89           90      Irita    Starie  ...      F  160783         1
96           97    Jilleen     Toone  ...      F  137393         3

[3 rows x 9 columns]

In [ ]:
########## Ejemplo error ##########

# Un objeto groupby no tiene atributo loc.
# equipos.loc[10]

In [ ]:
equipos.mean()

                   employee_id         salary  region_id
department
Automotive          534.656250  111046.156250   4.156250
Beauty              479.000000   96487.444444   3.733333
Books               563.081081   96497.405405   3.945946
Camping             502.888889   97302.027778   3.972222
Children Clothing   499.446809   87511.042553   4.085106
Clothing            434.816327   83933.448980   4.081633
Computers           525.489362   96064.574468   3.914894
Cosmetics           482.794118  108381.705882   4.235294
Decor               562.871795   92766.205128   3.871795
Device Repair       443.882353   87480.725490   4.078431
First Aid           549.086207   89154.534483   3.620690
Furniture           528.023256   87373.395349   4.767442
Games               435.666667   85684.555556   4.111111
Garden              493.024390   85431.487805   3.658537
Grocery             540.107143   94295.892857   4.285714
Jewelry             454.073171   80576.097561   4.048780
Maintenance         791.500000   76792.750000   3.750000
Movies              474.357143   89246.392857   4.250000
Music               526.965517   92360.965517   3.655172
Pharmacy            485.078947   93372.131579   4.184211
Phones & Tablets    460.057143   89688.028571   3.542857
Plumbing            593.000000   98224.142857   3.714286
Security            626.666667   89950.166667   6.333333
Sports              457.676471   87832.470588   3.676471
Tools               428.051282   83529.615385   3.717949
Toys                483.510638  103110.021277   3.936170
Vitamins            611.378378   90358.000000   4.000000

In [ ]:
equipos.sum()

                   employee_id   salary  region_id
department
Automotive               17109  3553477        133
Beauty                   21555  4341935        168
Books                    20834  3570404        146
Camping                  18104  3502873        143
Children Clothing        23474  4113019        192
Clothing                 21306  4112739        200
Computers                24698  4515035        184
Cosmetics                16415  3684978        144
Decor                    21952  3617882        151
Device Repair            22638  4461517        208
First Aid                31847  5170963        210
Furniture                22705  3757056        205
Games                    15684  3084644        148
Garden                   20214  3502691        150
Grocery                  15123  2640285        120
Jewelry                  18617  3303620        166
Maintenance               6332   614342         30
Movies                   26564  4997798        238
Music                    15282  2678468        106
Pharmacy                 18433  3548141        159
Phones & Tablets         16102  3139081        124
Plumbing                  4151   687569         26
Security                  3760   539701         38
Sports                   15561  2986304        125
Tools                    16694  3257655        145
Toys                     22725  4846171        185
Vitamins                 22621  3343246        148

In [ ]:
equipos.get_group('Sports')['salary'].sum()

2986304

In [ ]:
## Si quiero agrupar por más de una variable --> le paso una lista

In [ ]:
team_mgmt = df.groupby(['department','gender'])

In [ ]:
team_mgmt.size() #esto es como una tabla dinámica

department         gender
Automotive         F         23
                   M          9
Beauty             F         18
                   M         27
Books              F         20
                   M         17
Camping            F         18
                   M         18
Children Clothing  F         21
                   M         26
Clothing           F         24
                   M         25
Computers          F         24
                   M         23
Cosmetics          F         18
                   M         16
Decor              F         20
                   M         19
Device Repair      F         26
                   M         25
First Aid          F         28
                   M         30
Furniture          F         23
                   M         20
Games              F         18
                   M         18
Garden             F         15
                   M         26
Grocery            F         16
                   M         12
Jewelry            F         15
                   M         26
Maintenance        F          5
                   M          3
Movies             F         28
                   M         28
Music              F         20
                   M          9
Pharmacy           F         16
                   M         22
Phones & Tablets   F         18
                   M         17
Plumbing           F          5
                   M          2
Security           F          2
                   M          4
Sports             F         22
                   M         12
Tools              F         19
                   M         20
Toys               F         22
                   M         25
Vitamins           F         17
                   M         20
dtype: int64

In [ ]:
type(team_mgmt.size())

pandas.core.series.Series

In [ ]:
team_mgmt.size() #esto es como una tabla dinámica

department         gender
Automotive         F         23
                   M          9
Beauty             F         18
                   M         27
Books              F         20
                   M         17
Camping            F         18
                   M         18
Children Clothing  F         21
                   M         26
Clothing           F         24
                   M         25
Computers          F         24
                   M         23
Cosmetics          F         18
                   M         16
Decor              F         20
                   M         19
Device Repair      F         26
                   M         25
First Aid          F         28
                   M         30
Furniture          F         23
                   M         20
Games              F         18
                   M         18
Garden             F         15
                   M         26
Grocery            F         16
                   M         12
Jewelry            F         15
                   M         26
Maintenance        F          5
                   M          3
Movies             F         28
                   M         28
Music              F         20
                   M          9
Pharmacy           F         16
                   M         22
Phones & Tablets   F         18
                   M         17
Plumbing           F          5
                   M          2
Security           F          2
                   M          4
Sports             F         22
                   M         12
Tools              F         19
                   M         20
Toys               F         22
                   M         25
Vitamins           F         17
                   M         20
dtype: int64

In [ ]:
type(team_mgmt.size())

pandas.core.series.Series

In [ ]:
df3 = pd.DataFrame(team_mgmt.size())
df3

                           0
department        gender
Automotive        F       23
                  M        9
Beauty            F       18
                  M       27
Books             F       20
                  M       17
Camping           F       18
                  M       18
Children Clothing F       21
                  M       26
Clothing          F       24
                  M       25
Computers         F       24
                  M       23
Cosmetics         F       18
                  M       16
Decor             F       20
                  M       19
Device Repair     F       26
                  M       25
First Aid         F       28
                  M       30
Furniture         F       23
                  M       20
Games             F       18
                  M       18
Garden            F       15
                  M       26
Grocery           F       16
                  M       12
Jewelry           F       15
                  M       26
Maintenance       F        5
                  M        3
Movies            F       28
                  M       28
Music             F       20
                  M        9
Pharmacy          F       16
                  M       22
Phones & Tablets  F       18
                  M       17
Plumbing          F        5
                  M        2
Security          F        2
                  M        4
Sports            F       22
                  M       12
Tools             F       19
                  M       20
Toys              F       22
                  M       25
Vitamins          F       17
                  M       20

## agg

In [ ]:
df.head(3)

   employee_id first_name last_name  ... gender  salary region_id
0            1     Berrie   Manueau  ...      F  154864         4
1            2    Aeriell     McNee  ...      F   56752         3
2            3     Sydney   Symonds  ...      F   95313         4

[3 rows x 9 columns]

In [ ]:
equipos.agg({'salary':'sum'})

                    salary
department
Automotive         3553477
Beauty             4341935
Books              3570404
Camping            3502873
Children Clothing  4113019
Clothing           4112739
Computers          4515035
Cosmetics          3684978
Decor              3617882
Device Repair      4461517
First Aid          5170963
Furniture          3757056
Games              3084644
Garden             3502691
Grocery            2640285
Jewelry            3303620
Maintenance         614342
Movies             4997798
Music              2678468
Pharmacy           3548141
Phones & Tablets   3139081
Plumbing            687569
Security            539701
Sports             2986304
Tools              3257655
Toys               4846171
Vitamins           3343246

In [ ]:
# quiero suma y promedio para 'Salary' y promedio para el bono
equipos.agg({'salary':['sum','mean']})

                    salary
                       sum           mean
department
Automotive         3553477  111046.156250
Beauty             4341935   96487.444444
Books              3570404   96497.405405
Camping            3502873   97302.027778
Children Clothing  4113019   87511.042553
Clothing           4112739   83933.448980
Computers          4515035   96064.574468
Cosmetics          3684978  108381.705882
Decor              3617882   92766.205128
Device Repair      4461517   87480.725490
First Aid          5170963   89154.534483
Furniture          3757056   87373.395349
Games              3084644   85684.555556
Garden             3502691   85431.487805
Grocery            2640285   94295.892857
Jewelry            3303620   80576.097561
Maintenance         614342   76792.750000
Movies             4997798   89246.392857
Music              2678468   92360.965517
Pharmacy           3548141   93372.131579
Phones & Tablets   3139081   89688.028571
Plumbing            687569   98224.142857
Security            539701   89950.166667
Sports             2986304   87832.470588
Tools              3257655   83529.615385
Toys               4846171  103110.021277
Vitamins           3343246   90358.000000

In [ ]:
equipos.agg(['size','sum','mean'])

                  employee_id                     ... region_id
                         size    sum        mean  ...      size  sum      mean
department                                        ...
Automotive                 32  17109  534.656250  ...        32  133  4.156250
Beauty                     45  21555  479.000000  ...        45  168  3.733333
Books                      37  20834  563.081081  ...        37  146  3.945946
Camping                    36  18104  502.888889  ...        36  143  3.972222
Children Clothing          47  23474  499.446809  ...        47  192  4.085106
Clothing                   49  21306  434.816327  ...        49  200  4.081633
Computers                  47  24698  525.489362  ...        47  184  3.914894
Cosmetics                  34  16415  482.794118  ...        34  144  4.235294
Decor                      39  21952  562.871795  ...        39  151  3.871795
Device Repair              51  22638  443.882353  ...        51  208  4.078431
First Aid                  58  31847  549.086207  ...        58  210  3.620690
Furniture                  43  22705  528.023256  ...        43  205  4.767442
Games                      36  15684  435.666667  ...        36  148  4.111111
Garden                     41  20214  493.024390  ...        41  150  3.658537
Grocery                    28  15123  540.107143  ...        28  120  4.285714
Jewelry                    41  18617  454.073171  ...        41  166  4.048780
Maintenance                 8   6332  791.500000  ...         8   30  3.750000
Movies                     56  26564  474.357143  ...        56  238  4.250000
Music                      29  15282  526.965517  ...        29  106  3.655172
Pharmacy                   38  18433  485.078947  ...        38  159  4.184211
Phones & Tablets           35  16102  460.057143  ...        35  124  3.542857
Plumbing                    7   4151  593.000000  ...         7   26  3.714286
Security                    6   3760  626.666667  ...         6   38  6.333333
Sports                     34  15561  457.676471  ...        34  125  3.676471
Tools                      39  16694  428.051282  ...        39  145  3.717949
Toys                       47  22725  483.510638  ...        47  185  3.936170
Vitamins                   37  22621  611.378378  ...        37  148  4.000000

[27 rows x 9 columns]

In [ ]:
df_aux2 = pd.DataFrame(columns = df.columns)
df_aux2

Empty DataFrame
Columns: [employee_id, first_name, last_name, email, hire_date, department, gender, salary, region_id]
Index: []

## Iteración sobre Grouby

In [ ]:
#Sup queremos un dataframe con el salaruo más alto de CADA equipo.
# en la línea de abajo, data es el df inducido por el valor equipo
for equipo, data in equipos:
    highest_group_salary=data.nlargest(1, 'salary')
    df_aux = df_aux2.append(highest_group_salary) #no hay inplace parameter

df_aux

    employee_id first_name last_name  ... gender  salary region_id
549         550     Elvera   Tinline  ...      F  163933         2

[1 rows x 9 columns]

#Métodos

## sort_values()

In [ ]:
iris.sort_values(ascending=False)

149    virginica
111    virginica
122    virginica
121    virginica
120    virginica
         ...
31        setosa
30        setosa
29        setosa
28        setosa
0         setosa
Name: Species, Length: 150, dtype: object

In [ ]:
iris.sort_values(ascending=True)

0         setosa
27        setosa
28        setosa
29        setosa
30        setosa
         ...
119    virginica
120    virginica
121    virginica
111    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

Cuando llamamos el método sort_values() NO MODIFICAMOS nuestra serie original. Esto nos da pie a ver de qué forma sí podemos ejercer cambios permanentes sobre una serie.

### Inplace

In [ ]:
iris.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: Species, dtype: object

In [ ]:
google = pd.read_csv('Python/M3/S3/google_stock_price.csv', usecols= ["Close"], squeeze = True)

In [ ]:
google.head()

0    2054.260010
1    2060.120117
2    2083.810059
3    2015.949951
4    2021.910034
Name: Close, dtype: float64

Si queremos sobrescribirlo, usamos el parámetro inplace = True

In [ ]:
google.sort_values(ascending = False, inplace = True)

In [ ]:
type(google)

pandas.core.series.Series

## sort_index()

In [ ]:
google.sort_index()

0      2054.260010
1      2060.120117
2      2083.810059
3      2015.949951
4      2021.910034
          ...
248    2710.520020
249    2732.169922
250    2754.760010
251    2650.780029
252    2608.060059
Name: Close, Length: 253, dtype: float64

In [ ]:
google.sort_index(inplace = True)

In [ ]:
google

0      2054.260010
1      2060.120117
2      2083.810059
3      2015.949951
4      2021.910034
          ...
248    2710.520020
249    2732.169922
250    2754.760010
251    2650.780029
252    2608.060059
Name: Close, Length: 253, dtype: float64

## get()

In [ ]:
iris_id.head()

Id
A1    setosa
A2    setosa
A3    setosa
A4    setosa
A5    setosa
Name: Species, dtype: object

In [ ]:
iris_id.get("A20") #EQUIVALENTE a iris_id["A20"]

'setosa'

In [ ]:
iris_id.get(["A1", "A5", "A21"])

Id
A1     setosa
A5     setosa
A21    setosa
Name: Species, dtype: object

Si alguna llave / índice no lo encuentra, get() NO REGRESA NADA. Para ello podemos cambiar la condición default dentro del método

In [ ]:
iris_id.get("A300", default = "este id no existe")

'este id no existe'

In [ ]:
google.head()

0    2054.260010
1    2060.120117
2    2083.810059
3    2015.949951
4    2021.910034
Name: Close, dtype: float64

count() no cuenta los valores faltantes o 'missing'

In [ ]:
google.count()

253

In [ ]:
google.mean()

2593.5398045691722

In [ ]:
google.sum()/google.count()

2593.53980456917

In [ ]:
google.mode()

0      2007.500000
1      2011.410034
2      2015.949951
3      2021.339966
4      2021.910034
          ...
248    2977.040039
249    2978.370117
250    2978.530029
251    2980.620117
252    2996.770020
Length: 253, dtype: float64

In [ ]:
google.min()

2007.5

In [ ]:
google.max()

2996.77002

## Describe()

In [ ]:
google.describe()

count     253.000000
mean     2593.539805
std       293.633927
min      2007.500000
25%      2356.850098
50%      2706.070068
75%      2840.030029
max      2996.770020
Name: Close, dtype: float64

Regresa el índice del valor máximo

In [ ]:
google.idxmax()

189

In [ ]:
google.idxmin()

10

In [ ]:
google.sort_values()

10     2007.500000
7      2011.410034
3      2015.949951
18     2021.339966
4      2021.910034
          ...
180    2977.040039
182    2978.370117
190    2978.530029
181    2980.620117
189    2996.770020
Name: Close, Length: 253, dtype: float64

In [ ]:
3 > 5

False

In [ ]:
google[189]== google.max()

True

Cuenta el no de veces que un valor aparece en la tabla. Nos da frecuencias absolutas

In [ ]:
iris.value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
iris.value_counts(normalize = True) #nos da frecuencias relativas

setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: Species, dtype: float64

Broadcasting operations

In [ ]:
iris.value_counts(normalize=True)*100

setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: Species, dtype: float64

## Apply()

In [ ]:
housep = pd.read_csv("Python/M3/S3/boston_house_prices.csv", usecols= ["Id", "MEDV"], index_col="Id", squeeze=True)

In [ ]:
type(housep)

pandas.core.series.Series

In [ ]:
housep.describe()

count    506.000000
mean      22.532806
std        9.197104
min        5.000000
25%       17.025000
50%       21.200000
75%       25.000000
max       50.000000
Name: MEDV, dtype: float64

Definamos una función que, según el precio (MEDV) de la vivienda nos diga si es:

    'barato' si precio < 17.025
    'medio' si precio entre 17.025 y 25
    'alto' si precio > 25

In [ ]:
def clasifica_precio(precio):
    if precio < 17.025:
        return 'bajo'
    elif precio >= 17.025 and precio < 25:
        return 'medio'
    else:
        return 'alto'

housep es una pandas Series

In [ ]:
housep.head()

Id
1    24.0
2    21.6
3    34.7
4    33.4
5    36.2
Name: MEDV, dtype: float64

El método apply() NO modifica la serie original, nos da una nueva

In [ ]:
housep.apply(clasifica_precio)

Id
1      medio
2      medio
3       alto
4       alto
5       alto
       ...
502    medio
503    medio
504    medio
505    medio
506     bajo
Name: MEDV, Length: 506, dtype: object

Si quiero multiplicar por 2 CADA ELEMENTO DE la serie, a esto se le conoce como funciones anónimas.

In [ ]:
housep.apply(lambda z:z*2)

Id
1      48.0
2      43.2
3      69.4
4      66.8
5      72.4
       ...
502    44.8
503    41.2
504    47.8
505    44.0
506    23.8
Name: MEDV, Length: 506, dtype: float64

# Creación de variables

Podemos crear variables ficticias en Python usando el método get_dummies().

Sintaxis: pandas.get_dummies(data, prefix = None, prefix_sep = '_',)

Parámetros:

*   datos = datos de entrada, es decir, incluye el marco de datos de pandas. Lista. establecer. matrices numpy, etc.*   Elemento de la lista
*   prefijo = valor inicial
*   prefix_sep = Separación de valores de datos.

In [ ]:
iris = pd.read_csv('Python/M3/S3/iris.csv', squeeze = True)

El resultado de la tabla es la diversificación de los valores que tiene la variable categorica "species", en este caso si es setosa, si es versicolor o virginica, siendo 1 si cumple esa condición.

In [ ]:
pd.get_dummies(iris["Species"])

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [ ]:
employees = pd.read_csv('Python/M3/S3/employees.csv', squeeze = True)

In [ ]:
employees.head()

   employee_id first_name  last_name  ... gender  salary region_id
0            1     Berrie    Manueau  ...      F  154864         4
1            2    Aeriell      McNee  ...      F   56752         3
2            3     Sydney    Symonds  ...      F   95313         4
3            4      Avrom  Rowantree  ...      M  119674         7
4            5     Feliks    Morffew  ...      M   55307         5

[5 rows x 9 columns]

In [ ]:
pd.get_dummies(employees["department"])

     Automotive  Beauty  Books  Camping  ...  Sports  Tools  Toys  Vitamins
0             0       0      0        0  ...       1      0     0         0
1             0       0      0        0  ...       0      1     0         0
2             0       0      0        0  ...       0      0     0         0
3             0       0      0        0  ...       0      0     0         0
4             0       0      0        0  ...       0      0     0         0
..          ...     ...    ...      ...  ...     ...    ...   ...       ...
995           0       0      0        0  ...       0      0     0         0
996           0       1      0        0  ...       0      0     0         0
997           0       0      0        0  ...       0      0     0         0
998           0       0      0        0  ...       0      0     0         0
999           0       0      0        0  ...       0      0     0         0

[1000 rows x 27 columns]

# Web Scrapping

## HTML

***HTML*** (Hyper Text Markup Language) es el lenguaje en el que se programan las páginas Web que utilizamos todos los días.

    <html>
    <head>
    <title>Título de la página</title>
    </head>
    <body>

    <h1>El primer encabezado</h1>
    <p>El primer párrafo.</p>

    </body>
    </html>

### Estructura
![estructura_html.jpg]()

#### Ejemplos básicos de HTML

#### Cabeceras (Headings) (h1, h2, ... , h6)

<h1>Cabecera de nivel 1</h1>
<h2>Cabecera de nivel 2</h2>
<h3>Cabecera de nivel 3</h3>

    <h1>Cabecera de nivel 1</h1>
    <h2>Cabecera de nivel 2</h2>
    <h3>Cabecera de nivel 3</h3>

#### Párrafos (p)

texto en cursiva<p>Este es el primer párrafo.</p>
<p>Este es otro párrafo.</p>

#### Vínculos (a)

<a href="https://www.google.com">Este 

1.   Elemento de la lista
2.   Elemento de la lista

es un vínculo a Google.com</a>

#### Imágenes (img)

*scr* corresponde a la imagen

*alt* corresponde a texto (alternativo, se muestra el texto si no se encuentra la imagen)

*width* y *height* son atributos de la imagen

    <img src="Python.png" alt="Logo de Python" width="104" height="142">

#### Código fuente

En *Chrome* hay dos opciones para ver el código de cualquier página web. 
    
    1. Click derecho sobre la página que se desea explorar y seleccionar "View Page Source" / "Ver código fuente". 
    
    2. Click derecho en un elemento y seleccionar "Inspect" / "Inspeccionar Elemento"

#### Elementos HTML

Un elemento se define por una etiqueta de inicio, contenido y una etiqueta de cierre. 
**< tag > Contenido < /tag>**

Los elementos pueden venir anidados.

<html>
<body>

<h1>Cabecera del HTML</h1>
<p>En este párrafo se pone una descripción.</p>

</body>
</html>

    <html>
    <body>

    <h1>Cabecera del HTML</h1>
    <p>En este párrafo se pone una descripción.</p>

    </body>
    </html>

El elemento < body > define el cuerpo del documento. Dentro de este *tag* se encuentran los elementos < h1 > y < p >

### Atributos

Todos los elementos de un HTML pueden contar con atributos. Estos atributos brindan información adicional sobre los elementos.

Los atributos por lo general vienen escritos con una combinación de *nombre* y *valor* (i.e. href = 'vinculo web')

#### href

El tag **< a >** se utiliza para definir un hipervínculo. El atributo **href** permite definir la dirección de forma específica.

<a href = 'https://www.google.com'> Este es un vínculo </a>

    <a href = 'https://www.google.com'> Este es un vínculo </a>

#### title

El atributo **title** brinda información adicional a un elemento. El valor del título se verá reflejado en la página web cuando se ponga el cursor sobre él.

    <p title="Soy un título">Asignamos un título a un párrafo.</p>

#### style

El atributo **style** se utiliza para agregar estilo a un elemento, como el color, fuente, tamaño, etc. 

Su forma general es la siguiente:
    < tag style = 'propiedad:valor;' >

Aquí la propiedad es una propiedad de formato CSS (Cascade Style Sheets) y el valor es un valor de CSS también.

Con CSS se puede controlar el color, tipología, tamaño de texto y como se ubican en la página.

<body>

<h1 style="background-color:powderblue;">La cabecera se identifica con color azul</h1>
<p style="background-color:tomato;">El párrafo se identifica con color rojo.</p>

</body>

<h1><font color='blue'>Las letras de la cabecera son color azul</font></h1>
<font color="red">Las letras del parrafo son color rojo.</style>

    <h1 style="color:blue;">Las letras de la cabecera son color azul</h1>
    <p style="color:red;">Las letras del párrafo son color rojo.</p>

Para cambiar la letra es:

    <h1 style="font-family:verdana;">La cabecera tiene letra verdana</h1>
    <p style="font-family:courier;">El párrafo tiene letra courier</p>

#### div 'Division tag'

Se utiliza para contener otros elementos de HTML. Define un bloque en un documento.  

No cuenta con atributos requeridos pero los más utilizados son *style*, *class* e *id*

Cuando se utiliza con programación CSS, el elemento **< div >** se utiliza para generar bloques de contenido. 

Todo lo incluido dentro del árbol se ve con el estilo definido en el div. 
<em> es énfasis (itálicas)

<div style="background-color:black;color:white;padding:20px;">
  <h2>La cabecera de nivel 2</h2>
    <p>El bloque completo está definido por el elemento <em>div</em>.</p>
</div>

    <div style="background-color:black;color:white;padding:20px;">
      <h2>La cabecera de nivel 2</h2>
        <p>El bloque completo está definido por el elemento <em>div</em>.<p>
    </div>

#### span

Se utliza dentro de un tag para marcar una parte de un texto o documento HTML. 'inline'

<p>Mi mamá tiene ojos <span style="color:blue;font-weight:bold">azules</span> y mi papá tiene ojos  <span style="color:darkolivegreen;font-weight:bold">verde oscuro</span>.</p>
<p> Aquí se pone otra línea que no cuenta con el formato ya que se utilizó un span en lugar de un div. </p>

#### class

Se utiliza para especificar una clase para un elemento HTML.
Multiples elementos pueden compartir una **clase**

Ejemplo del uso de **class** con **div**

<html>
<head>
<style>
.ciudad {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
} 
</style>
</head>
<body>

<div class="ciudad">
  <h2>Londres</h2>
  <p>Londres es la capital de Inglaterra.</p>
</div>

<div class="ciudad">
  <h2>Paris</h2>
  <p>Paris es la capital de Francia.</p>
</div>

<div class="ciudad">
  <h2>Tokyo</h2>
  <p>Tokyo es la capital de Japón.</p>
</div>

</body>
</html>

    <html>
    <head>
    <style>
    .ciudad {
      background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    } 
    </style>
    </head>
    <body>

    <div class="ciudad">
      <h2>Londres</h2>
      <p>Londres es la capital de Inglaterra.</p>
    </div>

    <div class="ciudad">
      <h2>Paris</h2>
      <p>Paris es la capital de Francia.</p>
    </div>

    <div class="ciudad">
      <h2>Tokyo</h2>
      <p>Tokyo es la capital de Japón.</p>
    </div>

    </body>
    </html>

Ejemplo de **class** con **span**

<html>
<head>
<style>
.nota {
  font-size: 120%;
  color: red;
}
</style>
</head>
<body>

<h1>Esta <span class="nota">cabecera</span> es de nivel 1</h1>
<p>Este texto es <span class="nota">importante</span> .</p>

</body>
</html>

#### id

Este atributo especifica un identificador único para un documento HTML. El valor del atributo debe ser *único* para el documento. 

Se utiliza para brindar un estilo específico a un documento HTML.

#### class y id

Un atributo *class* puede ser utilizado por distintos elementos de un HTML, mientras que el atributo *id* se utiliza por **un solo elemento** dentro de una página. *(ejemplo con html)*

<style>

#cabecera {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}


.ciudad {
  background-color: tomato;
  color: white;
  padding: 10px;
} 
</style>

<!-- Elemento con id -->
<h1 id="cabecera">Ciudades</h1>

<!-- Multiples elementos class -->
<h2 class="ciudad">Londres</h2>
<p>Londres es la capital de Inglaterra.</p>

<h2 class="ciudad">Paris</h2>
<p>Paris es la capital de Francia.</p>

<h2 class="ciudad">Tokyo</h2>
<p>Tokyo es la capital de Japón.</p>

    <style>

    #cabecera {
      background-color: lightblue;
      color: black;
      padding: 40px;
      text-align: center;
    }


    .ciudad {
      background-color: tomato;
      color: white;
      padding: 10px;
    } 
    </style>

    <!-- Elemento con id -->
    <h1 id="cabecera">Ciudades</h1>

    <!-- Multiples elementos class -->
    <h2 class="ciudad">Londres</h2>
    <p>Londres es la capital de Inglaterra.</p>

    <h2 class="ciudad">Paris</h2>
    <p>Paris es la capital de Francia.</p>

    <h2 class="ciudad">Tokyo</h2>
    <p>Tokyo es la capital de Japón.</p>

### Get

El método GET es un arreglo asociativo de variables enviados por medio de la URL. Consiste en enviar la información de un formulario y que se «incruste» en la URL junto con la página php.

La estructura de la URL es la siguiente.

    altaRegistro.php?txtNombre=Nombre&txtAlias=Alias&txtPwd=123&retxtPwd=123

Donde se divide la URL en la dirección y los datos que se envían. El ‘?’ tiene la función de ser un separador entre la página y la información enviada y el ‘&’ sirve para separar los datos entre sí.

Para extraer la información por GET se utiliza la etiqueta (signo de dolar)_GET y el nombre de la variable en el arreglo, tomando como ejemplo (signo de dolar)_GET[‘txtNombre’].

### Post

El método POST es un arreglo dinámico de variables asociadas a una petición. Aunque es algo parecido al método GET la característica de este método es que el envió de información es «invisible» para el usuario ya que a comparación del método GET no se muestra la información en la URL.

Para extraer la información por POST se utiliza la etiqueta (signo de dolar)_POST y el nombre de la variable en el arreglo, tomando como ejemplo (signo de dolar)_POST[‘txtNombre’].

### Requests

El método REQUEST es un arreglo asociativo que por defecto contiene el contenido de tres métodos: GET, POST y COOKIE.

Una gran característica que tiene REQUEST es que se considera como una variable «superglobal» lo que significa que es una variable que estará disponible en cualquier parte del script ya sean métodos o funciones dentro del mismo.

Al utilizar REQUEST para obtener la información enviada desde un formulario en la parte de la etiqueta «method» se puede usar tanto GET como POST.

## Beautifulsoup (librería)

Este es un tutorial directo de Beautifulsoup

[https://www.crummy.com/software/BeautifulSoup/bs4/doc/]

En resumen todos los documentos html tienen estrutura, aquí se ve algo básico:

In [1]:
html_doc = """
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p>
"""

<html><head><title>La historia de  Dormouse</title></head>
<body>
<p class="title"><b>La historia de  Dormouse</b></p>
<p class="story">Había una vez tres pequeñas hermanas y sus nombres eran
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
y ellas vivían en la parte baja de un manantial.</p>
<p class="story">...</p>
</body></html>

In [2]:
from bs4 import BeautifulSoup


import requests
soup = BeautifulSoup(html_doc, 'html.parser')

print(soup.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

Un objeto recuperado de Beautiful Soup 

- Puede ser analizado separado por la notación analizando la jerarquía por *class name*, *tag name*, *tag type*, etc.

In [3]:
soup

<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>
<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
<p class="story">...</p>
</body></html>

In [4]:
#Título de la clase.
soup.title

In [5]:
#Nombre.
soup.title.name

'title'

In [6]:
#Cadena de caracteres contenidos
soup.title.string

"The Dormouse's story"

In [7]:
#Pariente en jerarquía.
soup.title.parent.name

'head'

In [8]:
#Lista el primer p en el tag.
soup.p

In [9]:
#Lista clase d la primer p en el tag.
soup.p['class']

['title']

In [10]:
#List clase del primer a tag.
soup.a

In [11]:
#lista todas las "a".
soup.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [12]:
#encontrar un id
soup.find(id="link3")

In [13]:
#The Robots.txt listing who is allowed.
response = requests.get("https://en.wikipedia.org/robots.txt")
txt = response.text
print(txt)

﻿# robots.txt for http://www.wikipedia.org/ and friends
#
# Please note: There are a lot of pages on this site, and there are
# some misbehaved spiders out there that go _way_ too fast. If you're
# irresponsible, your access to the site may be blocked.
#

# Observed spamming large amounts of https://en.wikipedia.org/?curid=NNNNNN
# and ignoring 429 ratelimit responses, claims to respect robots:
# http://mj12bot.com/
User-agent: MJ12bot
Disallow: /

# advertising-related bots:
User-agent: Mediapartners-Google*
Disallow: /

# Wikipedia work bots:
User-agent: IsraBot
Disallow:

User-agent: Orthogaffe
Disallow:

# Crawlers that are kind enough to obey, but which we'd rather not have
# unless they're feeding search engines.
User-agent: UbiCrawler
Disallow: /

User-agent: DOC
Disallow: /

User-agent: Zao
Disallow: /

# Some bots are known to be trouble, particularly those designed to copy
# entire sites. Please obey robots.txt.
User-agent: sitecheck.internetseer.com
Disallow: /

User-agent: Zealbot
Disallow: /

User-agent: MSIECrawler
Disallow: /

User-agent: SiteSnagger
Disallow: /

User-agent: WebStripper
Disallow: /

User-agent: WebCopier
Disallow: /

User-agent: Fetch
Disallow: /

User-agent: Offline Explorer
Disallow: /

User-agent: Teleport
Disallow: /

User-agent: TeleportPro
Disallow: /

User-agent: WebZIP
Disallow: /

User-agent: linko
Disallow: /

User-agent: HTTrack
Disallow: /

User-agent: Microsoft.URL.Control
Disallow: /

User-agent: Xenu
Disallow: /

User-agent: larbin
Disallow: /

User-agent: libwww
Disallow: /

User-agent: ZyBORG
Disallow: /

User-agent: Download Ninja
Disallow: /

# Misbehaving: requests much too fast:
User-agent: fast
Disallow: /

#
# Sorry, wget in its recursive mode is a frequent problem.
# Please read the man page and use it properly; there is a
# --wait option you can use to set the delay between hits,
# for instance.
#
User-agent: wget
Disallow: /

#
# The 'grub' distributed client has been *very* poorly behaved.
#
User-agent: grub-client
Disallow: /

#
# Doesn't follow robots.txt anyway, but...
#
User-agent: k2spider
Disallow: /

#
# Hits many times per second, not acceptable
# http://www.nameprotect.com/botinfo.html
User-agent: NPBot
Disallow: /

# A capture bot, downloads gazillions of pages with no public benefit
# http://www.webreaper.net/
User-agent: WebReaper
Disallow: /


#
# Friendly, low-speed bots are welcome viewing article pages, but not
# dynamically-generated pages please.
#
# Inktomi's "Slurp" can read a minimum delay between hits; if your
# bot supports such a thing using the 'Crawl-delay' or another
# instruction, please let us know.
#
# There is a special exception for API mobileview to allow dynamic
# mobile web & app views to load section content.
# These views aren't HTTP-cached but use parser cache aggressively
# and don't expose special: pages etc.
#
# Another exception is for REST API documentation, located at
# /api/rest_v1/?doc.
#
User-agent: *
Allow: /w/api.php?action=mobileview&
Allow: /w/load.php?
Allow: /api/rest_v1/?doc
Disallow: /w/
Disallow: /api/
Disallow: /trap/
Disallow: /wiki/Special:
Disallow: /wiki/Spezial:
Disallow: /wiki/Spesial:
Disallow: /wiki/Special%3A
Disallow: /wiki/Spezial%3A
Disallow: /wiki/Spesial%3A

#
# ar:
Disallow: /wiki/%D8%AE%D8%A7%D8%B5:Search
Disallow: /wiki/%D8%AE%D8%A7%D8%B5%3ASearch
#
# dewiki:
# T6937
# sensible deletion and meta user discussion pages:
Disallow: /wiki/Wikipedia:L%C3%B6schkandidaten/
Disallow: /wiki/Wikipedia:Löschkandidaten/
Disallow: /wiki/Wikipedia:Vandalensperrung/
Disallow: /wiki/Wikipedia:Benutzersperrung/
Disallow: /wiki/Wikipedia:Vermittlungsausschuss/
Disallow: /wiki/Wikipedia:Administratoren/Probleme/
Disallow: /wiki/Wikipedia:Adminkandidaturen/
Disallow: /wiki/Wikipedia:Qualitätssicherung/
Disallow: /wiki/Wikipedia:Qualit%C3%A4tssicherung/
# 4937#5
Disallow: /wiki/Wikipedia:Vandalismusmeldung/
Disallow: /wiki/Wikipedia:Gesperrte_Lemmata/
Disallow: /wiki/Wikipedia:Löschprüfung/
Disallow: /wiki/Wikipedia:L%C3%B6schprüfung/
Disallow: /wiki/Wikipedia:Administratoren/Notizen/
Disallow: /wiki/Wikipedia:Schiedsgericht/Anfragen/
Disallow: /wiki/Wikipedia:L%C3%B6schpr%C3%BCfung/
# T14111
Disallow: /wiki/Wikipedia:Checkuser/
Disallow: /wiki/Wikipedia_Diskussion:Checkuser/
Disallow: /wiki/Wikipedia_Diskussion:Adminkandidaturen/
# T15961
Disallow: /wiki/Wikipedia:Spam-Blacklist-Log
Disallow: /wiki/Wikipedia%3ASpam-Blacklist-Log
Disallow: /wiki/Wikipedia_Diskussion:Spam-Blacklist-Log
Disallow: /wiki/Wikipedia_Diskussion%3ASpam-Blacklist-Log
#
# enwiki:
# Folks get annoyed when VfD discussions end up the number 1 google hit for
# their name. See T6776
Disallow: /wiki/Wikipedia:Articles_for_deletion/
Disallow: /wiki/Wikipedia%3AArticles_for_deletion/
Disallow: /wiki/Wikipedia:Votes_for_deletion/
Disallow: /wiki/Wikipedia%3AVotes_for_deletion/
Disallow: /wiki/Wikipedia:Pages_for_deletion/
Disallow: /wiki/Wikipedia%3APages_for_deletion/
Disallow: /wiki/Wikipedia:Miscellany_for_deletion/
Disallow: /wiki/Wikipedia%3AMiscellany_for_deletion/
Disallow: /wiki/Wikipedia:Miscellaneous_deletion/
Disallow: /wiki/Wikipedia%3AMiscellaneous_deletion/
Disallow: /wiki/Wikipedia:Copyright_problems
Disallow: /wiki/Wikipedia%3ACopyright_problems
Disallow: /wiki/Wikipedia:Protected_titles/
Disallow: /wiki/Wikipedia%3AProtected_titles/
# T15398
Disallow: /wiki/Wikipedia:WikiProject_Spam/
Disallow: /wiki/Wikipedia%3AWikiProject_Spam/
# T16075
Disallow: /wiki/MediaWiki:Spam-blacklist
Disallow: /wiki/MediaWiki%3ASpam-blacklist
Disallow: /wiki/MediaWiki_talk:Spam-blacklist
Disallow: /wiki/MediaWiki_talk%3ASpam-blacklist
# T13261
Disallow: /wiki/Wikipedia:Requests_for_arbitration/
Disallow: /wiki/Wikipedia%3ARequests_for_arbitration/
Disallow: /wiki/Wikipedia:Requests_for_comment/
Disallow: /wiki/Wikipedia%3ARequests_for_comment/
Disallow: /wiki/Wikipedia:Requests_for_adminship/
Disallow: /wiki/Wikipedia%3ARequests_for_adminship/
# T12288
Disallow: /wiki/Wikipedia_talk:Articles_for_deletion/
Disallow: /wiki/Wikipedia_talk%3AArticles_for_deletion/
Disallow: /wiki/Wikipedia_talk:Votes_for_deletion/
Disallow: /wiki/Wikipedia_talk%3AVotes_for_deletion/
Disallow: /wiki/Wikipedia_talk:Pages_for_deletion/
Disallow: /wiki/Wikipedia_talk%3APages_for_deletion/
Disallow: /wiki/Wikipedia_talk:Miscellany_for_deletion/
Disallow: /wiki/Wikipedia_talk%3AMiscellany_for_deletion/
Disallow: /wiki/Wikipedia_talk:Miscellaneous_deletion/
Disallow: /wiki/Wikipedia_talk%3AMiscellaneous_deletion/
# T16793
Disallow: /wiki/Wikipedia:Changing_username
Disallow: /wiki/Wikipedia%3AChanging_username
Disallow: /wiki/Wikipedia:Changing_username/
Disallow: /wiki/Wikipedia%3AChanging_username/
Disallow: /wiki/Wikipedia_talk:Changing_username
Disallow: /wiki/Wikipedia_talk%3AChanging_username
Disallow: /wiki/Wikipedia_talk:Changing_username/
Disallow: /wiki/Wikipedia_talk%3AChanging_username/
#
# eswiki:
# T8746
Disallow: /wiki/Wikipedia:Consultas_de_borrado/
Disallow: /wiki/Wikipedia%3AConsultas_de_borrado/
#
# fiwiki:
# T10695
Disallow: /wiki/Wikipedia:Poistettavat_sivut
Disallow: /wiki/K%C3%A4ytt%C3%A4j%C3%A4:
Disallow: /wiki/Käyttäjä:
Disallow: /wiki/Keskustelu_k%C3%A4ytt%C3%A4j%C3%A4st%C3%A4:
Disallow: /wiki/Keskustelu_käyttäjästä:
Disallow: /wiki/Wikipedia:Yll%C3%A4pit%C3%A4j%C3%A4t/
Disallow: /wiki/Wikipedia:Ylläpitäjät/
#
# hewiki:
Disallow: /wiki/%D7%9E%D7%99%D7%95%D7%97%D7%93:Search
Disallow: /wiki/%D7%9E%D7%99%D7%95%D7%97%D7%93%3ASearch
#T11517
Disallow: /wiki/ויקיפדיה:רשימת_מועמדים_למחיקה/
Disallow: /wiki/ויקיפדיה%3Aרשימת_מועמדים_למחיקה/
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94:%D7%A8%D7%A9%D7%99%D7%9E%D7%AA_%D7%9E%D7%95%D7%A2%D7%9E%D7%93%D7%99%D7%9D_%D7%9C%D7%9E%D7%97%D7%99%D7%A7%D7%94/
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94%3A%D7%A8%D7%A9%D7%99%D7%9E%D7%AA_%D7%9E%D7%95%D7%A2%D7%9E%D7%93%D7%99%D7%9D_%D7%9C%D7%9E%D7%97%D7%99%D7%A7%D7%94/
Disallow: /wiki/ויקיפדיה:ערכים_לא_קיימים_ומוגנים
Disallow: /wiki/ויקיפדיה%3Aערכים_לא_קיימים_ומוגנים
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94:%D7%A2%D7%A8%D7%9B%D7%99%D7%9D_%D7%9C%D7%90_%D7%A7%D7%99%D7%99%D7%9E%D7%99%D7%9D_%D7%95%D7%9E%D7%95%D7%92%D7%A0%D7%99%D7%9D
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94%3A%D7%A2%D7%A8%D7%9B%D7%99%D7%9D_%D7%9C%D7%90_%D7%A7%D7%99%D7%99%D7%9E%D7%99%D7%9D_%D7%95%D7%9E%D7%95%D7%92%D7%A0%D7%99%D7%9D
Disallow: /wiki/ויקיפדיה:דפים_לא_קיימים_ומוגנים
Disallow: /wiki/ויקיפדיה%3Aדפים_לא_קיימים_ומוגנים
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94:%D7%93%D7%A4%D7%99%D7%9D_%D7%9C%D7%90_%D7%A7%D7%99%D7%99%D7%9E%D7%99%D7%9D_%D7%95%D7%9E%D7%95%D7%92%D7%A0%D7%99%D7%9D
Disallow: /wiki/%D7%95%D7%99%D7%A7%D7%99%D7%A4%D7%93%D7%99%D7%94%3A%D7%93%D7%A4%D7%99%D7%9D_%D7%9C%D7%90_%D7%A7%D7%99%D7%99%D7%9E%D7%99%D7%9D_%D7%95%D7%9E%D7%95%D7%92%D7%A0%D7%99%D7%9D
#
# huwiki:
Disallow: /wiki/Speci%C3%A1lis:Search
Disallow: /wiki/Speci%C3%A1lis%3ASearch
#
# itwiki:
# T7545
Disallow: /wiki/Wikipedia:Pagine_da_cancellare
Disallow: /wiki/Wikipedia%3APagine_da_cancellare
Disallow: /wiki/Wikipedia:Utenti_problematici
Disallow: /wiki/Wikipedia%3AUtenti_problematici
Disallow: /wiki/Wikipedia:Vandalismi_in_corso
Disallow: /wiki/Wikipedia%3AVandalismi_in_corso
Disallow: /wiki/Wikipedia:Amministratori
Disallow: /wiki/Wikipedia%3AAmministratori
Disallow: /wiki/Wikipedia:Proposte_di_cancellazione_semplificata
Disallow: /wiki/Wikipedia%3AProposte_di_cancellazione_semplificata
Disallow: /wiki/Categoria:Da_cancellare_subito
Disallow: /wiki/Categoria%3ADa_cancellare_subito
Disallow: /wiki/Wikipedia:Sospette_violazioni_di_copyright
Disallow: /wiki/Wikipedia%3ASospette_violazioni_di_copyright
Disallow: /wiki/Categoria:Da_controllare_per_copyright
Disallow: /wiki/Categoria%3ADa_controllare_per_copyright
Disallow: /wiki/Progetto:Rimozione_contributi_sospetti
Disallow: /wiki/Progetto%3ARimozione_contributi_sospetti
Disallow: /wiki/Categoria:Da_cancellare_subito_per_violazione_integrale_copyright
Disallow: /wiki/Categoria%3ADa_cancellare_subito_per_violazione_integrale_copyright
Disallow: /wiki/Progetto:Cococo
Disallow: /wiki/Progetto%3ACococo
Disallow: /wiki/Discussioni_progetto:Cococo
Disallow: /wiki/Discussioni_progetto%3ACococo
#
# jawiki
Disallow: /wiki/%E7%89%B9%E5%88%A5:Search
Disallow: /wiki/%E7%89%B9%E5%88%A5%3ASearch
# T7239
Disallow: /wiki/Wikipedia:%E5%89%8A%E9%99%A4%E4%BE%9D%E9%A0%BC/
Disallow: /wiki/Wikipedia%3A%E5%89%8A%E9%99%A4%E4%BE%9D%E9%A0%BC/
Disallow: /wiki/Wikipedia:%E5%88%A9%E7%94%A8%E8%80%85%E3%83%9A%E3%83%BC%E3%82%B8%E3%81%AE%E5%89%8A%E9%99%A4%E4%BE%9D%E9%A0%BC
Disallow: /wiki/Wikipedia%3A%E5%88%A9%E7%94%A8%E8%80%85%E3%83%9A%E3%83%BC%E3%82%B8%E3%81%AE%E5%89%8A%E9%99%A4%E4%BE%9D%E9%A0%BC
# nowiki
# T13432
Disallow: /wiki/Bruker:
Disallow: /wiki/Bruker%3A
Disallow: /wiki/Brukerdiskusjon
Disallow: /wiki/Wikipedia:Administratorer
Disallow: /wiki/Wikipedia%3AAdministratorer
Disallow: /wiki/Wikipedia-diskusjon:Administratorer
Disallow: /wiki/Wikipedia-diskusjon%3AAdministratorer
Disallow: /wiki/Wikipedia:Sletting
Disallow: /wiki/Wikipedia%3ASletting
Disallow: /wiki/Wikipedia-diskusjon:Sletting
Disallow: /wiki/Wikipedia-diskusjon%3ASletting
#
# plwiki
# T10067
Disallow: /wiki/Wikipedia:Strony_do_usuni%C4%99cia
Disallow: /wiki/Wikipedia%3AStrony_do_usuni%C4%99cia
Disallow: /wiki/Wikipedia:Do_usuni%C4%99cia
Disallow: /wiki/Wikipedia%3ADo_usuni%C4%99cia
Disallow: /wiki/Wikipedia:SDU/
Disallow: /wiki/Wikipedia%3ASDU/
Disallow: /wiki/Wikipedia:Strony_podejrzane_o_naruszenie_praw_autorskich
Disallow: /wiki/Wikipedia%3AStrony_podejrzane_o_naruszenie_praw_autorskich
#
# ptwiki:
# T7394
Disallow: /wiki/Wikipedia:Páginas_para_eliminar/
Disallow: /wiki/Wikipedia:P%C3%A1ginas_para_eliminar/
Disallow: /wiki/Wikipedia%3AP%C3%A1ginas_para_eliminar/
Disallow: /wiki/Wikipedia_Discussão:Páginas_para_eliminar/
Disallow: /wiki/Wikipedia_Discuss%C3%A3o:P%C3%A1ginas_para_eliminar/
Disallow: /wiki/Wikipedia_Discuss%C3%A3o%3AP%C3%A1ginas_para_eliminar/
#
# rowiki:
# T14546
Disallow: /wiki/Wikipedia:Pagini_de_%C5%9Fters
Disallow: /wiki/Wikipedia%3APagini_de_%C5%9Fters
Disallow: /wiki/Discu%C5%A3ie_Wikipedia:Pagini_de_%C5%9Fters
Disallow: /wiki/Discu%C5%A3ie_Wikipedia%3APagini_de_%C5%9Fters
#
# ruwiki:
Disallow: /wiki/%D0%A1%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5:Search
Disallow: /wiki/%D0%A1%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5%3ASearch
#
# svwiki:
# T12229
Disallow: /wiki/Wikipedia%3ASidor_f%C3%B6reslagna_f%C3%B6r_radering
Disallow: /wiki/Wikipedia:Sidor_f%C3%B6reslagna_f%C3%B6r_radering
Disallow: /wiki/Wikipedia:Sidor_föreslagna_för_radering
Disallow: /wiki/Användare
Disallow: /wiki/Anv%C3%A4ndare
Disallow: /wiki/Användardiskussion
Disallow: /wiki/Anv%C3%A4ndardiskussion
Disallow: /wiki/Wikipedia:Skyddade_sidnamn
Disallow: /wiki/Wikipedia%3ASkyddade_sidnamn
# T13291
Disallow: /wiki/Wikipedia:Sidor_som_bör_raderas
Disallow: /wiki/Wikipedia:Sidor_som_b%C3%B6r_raderas
Disallow: /wiki/Wikipedia%3ASidor_som_b%C3%B6r_raderas
#
# zhwiki:
# T7104
Disallow: /wiki/Wikipedia:删除投票/侵权
Disallow: /wiki/Wikipedia:%E5%88%A0%E9%99%A4%E6%8A%95%E7%A5%A8/%E4%BE%B5%E6%9D%83
Disallow: /wiki/Wikipedia:删除投票和请求
Disallow: /wiki/Wikipedia:%E5%88%A0%E9%99%A4%E6%8A%95%E7%A5%A8%E5%92%8C%E8%AF%B7%E6%B1%82
Disallow: /wiki/Category:快速删除候选
Disallow: /wiki/Category:%E5%BF%AB%E9%80%9F%E5%88%A0%E9%99%A4%E5%80%99%E9%80%89
Disallow: /wiki/Category:维基百科需要翻译的文章
Disallow: /wiki/Category:%E7%BB%B4%E5%9F%BA%E7%99%BE%E7%A7%91%E9%9C%80%E8%A6%81%E7%BF%BB%E8%AF%91%E7%9A%84%E6%96%87%E7%AB%A0
#
# sister projects
#
# enwikinews:
# T7340
Disallow: /wiki/Portal:Prepared_stories/
Disallow: /wiki/Portal%3APrepared_stories/
#
# itwikinews
# T11138
Disallow: /wiki/Wikinotizie:Richieste_di_cancellazione
Disallow: /wiki/Wikinotizie:Sospette_violazioni_di_copyright
Disallow: /wiki/Categoria:Da_cancellare_subito
Disallow: /wiki/Categoria:Da_cancellare_subito_per_violazione_integrale_copyright
Disallow: /wiki/Wikinotizie:Storie_in_preparazione
#
# enwikiquote:
# T17095
Disallow: /wiki/Wikiquote:Votes_for_deletion/
Disallow: /wiki/Wikiquote%3AVotes_for_deletion/
Disallow: /wiki/Wikiquote_talk:Votes_for_deletion/
Disallow: /wiki/Wikiquote_talk%3AVotes_for_deletion/
Disallow: /wiki/Wikiquote:Votes_for_deletion_archive/
Disallow: /wiki/Wikiquote%3AVotes_for_deletion_archive/
Disallow: /wiki/Wikiquote_talk:Votes_for_deletion_archive/
Disallow: /wiki/Wikiquote_talk%3AVotes_for_deletion_archive/
#
# enwikibooks
Disallow: /wiki/Wikibooks:Votes_for_deletion
#
# working...
Disallow: /wiki/Fundraising_2007/comments
#
#
#
#----------------------------------------------------------#
#
#
#
 # <!-- Please do not remove the space at the start of this line, it breaks the rendering.  http://www.robotstxt.org/orig.html says spaces before comments are OK. --><pre>
#
# Localisable part of robots.txt for en.wikipedia.org
#
# Edit at https://en.wikipedia.org/w/index.php?title=MediaWiki:Robots.txt&action=edit
# Don't add newlines here. All rules set here are active for every user-agent.
#
# Please check any changes using a syntax validator
# Enter https://en.wikipedia.org/robots.txt as the URL to check.
#
# https://phabricator.wikimedia.org/T16075
Disallow: /wiki/MediaWiki:Spam-blacklist
Disallow: /wiki/MediaWiki%3ASpam-blacklist
Disallow: /wiki/MediaWiki_talk:Spam-blacklist
Disallow: /wiki/MediaWiki_talk%3ASpam-blacklist
Disallow: /wiki/Wikipedia:WikiProject_Spam
Disallow: /wiki/Wikipedia_talk:WikiProject_Spam
#
# Folks get annoyed when XfD discussions end up the number 1 google hit for
# their name.
# https://phabricator.wikimedia.org/T16075
Disallow: /wiki/Wikipedia:Articles_for_deletion
Disallow: /wiki/Wikipedia%3AArticles_for_deletion
Disallow: /wiki/Wikipedia:Votes_for_deletion
Disallow: /wiki/Wikipedia%3AVotes_for_deletion
Disallow: /wiki/Wikipedia:Pages_for_deletion
Disallow: /wiki/Wikipedia%3APages_for_deletion
Disallow: /wiki/Wikipedia:Miscellany_for_deletion
Disallow: /wiki/Wikipedia%3AMiscellany_for_deletion
Disallow: /wiki/Wikipedia:Miscellaneous_deletion
Disallow: /wiki/Wikipedia%3AMiscellaneous_deletion
Disallow: /wiki/Wikipedia:Categories_for_discussion
Disallow: /wiki/Wikipedia%3ACategories_for_discussion
Disallow: /wiki/Wikipedia:Templates_for_deletion
Disallow: /wiki/Wikipedia%3ATemplates_for_deletion
Disallow: /wiki/Wikipedia:Redirects_for_discussion
Disallow: /wiki/Wikipedia%3ARedirects_for_discussion
Disallow: /wiki/Wikipedia:Deletion_review
Disallow: /wiki/Wikipedia%3ADeletion_review
Disallow: /wiki/Wikipedia:WikiProject_Deletion_sorting
Disallow: /wiki/Wikipedia%3AWikiProject_Deletion_sorting
Disallow: /wiki/Wikipedia:Files_for_deletion
Disallow: /wiki/Wikipedia%3AFiles_for_deletion
Disallow: /wiki/Wikipedia:Files_for_discussion
Disallow: /wiki/Wikipedia%3AFiles_for_discussion
Disallow: /wiki/Wikipedia:Possibly_unfree_files
Disallow: /wiki/Wikipedia%3APossibly_unfree_files
#
# https://phabricator.wikimedia.org/T12288
Disallow: /wiki/Wikipedia_talk:Articles_for_deletion
Disallow: /wiki/Wikipedia_talk%3AArticles_for_deletion
Disallow: /wiki/Wikipedia_talk:Votes_for_deletion
Disallow: /wiki/Wikipedia_talk%3AVotes_for_deletion
Disallow: /wiki/Wikipedia_talk:Pages_for_deletion
Disallow: /wiki/Wikipedia_talk%3APages_for_deletion
Disallow: /wiki/Wikipedia_talk:Miscellany_for_deletion
Disallow: /wiki/Wikipedia_talk%3AMiscellany_for_deletion
Disallow: /wiki/Wikipedia_talk:Miscellaneous_deletion
Disallow: /wiki/Wikipedia_talk%3AMiscellaneous_deletion
Disallow: /wiki/Wikipedia_talk:Templates_for_deletion
Disallow: /wiki/Wikipedia_talk%3ATemplates_for_deletion
Disallow: /wiki/Wikipedia_talk:Categories_for_discussion
Disallow: /wiki/Wikipedia_talk%3ACategories_for_discussion
Disallow: /wiki/Wikipedia_talk:Deletion_review
Disallow: /wiki/Wikipedia_talk%3ADeletion_review
Disallow: /wiki/Wikipedia_talk:WikiProject_Deletion_sorting
Disallow: /wiki/Wikipedia_talk%3AWikiProject_Deletion_sorting
Disallow: /wiki/Wikipedia_talk:Files_for_deletion
Disallow: /wiki/Wikipedia_talk%3AFiles_for_deletion
Disallow: /wiki/Wikipedia_talk:Files_for_discussion
Disallow: /wiki/Wikipedia_talk%3AFiles_for_discussion
Disallow: /wiki/Wikipedia_talk:Possibly_unfree_files
Disallow: /wiki/Wikipedia_talk%3APossibly_unfree_files
#
Disallow: /wiki/Wikipedia:Copyright_problems
Disallow: /wiki/Wikipedia%3ACopyright_problems
Disallow: /wiki/Wikipedia_talk:Copyright_problems
Disallow: /wiki/Wikipedia_talk%3ACopyright_problems
Disallow: /wiki/Wikipedia:Suspected_copyright_violations
Disallow: /wiki/Wikipedia%3ASuspected_copyright_violations
Disallow: /wiki/Wikipedia_talk:Suspected_copyright_violations
Disallow: /wiki/Wikipedia_talk%3ASuspected_copyright_violations
Disallow: /wiki/Wikipedia:Contributor_copyright_investigations
Disallow: /wiki/Wikipedia%3AContributor_copyright_investigations
Disallow: /wiki/Wikipedia:Contributor_copyright_investigations
Disallow: /wiki/Wikipedia%3AContributor_copyright_investigations
Disallow: /wiki/Wikipedia_talk:Contributor_copyright_investigations
Disallow: /wiki/Wikipedia_talk%3AContributor_copyright_investigations
Disallow: /wiki/Wikipedia_talk:Contributor_copyright_investigations
Disallow: /wiki/Wikipedia_talk%3AContributor_copyright_investigations
Disallow: /wiki/Wikipedia:Protected_titles
Disallow: /wiki/Wikipedia%3AProtected_titles
Disallow: /wiki/Wikipedia_talk:Protected_titles
Disallow: /wiki/Wikipedia_talk%3AProtected_titles
Disallow: /wiki/Wikipedia:Articles_for_creation
Disallow: /wiki/Wikipedia%3AArticles_for_creation
Disallow: /wiki/Wikipedia_talk:Articles_for_creation
Disallow: /wiki/Wikipedia_talk%3AArticles_for_creation
Disallow: /wiki/Wikipedia_talk:Article_wizard
Disallow: /wiki/Wikipedia_talk%3AArticle_wizard
#
# https://phabricator.wikimedia.org/T13261
Disallow: /wiki/Wikipedia:Requests_for_arbitration
Disallow: /wiki/Wikipedia%3ARequests_for_arbitration
Disallow: /wiki/Wikipedia_talk:Requests_for_arbitration
Disallow: /wiki/Wikipedia_talk%3ARequests_for_arbitration
Disallow: /wiki/Wikipedia:Requests_for_comment

In [15]:
response = requests.get("https://www.rpi.edu")
txt = response.text
soup = BeautifulSoup(txt, 'html.parser')

print(soup.prettify())

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <!--required for Bootstrap v4-->
  <meta content="Rensselaer Polytechnic institute is America’s oldest technological research university, offering bachelor’s, master’s, and doctoral degrees." name="description">
   <title>
    Rensselaer Polytechnic Institute (RPI) :: Architecture, Business, Engineering, Humanities, IT &amp; Web Science, Science
   </title>
   <!-- Server Include for header scripts and styles -->
   <!-- Global Site Tag (gtag.js) - Google Analytics -->
   <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-29465755-1">
   </script>
   <script>
    window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-29465755-1');
   </script>
   <!-- Bootstrap v4 CSS-->
   <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
   <!-- RPI Web Branding Stylesheet-->
   <link href="/dept/cct/apps/web-branding/v2/css/rpi.css?ver=2" rel="stylesheet" type="text/css"/>
   <link href="/images/favicon.png" rel="shortcut icon" type="image/png"/>
   <!-- Fonts & Icons -->
   <link href="//fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,300&amp;display=swap" rel="stylesheet"/>
   <link href="/assets/css/fontawesome.min.css" rel="stylesheet"/>
   <!-- Local Style Sheet -->
   <link href="/assets/css/toplevelpages.css?ver=2" rel="stylesheet" type="text/css"/>
   <!-- antiph logo -->
   <meta content="/images/RPI_G.jpg" property="og:logo">
    <meta content="//rpi.edu/images/RPI_G.jpg" property="og:logo"/>
    <style>
     /*------------------------------------*\
  #HOME-HERO: Every Day Matters
\*------------------------------------*/

/*Spirit BAR START RED VERSION*/
      #spirit-link {
        background-color: #DC001A;
        text-align: center;
        padding: 10px;
      }
      .spiritcopy p {margin-bottom: 0px;}
      .spiritcopy a {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 200;
        color: #fff;
        font-size: 26px;
        margin-bottom: 0px;
      }
/*Spirit BAR END*/
#every-day-matters {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

#every-day-matters .container {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 600px;
}

#every-day-matters .banner01 {
  background-image: url("images/home/herotron/algae-blooms-bg.jpeg");
  background-position: center left;
  background-color: #000;
  color: #fff !important;
}

#every-day-matters .copy {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}

#every-day-matters h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: 300;
  color: #fff;
  width: 80%;
  margin: 1em 0 0 0;
}

#every-day-matters p.arrow {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  color: #fff;
  padding-left: 1em;
  width: 50%;
  margin-bottom: 1.2em;
  margin-top: 1em;
  background-image: url(//rpi.edu/images/home/arrow.png);
  background-position: 0 10px;
  background-repeat: no-repeat;
  width:90% !important;
}

#every-day-matters p.button {margin-bottom: 20px;}

#every-day-matters p.button a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
  background-color: #dc001a;
  border: solid 1px #fff;
  letter-spacing: 2px;text-decoration: none;
}

#every-day-matters p.button a:hover {
  background-color: #D6001C;
  border: solid 1px #fff;
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1400px) {
  #every-day-matters.comm-2020 .comm-logo {
    width:40%;
  }
}

@media only screen and (max-width: 1220px) {

  #every-day-matters .copy {
    width: 95%;
    margin-left: 5em;
    margin-right: auto;
  }

  #every-day-matters.comm-2020 .banner01 {
    background-position: left;
  }

  #every-day-matters.comm-2020 .comm-logo {
    width:60%;
  }

}

@media only screen and (max-width: 800px) {
  #every-day-matters .container {height: auto;}

  #every-day-matters .copy {
    margin-top: 3em;
    margin-bottom: 4em;
    margin-left: 2em;
  }
}

 @media only screen and (max-width: 675px) {
  #every-day-matters p.arrow {display: none;}
  #every-day-matters p.button {margin-top: 50px;}
  #every-day-matters p.button a {
    font-size: 18px;
    padding: 15px 30px;
  }
  #every-day-matters .copy {margin-top: 6em;}

  #every-day-matters img {width: 95%;}
  #every-day-matters h2 {font-size: 30px;}
}
    </style>
   </meta>
  </meta>
 </head>
 <body>
  <!-- Alert System Script-->
  <script src="//alert.rpi.edu/alerts.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   if (alert_content != "") {
       document.write('<div id="rpialertbox">');
       document.write('<div class="alerttext">');
       document.write('<a href="http://alert.rpi.edu">');
       document.write(alert_content);
       document.write('</a>');
       document.write('</div>');
       document.write('</div>');
     }
  </script>
  <!-- Server Include for Branded Header-->
  <div id="rpi-min-header-2">
   <div id="rpi-ribbon">
   </div>
  </div>
  <!--- Mega Menu V1 --->
  <div id="rpi-mega-ribbon">
  </div>
  <div id="rpi-mega-header">
   <h1 class="rpi-title">
    Rensselaer Polytechnic Institute (RPI)
   </h1>
   <a class="skip-main" href="#maincontent">
    Skip to main content
   </a>
   <!----Main Header---->
   <header>
    <div class="topbanner">
     <div class="middlelinks">
      <div class="logo">
       <a href="https://rpi.edu">
        <img alt="RPI" height="115" src="https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/RPIlogo_white.png" width="378"/>
       </a>
      </div>
      <div class="brand-menu">
       <nav class="people">
        <a href="http://studentlife.rpi.edu/">
         Students
        </a>
        <a href="http://studentlife.rpi.edu/student-orientation/parents-families">
         Parents
        </a>
        <a href="http://rpinfo.rpi.edu/">
         Faculty &amp; Staff
        </a>
        <a href="http://alumni.rpi.edu">
         Alumni
        </a>
       </nav>
       <nav class="apply">
        <a href="http://admissions.rpi.edu/">
         Apply
        </a>
        <a href="http://info.rpi.edu/visit">
         Visit
        </a>
        <a href="http://giving.rpi.edu/">
         Give
        </a>
        <a href="https://info.rpi.edu/rpi-search">
         Search
        </a>
        <!--<form id="rpi-site-search" name="searchForm" action="javascript:submitRpiSearch()" method="post" role="search">
             <label class="hidden" for="rpi-site-search-query">Search the site</label>
             <input type="text" placeholder="search rpi" value="" size="12" id="rpi-site-search-query" name="queryHolder" maxlength="255" alt="search term">
             <input type="submit" value="search" class="hidden">
             <a id="search-button"><i class="fa fa-search"></i></a>
         </form>-->
       </nav>
      </div>
     </div>
    </div>
   </header>
   <!----Main Header End---->
   <div class="menu-wrapper" role="navigation">
    <input id="menuToggle" type="checkbox"/>
    <label class="menu-icon" for="menuToggle">
     <i aria-hidden="true" class="fa fa-bars menudown">
     </i>
     <span class="menudown" style="margin-left:8px;">
      Menu
     </span>
     <i aria-hidden="true" class="fa fa-times menuup">
     </i>
     <span class="menuup" style="margin-left:8px;">
      Menu
     </span>
    </label>
    <ul class="nav" role="menubar">
     <div id="menu-wrapper-ribbon">
     </div>
     <li role="menuitem">
      <a class="mmabou" href="http://rpi.edu/about">
       About
      </a>
      <input id="abtToggle" type="checkbox"/>
      <label class="area-icon" for="abtToggle">
       <i aria-hidden="true" class="fa fa-angle-down abtdown">
       </i>
       <span class="arrows-text">
        open this section
       </span>
       <i aria-hidden="true" class="fa fa-angle-up abtup">
       </i>
       <span class="arrows-text">
        close this section
       </span>
      </label>
      <div aria-hidden="true" class="mega-menu" role="menu">
       <div class="cont">
        <div id="mega-menu-ribbon">
        </div>
        <div class="nav-column33">
         <h3>
          Quick Links
         </h3>
         <ul>
          <li role="menuitem">
           <a href="https://rpi.edu/about/#About-Research">
            Research
           </a>
          </li>
          <li role="menuitem">
           <a href="https://rpi.edu/about/#About-Checkerboard">
            Academics
           </a>
          </li>
          <li role="menuitem">
           <a href="https://rpi.edu/about/#About-Quickfacts-2">
            Quick Facts
           </a>
          </li>
          <li role="menuitem">
           <a href="https://rpi.edu/about/#About-Athletics">
            Athletics
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column33 nav-image">
         <span class="title">
          <a class="allred" href="http://rpi.edu/presidentsearch" target="_blank">
           PRESIDENTIAL SEARCH
          </a>
         </span>
         <img alt="" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/president-search.jpg" width="335"/>
         <p>
          The 19th president will join Rensselaer as it continues to lead innovations that are confronting the greatest challenges facing humanity and our planet.
         </p>
        </div>
       </div>
      </div>
     </li>
     <li role="menuitem">
      <a class="mmpres" href="http://president.rpi.edu/office-president">
       President
      </a>
      <input id="przToggle" type="checkbox"/>
      <label class="area-icon" for="przToggle">
       <i aria-hidden="true" class="fa fa-angle-down przdown">
       </i>
       <span class="arrows-text">
        open this section
       </span>
       <i aria-hidden="true" class="fa fa-angle-up przup">
       </i>
       <span class="arrows-text">
        close this section
       </span>
      </label>
      <div aria-hidden="true" class="mega-menu" role="menu">
       <div class="cont">
        <div id="mega-menu-ribbon">
        </div>
        <div class="nav-column33">
         <h3>
          Quick Links
         </h3>
         <ul>
          <li class="withchild" role="menuitem">
           <a href="http://president.rpi.edu/vision-priorities">
            Vision &amp; Priorities
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/leadership">
            Leadership
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/accomplishments">
            Accomplishments
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/speeches">
            Speeches
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/president-biography">
            Biography
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/news">
            News
           </a>
          </li>
          <li role="menuitem">
           <a href="http://president.rpi.edu/colloquy">
            Colloquy
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column33 nav-image">
         <span class="title">
          <a class="allred" href="https://rpi.box.com/v/president-report" target="_blank">
           President's Report
          </a>
         </span>
         <img alt="" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/presidents-report-2020.jpg" width="335"/>
         <p>
          Rensselaer Strong
         </p>
        </div>
        <div class="nav-column33 nav-image">
         <span class="title">
          <a class="allred" href="https://president.rpi.edu/2024-plan" target="_blank">
           Rensselaer Plan 2024
          </a>
         </span>
         <img alt="" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/2024-plan.png" width="335"/>
         <p>
          We are moving from transforming Rensselaer to Rensselaer being transformative.
         </p>
        </div>
       </div>
      </div>
     </li>
     <li role="menuitem">
      <a class="mmacad" href="http://rpi.edu/academics">
       Academics
      </a>
      <input id="acaToggle" type="checkbox"/>
      <label class="area-icon" for="acaToggle">
       <i aria-hidden="true" class="fa fa-angle-down acadown">
       </i>
       <span class="arrows-text">
        open this section
       </span>
       <i aria-hidden="true" class="fa fa-angle-up acaup">
       </i>
       <span class="arrows-text">
        close this section
       </span>
      </label>
      <div class="mega-menu">
       <div class="cont">
        <div id="mega-menu-ribbon">
        </div>
        <div class="nav-column33">
         <h3>
          Schools
         </h3>
         <ul>
          <li role="menuitem">
           <a href="http://www.arch.rpi.edu/">
            Architecture
           </a>
          </li>
          <li role="menuitem">
           <a href="http://lallyschool.rpi.edu/">
            Business
           </a>
          </li>
          <li role="menuitem">
           <a href="http://eng.rpi.edu/">
            Engineering
           </a>
          </li>
          <li role="menuitem">
           <a href="http://www.hass.rpi.edu/">
            Humanities, Arts, and Social Sciences
           </a>
          </li>
          <li role="menuitem">
           <a href="http://rpi.edu/academics/it.html">
            IT &amp; Web Science
           </a>
          </li>
          <li role="menuitem">
           <a href="http://science.rpi.edu/">
            Science
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column33">
         <h3>
          Quick Links
         </h3>
         <ul>
          <li role="menuitem">
           <a href="https://www.rpi.edu/academics/index.html#minors">
            Minors
           </a>
          </li>
          <li role="menuitem">
           <a href="https://www.rpi.edu/academics/index.html#interd">
            Interdisciplinary
           </a>
          </li>
          <li role="menuitem">
           <a href="https://www.rpi.edu/academics/index.html#accelerated">
            Accelerated Programs
           </a>
          </li>
          <li role="menuitem">
           <a href="http://www.ewp.rpi.edu/">
            Rensselaer at Work
           </a>
          </li>
          <li role="menuitem">
           <a href="http://catalog.rpi.edu/">
            Academic Catalogs
           </a>
          </li>
          <li role="menuitem">
           <a href="http://rpi.edu/academics/calendar/">
            Academic Calendar
           </a>
          </li>
          <li role="menuitem">
           <a href="http://faculty.rpi.edu/">
            Faculty
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column33 nav-image">
         <h3>
          <a class="allred" href="http://rpinfo.rpi.edu/the-arch" target="_blank">
           The Arch
          </a>
         </h3>
         <a class="allred" href="http://rpinfo.rpi.edu/summer-arch" target="_blank">
          <img alt="Summer Arch" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/thearch.jpg" width="335"/>
         </a>
         <!--<h3>Interdisciplinary Programs</h3>
            <p>	Cross-platform and interdisciplinary programs encourage students to broaden their perspectives, to search for new connections and the understanding and discovery that often follow. In its efforts to shape tomorrow’s leaders, Rensselaer’s faculty has created innovative interdisciplinary curricula.</p>
            <p><a class="allred" href="http://rpi.edu/academics/interdisciplinary.html">See Programs <i class="icon-angle-right"></i></a></p> -->
        </div>
       </div>
      </div>
     </li>
     <li role="menuitem">
      <a class="mmrese" href="http://research.rpi.edu/">
       Research
      </a>
      <input id="resToggle" type="checkbox"/>
      <label class="area-icon" for="resToggle">
       <i aria-hidden="true" class="fa fa-angle-down resdown">
       </i>
       <span class="arrows-text">
        open this section
       </span>
       <i aria-hidden="true" class="fa fa-angle-up resup">
       </i>
       <span class="arrows-text">
        close this section
       </span>
      </label>
      <div aria-hidden="true" class="mega-menu" role="menu">
       <div class="cont">
        <div id="mega-menu-ribbon">
        </div>
        <div class="nav-column">
         <h3>
          <a class="allred" href="https://research.rpi.edu/">
           OFFICE OF THE VP FOR RESEARCH
          </a>
         </h3>
         <ul>
          <li role="menuitem">
           <a href="https://research.rpi.edu/centers">
            Research Centers
           </a>
          </li>
          <li role="menuitem">
           <a href="https://research.rpi.edu/facilities">
            Facilities
           </a>
          </li>
          <li role="menuitem">
           <a href="https://research.rpi.edu/compliance">
            Compliance
           </a>
          </li>
          <li role="menuitem">
           <a href="https://research.rpi.edu/funding">
            Grants &amp; Funding
           </a>
          </li>
          <li role="menuitem">
           <a href="https://research.rpi.edu/policy">
            Policy Documents
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column">
         <h3>
          <a class="allred" href="https://ipo.rpi.edu">
           OFFICE OF TECHNOLOGY TRANSFER
          </a>
         </h3>
         <ul>
          <li role="menuitem">
           <a href="https://ipo.rpi.edu">
            Technology Licensing Office
           </a>
          </li>
          <li role="menuitem">
           <a href="https://ipo.rpi.edu/invention-disclosure">
            Disclose Inventions
           </a>
          </li>
          <li role="menuitem">
           <a href="https://ipo.rpi.edu/technologies-available-licensing">
            Explore Technologies
           </a>
          </li>
          <li role="menuitem">
           <a href="https://ipo.rpi.edu/inventor-resources">
            Inventor Resources
           </a>
          </li>
          <li role="menuitem">
           <a href="https://ipo.rpi.edu/contact-us">
            Contact Us
           </a>
          </li>
         </ul>
        </div>
        <div class="nav-column nav-image">
         <h3>
          <a class="allred" href="https://research.rpi.edu/sites/all/themes/rpi/resources/Research-Report-2020.pdf">
           RESEARCH REPORT 2019
          </a>
         </h3>
         <img alt="Research Report 2019" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/research-report-tb.png" width="335">
         </img>
        </div>
        <div class="nav-column nav-image">
         <h3>
          <a class="allred" href="https://ipo.rpi.edu/driving-innovation">
           BLOG: THE NEXT NEW...
          </a>
         </h3>
         <img alt="BLOG" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/tech-transfer-blog.png" width="335"/>
         <p>
          The question we ask YOU: Why not change the world?
         </p>
        </div>
       </div>
      </div>
     </li>
     <li role="menuitem">

In [16]:
BeautifulSoup?

In [17]:
soup.find_all('a')

[<a class="skip-main" href="#maincontent">Skip to main content</a>,
 <a href="https://rpi.edu"><img alt="RPI" height="115" src="https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/RPIlogo_white.png" width="378"/></a>,
 <a href="http://studentlife.rpi.edu/">Students</a>,
 <a href="http://studentlife.rpi.edu/student-orientation/parents-families">Parents</a>,
 <a href="http://rpinfo.rpi.edu/">Faculty &amp; Staff</a>,
 <a href="http://alumni.rpi.edu">Alumni</a>,
 <a href="http://admissions.rpi.edu/">Apply</a>,
 <a href="http://info.rpi.edu/visit">Visit</a>,
 <a href="http://giving.rpi.edu/">Give </a>,
 <a href="https://info.rpi.edu/rpi-search">Search</a>,
 <a class="mmabou" href="http://rpi.edu/about">About</a>,
 <a href="https://rpi.edu/about/#About-Research">Research</a>,
 <a href="https://rpi.edu/about/#About-Checkerboard">Academics</a>,
 <a href="https://rpi.edu/about/#About-Quickfacts-2">Quick Facts</a>,
 <a href="https://rpi.edu/about/#About-Athletics">Athletics</a>,
 <a class="allred" href="http://rpi.edu/presidentsearch" target="_blank">PRESIDENTIAL SEARCH</a>,
 <a class="mmpres" href="http://president.rpi.edu/office-president">President</a>,
 <a href="http://president.rpi.edu/vision-priorities">Vision &amp; Priorities</a>,
 <a href="http://president.rpi.edu/leadership">Leadership</a>,
 <a href="http://president.rpi.edu/accomplishments">Accomplishments</a>,
 <a href="http://president.rpi.edu/speeches">Speeches</a>,
 <a href="http://president.rpi.edu/president-biography">Biography</a>,
 <a href="http://president.rpi.edu/news">News</a>,
 <a href="http://president.rpi.edu/colloquy">Colloquy</a>,
 <a class="allred" href="https://rpi.box.com/v/president-report" target="_blank">President's Report</a>,
 <a class="allred" href="https://president.rpi.edu/2024-plan" target="_blank">Rensselaer Plan 2024</a>,
 <a class="mmacad" href="http://rpi.edu/academics">Academics</a>,
 <a href="http://www.arch.rpi.edu/">Architecture</a>,
 <a href="http://lallyschool.rpi.edu/">Business</a>,
 <a href="http://eng.rpi.edu/">Engineering</a>,
 <a href="http://www.hass.rpi.edu/">Humanities, Arts, and Social Sciences</a>,
 <a href="http://rpi.edu/academics/it.html">IT &amp; Web Science</a>,
 <a href="http://science.rpi.edu/">Science</a>,
 <a href="https://www.rpi.edu/academics/index.html#minors">Minors</a>,
 <a href="https://www.rpi.edu/academics/index.html#interd">Interdisciplinary</a>,
 <a href="https://www.rpi.edu/academics/index.html#accelerated">Accelerated Programs</a>,
 <a href="http://www.ewp.rpi.edu/">Rensselaer at Work</a>,
 <a href="http://catalog.rpi.edu/">Academic Catalogs</a>,
 <a href="http://rpi.edu/academics/calendar/">Academic Calendar</a>,
 <a href="http://faculty.rpi.edu/">Faculty</a>,
 <a class="allred" href="http://rpinfo.rpi.edu/the-arch" target="_blank">The Arch</a>,
 <a class="allred" href="http://rpinfo.rpi.edu/summer-arch" target="_blank"><img alt="Summer Arch" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v1/header/meganav/img/thearch.jpg" width="335"/></a>,
 <a class="mmrese" href="http://research.rpi.edu/">Research</a>,
 <a class="allred" href="https://research.rpi.edu/">OFFICE OF THE VP FOR RESEARCH</a>,
 <a href="https://research.rpi.edu/centers">Research Centers</a>,
 <a href="https://research.rpi.edu/facilities">Facilities</a>,
 <a href="https://research.rpi.edu/compliance">Compliance</a>,
 <a href="https://research.rpi.edu/funding">Grants &amp; Funding</a>,
 <a href="https://research.rpi.edu/policy">Policy Documents</a>,
 <a class="allred" href="https://ipo.rpi.edu">OFFICE OF TECHNOLOGY TRANSFER</a>,
 <a href="https://ipo.rpi.edu">Technology Licensing Office</a>,
 <a href="https://ipo.rpi.edu/invention-disclosure">Disclose Inventions</a>,
 <a href="https://ipo.rpi.edu/technologies-available-licensing">Explore Technologies</a>,
 <a href="https://ipo.rpi.edu/inventor-resources">Inventor Resources</a>,
 <a href="https://ipo.rpi.edu/contact-us">Contact Us</a>,
 <a class="allred" href="https://research.rpi.edu/sites/all/themes/rpi/resources/Research-Report-2020.pdf">RESEARCH REPORT 2019</a>,
 <a class="allred" href="https://ipo.rpi.edu/driving-innovation">BLOG: THE NEXT NEW...</a>,
 <a class="mmstud" href="http://rpi.edu/student-experience">Student Life</a>,
 <a href="http://rpi.edu/student-experience/index.html#campus">Life on Campus</a>,
 <a href="http://rpi.edu/student-experience/index.html#sports">Sports &amp; Recreation</a>,
 <a href="http://rpi.edu/student-experience/index.html#arts">Performing Arts</a>,
 <a href="http://rpi.edu/student-experience/index.html#civil">Civil &amp; Democratic Engagement</a>,
 <a href="http://rpi.edu/student-experience/index.html#prof">Professional &amp; Leadership Development</a>,
 <a href="http://rpi.edu/student-experience/index.html#diversity">Diversity &amp; Inclusion</a>,
 <a href="http://rpi.edu/student-experience/index.html#support">Student Support</a>,
 <a class="allred" href="http://info.rpi.edu/class">CLASS (Clustered Learning, Advocacy, and Support for Students)</a>,
 <a href="http://info.rpi.edu/class/class-organization/#ANetworkofSupport">A Network for Success</a>,
 <a href="http://info.rpi.edu/class/class-organization/#TimeBasedClustering">Time-Based Clustering</a>,
 <a href="https://info.rpi.edu/class/class-organization/#ResidentialClustering">Residential Clustering</a>,
 <a href="http://info.rpi.edu/archer-center">Archer Center</a>,
 <a href="http://info.rpi.edu/career-development">Center for Career and Professional Development</a>,
 <a href="http://doso.rpi.edu/">Dean of Students Office</a>,
 <a href="http://info.rpi.edu/isss">International Services for Students and Scholars</a>,
 <a href="http://info.rpi.edu/registrar">Registrar</a>,
 <a href="http://union.rpi.edu/">Rensselaer Union</a>,
 <a href="http://studenthealth.rpi.edu/">Student Health Center</a>,
 <a href="http://studentlife.rpi.edu/student-success">Student Success</a>,
 <a class="allred" href="http://rpinfo.rpi.edu/the-arch" target="_blank">The Arch</a>,
 <a class="allred" href="http://rpinfo.rpi.edu/summer-arch" target="_blank"><img alt="Summer Arch" height="200" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/arch-2020.jpg" width="335"/></a>,
 <a href="https://info.rpi.edu/report-a-concern" style="color: #990000; text-decoration: none; font-size: 16px; margin-bottom: -15px; margin-top: 20px; padding-bottom: 0;">REPORT A CONCERN »</a>,
 <a href="http://www.rpiathletics.com/">Athletics</a>,
 <a class="mmadmi" href="http://admissions.rpi.edu/">Admissions</a>,
 <a class="allred" href="http://admissions.rpi.edu/undergraduate">Undergraduate</a>,
 <a href="http://admissions.rpi.edu/undergraduate/apply">How to Apply</a>,
 <a href="http://admissions.rpi.edu/undergraduate/deadlines">Deadlines</a>,
 <a href="https://apply-undergrad.rpi.edu/account/login?r=https%3a%2f%2fapply-undergrad.rpi.edu%2fapply%2fstatus">Check Application Status</a>,
 <a href="http://admissions.rpi.edu/undergraduate/visit">Campus Visits &amp; Events</a>,
 <a href="https://customviewbook.admissions.rpi.edu/home">Get More Information</a>,
 <a href="https://admissions.rpi.edu/undergraduate/visit">Virtual Events</a>,
 <a class="allred" href="http://admissions.rpi.edu/graduate">Graduate</a>,
 <a href="http://admissions.rpi.edu/graduate/masters-and-phd-applicants">Masters Degree and PhD Applicants</a>,
 <a href="http://admissions.rpi.edu/graduate/non-degree-seeking-non-matriculated-students">Non-Degree Seeking Students</a>,
 <a href="http://admissions.rpi.edu/graduate/visit-recruiting-events">Recruiting Events</a>,
 <a href="http://www.ewp.rpi.edu/">Rensselaer at Work</a>,
 <a class="allred" href="http://admissions.rpi.edu/aid">Financial Aid</a>,
 <a href="http://admissions.rpi.edu/aid/apply">Apply for Aid</a>,
 <a href="http://admissions.rpi.edu/aid/guide">Guide to Your Financial Aid</a>,
 <a href="http://admissions.rpi.edu/aid/cost">Cost of Attendance</a>,
 <a href="http://admissions.rpi.edu/aid/fws">Federal Work-Study</a>,
 <a href="http://admissions.rpi.edu/aid/loans">Loans</a>,
 <a href="http://admissions.rpi.edu/aid/scholarships-and-grants">Scholarships and Grants</a>,
 <a href="https://sexualviolence.rpi.edu/" target="_blank">Title IX</a>,
 <a class="mmnews" href="https://news.rpi.edu/">News</a>,
 <a href="https://news.rpi.edu/tagged2016/research" title="">Research</a>,
 <a href="https://news.rpi.edu/tagged2016/academic" title="">Academics</a>,
 <a href="https://news.rpi.edu/tagged2016/faculty" title="">Faculty</a>,
 <a href="https://news.rpi.edu/tagged2016/community" title="">Community</a>,
 <a href="https://news.rpi.edu/tagged2016/arts" title="">Arts</a>,
 <a href="https://magazine.rpi.edu/" title="">
 <img alt="Rensselaer Alumni Magazine" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/mm-magazine.png" width="315"/></a>,
 <a href="https://everydaymatters.rpi.edu/" title="">
 <img alt="Every Day Matters Blog" src="https://rpi.edu/dept/cct/apps/web-branding/v2/header/meganav/img/edm-logo.png" width="315"/></a>,
 <a href="https://covid19.rpi.edu/" target="_blank">COVID-19 Updates and Information</a>,
 <a href="https://everydaymatters.rpi.edu/tackling-harmful-algae-blooms/" target="_blank">Read Now</a>,
 <a href="http://rpi.edu/about"><button class="btn btn--bordered btn--bordered__primary">Explore Rensselaer</button></a>,
 <a href="https://research.rpi.edu/"><button class="btn btn--long btn--secondary">Research</button></a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__arch">School of Architecture</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__eng">School of Engineering</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__hass">School of Humanities, Arts, and Social Sciences</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__lally">Lally School of Management</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__science">School of Science</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__inter">Interdisciplinary Studies</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__gradcert">Graduate Certificates</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__minors">Minors</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__prof">Professional Programs</a>,
 <a class="dropdown-item" href="http://rpi.edu/academics/index.html#academics-link__other">Other Programs</a>,
 <a href="https://www.youtube.com/channel/UCdH4jKoTt9Lr18RxrRqv4gQ" target="_blank"><i class="fab fa-lg fa-youtube"></i> Rensselaer on YouTube</a>,
 <a href="https://president.rpi.edu/2024-plan"><i class="fas fa-lg fa-landmark"></i> <em>The Rensselaer Plan 2024</em></a>,
 <a href="https://president.rpi.edu/presidents-report"><i class="fas fa-lg fa-chart-bar"></i> The President's Report</a>,
 <a href="http://news.rpi.edu//content/2022/02/07/rensselaer-polytechnic-institute-receives-gift-fund-men%E2%80%99s-varsity-ice-hockey" target="_blank"><div class="img-nav--homepage-news__overlay"><img alt="" height="600" src="https://news.rpi.edu/sites/default/files/styles/featured-frontpage-2016/public/Janet%20%20Lloyd_0.jpg?itok=LWnUv3jQ" typeof="foaf:Image" width="800"/></div><div class="img-nav--homepage-news__short-title">Rensselaer Polytechnic Institute Receives Gift To Fund Men’s Varsity Ice Hockey Coach Endowment</div><div class="img-nav--homepage-news__title">Community</div></a>,
 <a href="http://news.rpi.edu//content/2022/03/02/rensselaer-research-teams-receive-funding-further-understanding-robotics" target="_blank"><div class="img-nav--homepage-news__overlay"><img alt="" height="600" src="https://news.rpi.edu/sites/default/files/styles/featured-frontpage-2016/public/20190430_160859%20cropped.jpg?itok=O9HI2gJd" typeof="foaf:Image" width="800"/></div><div class="img-nav--homepage-news__short-title">Rensselaer Research Teams Receive Funding To Further Understanding of Robotics </div><div class="img-nav--homepage-news__title">Research</div></a>,
 <a href="http://news.rpi.edu//content/2022/02/24/manoj-r-shah-former-professor-practice-rensselaer-polytechnic-institute-elected" target="_blank"><div class="img-nav--homepage-news__overlay"><img alt="" height="600" src="https://news.rpi.edu/sites/default/files/styles/featured-frontpage-2016/public/Monaj%20Shah%202.jpg?itok=hU_HGIrX" typeof="foaf:Image" width="800"/></div><div class="img-nav--homepage-news__short-title">Manoj R. Shah, Former Professor of Practice at Rensselaer Polytechnic Institute, Elected to the National Academy of Engineering</div><div class="img-nav--homepage-news__title">Academics</div></a>,
 <a href="https://www.facebook.com/RPI.EDU" target="_blank">
 <img alt="Like us on Facebook" src="images/home/icon-facebook-sm.png"/>
 </a>,
 <a href="https://www.twitter.com/RPI" target="_blank">
 <img alt="Follow us on Twitter" src="images/home/icon-twitter-sm.png"/>
 </a>,
 <a href="https://www.instagram.com/rpiofficial/" target="_blank">
 <img alt="Follow us on Instagram" src="images/home/icon-instagram-sm.png"/>
 </a>,
 <a href="https://www.linkedin.com/edu/school?id=19005" target="_blank">
 <img alt="Follow us on LinkedIn" src="images/home/icon-linkedin-sm.png"/>
 </a>,
 <a href="https://www.youtube.com/user/rpirensselaer" target="_blank">
 <img alt="Subscribe to us on YouTube" src="images/home/icon-youtube-sm.png"/>
 </a>,
 <a href="https://events.rpi.edu/cal/main/showEventList.rdo;jsessionid=C8C372C1DF5077AFE3D8995D13448841">
 <i class="far fa-calendar-star"></i> Campus Events
           </a>,
 <a href="https://info.rpi.edu/registrar/academic-calendar/">
 <i class="far fa-calendar-alt"></i> Academic Calendar
           </a>,
 <a href="https://www.facebook.com/RPI.EDU" target="_blank">
 <img alt="Like us on Facebook" src="https://rpi.edu/images/components/icon-facebook-23.png"/>
 </a>,
 <a href="https://www.twitter.com/RPI" target="_blank">
 <img alt="Follow us on Twitter" src="https://rpi.edu/images/components/icon-twitter-23.png"/>
 </a>,
 <a href="https://www.instagram.com/rpiofficial/" target="_blank">
 <img alt="Follow us on Instagram" src="https://rpi.edu/images/components/icon-instagram-23.png"/>
 </a>,
 <a href="https://www.linkedin.com/edu/school?id=19005" target="_blank">
 <img alt="Follow us on LinkedIn" src="https://rpi.edu/images/components/icon-linkedin-23.png"/>
 </a>,
 <a href="https://www.youtube.com/user/rpirensselaer" target="_blank">
 <img alt="Subscribe to us on YouTube" src="https://rpi.edu/images/components/icon-youtube-23.png"/>
 </a>,
 <a href="http://www.arch.rpi.edu/">Architecture</a>,
 <a href="http://lallyschool.rpi.edu/">Business</a>,
 <a href="http://eng.rpi.edu/">Engineering</a>,
 <a href="http://www.hass.rpi.edu/">Humanities, Arts, &amp; Social Sciences</a>,
 <a href="http://rpi.edu/academics/it.html">IT &amp; Web Science</a>,
 <a href="http://science.rpi.edu/">Science</a>,
 <a href="http://research.rpi.edu/">Research</a>,
 <a href="http://admissions.rpi.edu/">Admissions</a>,
 <a href="http://alumni.rpi.edu/">Alumni/ae &amp; Friends</a>,
 <a href="http://www.rpiathletics.com/">Athletics</a>,
 <a href="http://hr.rpi.edu/">Human Resources</a>,
 <a href="https://library.rpi.edu/">Library</a>,
 <a href="http://rpinfo.rpi.edu/">RPInfo</a>,
 <a href="http://scer.rpi.edu/">Strategic Communications</a>,
 <a href="http://www.rpi.edu/veterans/">Veterans</a>,
 <a href="http://admissions.rpi.edu/undergraduate/admission/index.html">Apply Now</a>,
 <a href="http://info.rpi.edu/contactus">Contact Us</a>,
 <a href="http://giving.rpi.edu/">Give to Rensselaer</a>,
 <a href="http://www.rpi.edu/tour/index.html">Visit Campus</a>,
 <a href="https://webforms.rpi.edu/rensselaer-web-site-feedback" target="_blank">Send Feedback</a>,
 <a href="http://scer.rpi.edu/forjournalists" target="_blank">Media Policy</a>,
 <a href="https://info.rpi.edu/web-privacy-statement" target="_blank">Web Privacy Policy</a>,
 <a href="http://rpi.edu/about/heoa/index.html" target="_blank">Student Consumer Information</a>,
 <a href="https://sexualviolence.rpi.edu/" target="_blank">Title IX Policy</a>,
 <a href="http://info.rpi.edu/webaccessibility" target="_blank">Accessibility</a>]

In [19]:
# veamos cualquier sitio web

response = requests.get("https://www.google.com")
txt = response.text
soup = BeautifulSoup(txt, 'html.parser')

print(soup.prettify())

<!DOCTYPE doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="en">
 <head>
  <meta content="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for." name="description"/>
  <meta content="noodp" name="robots"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"/>
  <title>
   Google
  </title>
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){window.google={kEI:'xGwhYpfQHJqOwbkP8pCFiAM',kEXPI:'0,1302536,56873,1710,4348,207,4804,2316,383,246,5,1354,4013,923,314,1122516,1197767,656,380068,16114,17444,11240,17572,4859,1361,9291,3023,17585,4020,978,13228,3847,4192,6430,22112,629,5081,1593,1279,2742,149,1943,1983,3,4311,108,3406,606,2023,1777,520,14670,603,2624,2845,7,5599,11851,16320,1851,6398,8926,432,3,1590,1,5445,148,11323,2652,4,1528,2304,6463,576,20309,1714,3050,2658,7357,30,11412,2216,2980,1457,9358,5993,1435,5797,2560,4094,4052,3,3541,1,14711,2096,21582,3765,2,14022,1931,442,342,255,2993,1557,743,5853,10463,1160,5679,1020,2378,2721,8596,7953,1684,64,1,8,7718,4567,2588,3671,23418,1252,5835,14968,1538,2794,2077,127,2083,1802,690,705,445,2,2,1,1508,1785,3101,4395,168,346,1195,4808,15,7307,1557,10,1,436,288,759,6797,311,113,2453,70,915,1615,5,466,758,187,316,252,362,56,2,800,1,2,3,2048,858,2744,446,3380,421,880,1889,269,750,1007,880,505,4158,791,14,351,88,1757,5,855,95,119,137,1,8,1017,860,763,3,1,466,307,36,1153,1539,2325,166,80,194,610,2,5,1213,390,124,914,437,110,239,305,465,130,1023,218,86,654,436,625,275,54,598,375,1127,1310,5470762,100,1,758,338,1,5994946,2800544,1323,882,444,3,1877,1,2562,1,748,141,795,563,1,4265,1,1,2,1331,4142,2609,155,17,13,72,139,4,2,20,2,169,13,19,46,5,39,96,548,29,2,2,1,2,1,2,2,7,4,1,2,2,2,2,2,2,353,513,186,1,1,158,3,2,2,2,2,2,4,2,3,3,269,1601,141,576,328,56,3,2,36,1,57,11,20731906,3220004,2773820,88207,1179663,3,450,1964,1491,9,1435,159,1358,4726,3,927,28,3,1209,497,1801,1117,2440,876208',kBL:'M21B'};google.sn='webhp';google.kHL='en';})();(function(){
var f=this||self;var h,k=[];function l(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute("eid")));)a=a.parentNode;return b||h}function m(a){for(var b=null;a&&(!a.getAttribute||!(b=a.getAttribute("leid")));)a=a.parentNode;return b}
function n(a,b,c,d,g){var e="";c||-1!==b.search("&ei=")||(e="&ei="+l(d),-1===b.search("&lei=")&&(d=m(d))&&(e+="&lei="+d));d="";!c&&f._cshid&&-1===b.search("&cshid=")&&"slh"!==a&&(d="&cshid="+f._cshid);c=c||"/"+(g||"gen_204")+"?atyp=i&ct="+a+"&cad="+b+e+"&zx="+Date.now()+d;/^http:/i.test(c)&&"https:"===window.location.protocol&&(google.ml&&google.ml(Error("a"),!1,{src:c,glmm:1}),c="");return c};h=google.kEI;google.getEI=l;google.getLEI=m;google.ml=function(){return null};google.log=function(a,b,c,d,g){if(c=n(a,b,c,d,g)){a=new Image;var e=k.length;k[e]=a;a.onerror=a.onload=a.onabort=function(){delete k[e]};a.src=c}};google.logUrl=n;}).call(this);(function(){
google.y={};google.sy=[];google.x=function(a,b){if(a)var c=a.id;else{do c=Math.random();while(google.y[c])}google.y[c]=[a,b];return!1};google.sx=function(a){google.sy.push(a)};google.lm=[];google.plm=function(a){google.lm.push.apply(google.lm,a)};google.lq=[];google.load=function(a,b,c){google.lq.push([[a],b,c])};google.loadAll=function(a,b){google.lq.push([a,b])};google.bx=!1;google.lx=function(){};}).call(this);google.f={};(function(){
document.documentElement.addEventListener("submit",function(b){var a;if(a=b.target){var c=a.getAttribute("data-submitfalse");a="1"===c||"q"===c&&!a.elements.q.value?!0:!1}else a=!1;a&&(b.preventDefault(),b.stopPropagation())},!0);document.documentElement.addEventListener("click",function(b){var a;a:{for(a=b.target;a&&a!==document.documentElement;a=a.parentElement)if("A"===a.tagName){a="1"===a.getAttribute("data-nohref");break a}a=!1}a&&b.preventDefault()},!0);}).call(this);
  </script>
  <style>
   #gbar,#guser{font-size:13px;padding-top:1px !important;}#gbar{height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf .gb4{color:#900 !important}
  </style>
  <style>
   body,td,a,p,.h{font-family:arial,sans-serif}body{margin:0;overflow-y:scroll}#gog{padding:3px 8px 0}td{line-height:.8em}.gac_m td{line-height:17px}form{margin-bottom:20px}.h{color:#1558d6}em{font-weight:bold;font-style:normal}.lst{height:25px;width:496px}.gsfi,.lst{font:18px arial,sans-serif}.gsfs{font:17px arial,sans-serif}.ds{display:inline-box;display:inline-block;margin:3px 0 4px;margin-left:4px}input{font-family:inherit}body{background:#fff;color:#000}a{color:#4b11a8;text-decoration:none}a:hover,a:active{text-decoration:underline}.fl a{color:#1558d6}a:visited{color:#4b11a8}.sblc{padding-top:5px}.sblc a{display:block;margin:2px 0;margin-left:13px;font-size:11px}.lsbb{background:#f8f9fa;border:solid 1px;border-color:#dadce0 #70757a #70757a #dadce0;height:30px}.lsbb{display:block}#WqQANb a{display:inline-block;margin:0 12px}.lsb{background:url(/images/nav_logo229.png) 0 -261px repeat-x;border:none;color:#000;cursor:pointer;height:30px;margin:0;outline:0;font:15px arial,sans-serif;vertical-align:top}.lsb:active{background:#dadce0}.lst:focus{outline:none}
  </style>
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){window.google.erd={jsr:1,bv:1541,de:true};
var f=this||self;var g,h,k=null!==(g=f.mei)&&void 0!==g?g:1,l=null!==(h=f.sdo)&&void 0!==h?h:!0,p=0,q,r=google.erd,u=r.jsr;google.ml=function(a,b,d,m,c){c=void 0===c?2:c;b&&(q=a&&a.message);if(google.dl)return google.dl(a,c,d),null;if(0>u){window.console&&console.error(a,d);if(-2===u)throw a;b=!1}else b=!a||!a.message||"Error loading script"===a.message||p>=k&&!m?!1:!0;if(!b)return null;p++;d=d||{};var e=c;c=encodeURIComponent;b="/gen_204?atyp=i&ei="+c(google.kEI);google.kEXPI&&(b+="&jexpid="+c(google.kEXPI));b+="&srcpg="+c(google.sn)+"&jsr="+c(r.jsr)+"&bver="+c(r.bv)+("&jsel="+e);e=a.lineNumber;void 0!==e&&(b+="&line="+
e);var n=a.fileName;n&&(b+="&script="+c(n),e&&n===window.location.href&&(e=document.documentElement.outerHTML.split("\n")[e],b+="&cad="+c(e?e.substring(0,300):"No script found.")));for(var t in d)b+="&",b+=c(t),b+="=",b+=c(d[t]);b=b+"&emsg="+c(a.name+": "+a.message);b=b+"&jsst="+c(a.stack||"N/A");12288<=b.length&&(b=b.substr(0,12288));a=b;m||google.log(0,"",a);return a};window.onerror=function(a,b,d,m,c){q!==a&&(a=c instanceof Error?c:Error(a),void 0===d||"lineNumber"in a||(a.lineNumber=d),void 0===b||"fileName"in a||(a.fileName=b),google.ml(a,!1,void 0,!1,"SyntaxError"===a.name||"SyntaxError"===a.message.substring(0,11)?2:0));q=null;l&&p>=k&&(window.onerror=null)};})();
  </script>
 </head>
 <body bgcolor="#fff">
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){var src='/images/nav_logo229.png';var iesg=false;document.body.onload = function(){window.n && window.n();if (document.images){new Image().src=src;}
if (!iesg){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}
}
})();
  </script>
  <div id="mngb">
   <div id="gbar">
    <nobr>
     <b class="gb1">
      Search
     </b>
     <a class="gb1" href="https://www.google.com/imghp?hl=en&amp;tab=wi">
      Images
     </a>
     <a class="gb1" href="https://maps.google.com/maps?hl=en&amp;tab=wl">
      Maps
     </a>
     <a class="gb1" href="https://play.google.com/?hl=en&amp;tab=w8">
      Play
     </a>
     <a class="gb1" href="https://www.youtube.com/?gl=US&amp;tab=w1">
      YouTube
     </a>
     <a class="gb1" href="https://news.google.com/?tab=wn">
      News
     </a>
     <a class="gb1" href="https://mail.google.com/mail/?tab=wm">
      Gmail
     </a>
     <a class="gb1" href="https://drive.google.com/?tab=wo">
      Drive
     </a>
     <a class="gb1" href="https://www.google.com/intl/en/about/products?tab=wh" style="text-decoration:none">
      <u>
       More
      </u>
      »
     </a>
    </nobr>
   </div>
   <div id="guser" width="100%">
    <nobr>
     <span class="gbi" id="gbn">
     </span>
     <span class="gbf" id="gbf">
     </span>
     <span id="gbe">
     </span>
     <a class="gb4" href="http://www.google.com/history/optout?hl=en">
      Web History
     </a>
     |
     <a class="gb4" href="/preferences?hl=en">
      Settings
     </a>
     |
     <a class="gb4" href="https://accounts.google.com/ServiceLogin?hl=en&amp;passive=true&amp;continue=https://www.google.com/&amp;ec=GAZAAQ" id="gb_70" target="_top">
      Sign in
     </a>
    </nobr>
   </div>
   <div class="gbh" style="left:0">
   </div>
   <div class="gbh" style="right:0">
   </div>
  </div>
  <center>
   <br clear="all" id="lgpd"/>
   <div id="lga">
    <img alt="Google" height="92" id="hplogo" src="/images/branding/googlelogo/1x/googlelogo_white_background_color_272x92dp.png" style="padding:28px 0 14px" width="272"/>
    <br/>
    <br/>
   </div>
   <form action="/search" name="f">
    <table cellpadding="0" cellspacing="0">
     <tr valign="top">
      <td width="25%">
      </td>
      <td align="center" nowrap="">
       <input name="ie" type="hidden" value="ISO-8859-1"/>
       <input name="hl" type="hidden" value="en"/>
       <input name="source" type="hidden" value="hp"/>
       <input name="biw" type="hidden"/>
       <input name="bih" type="hidden"/>
       <div class="ds" style="height:32px;margin:4px 0">
        <input autocomplete="off" class="lst" maxlength="2048" name="q" size="57" style="margin:0;padding:5px 8px 0 6px;vertical-align:top;color:#000" title="Google Search" value=""/>
       </div>
       <br style="line-height:0"/>
       <span class="ds">
        <span class="lsbb">
         <input class="lsb" name="btnG" type="submit" value="Google Search"/>
        </span>
       </span>
       <span class="ds">
        <span class="lsbb">
         <input class="lsb" id="tsuid1" name="btnI" type="submit" value="I'm Feeling Lucky"/>
         <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
          (function(){var id='tsuid1';document.getElementById(id).onclick = function(){if (this.form.q.value){this.checked = 1;if (this.form.iflsig)this.form.iflsig.disabled = false;}
else top.location='/doodles/';};})();
         </script>
         <input name="iflsig" type="hidden" value="AHkkrS4AAAAAYiF61OwJx4QUka7ihmHNZKiTiZBWQr02"/>
        </span>
       </span>
      </td>
      <td align="left" class="fl sblc" nowrap="" width="25%">
       <a href="/advanced_search?hl=en&amp;authuser=0">
        Advanced search
       </a>
      </td>
     </tr>
    </table>
    <input id="gbv" name="gbv" type="hidden" value="1"/>
    <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
     (function(){
var a,b="1";if(document&&document.getElementById)if("undefined"!=typeof XMLHttpRequest)b="2";else if("undefined"!=typeof ActiveXObject){var c,d,e=["MSXML2.XMLHTTP.6.0","MSXML2.XMLHTTP.3.0","MSXML2.XMLHTTP","Microsoft.XMLHTTP"];for(c=0;d=e[c++];)try{new ActiveXObject(d),b="2"}catch(h){}}a=b;if("2"==a&&-1==location.search.indexOf("&gbv=2")){var f=google.gbvu,g=document.getElementById("gbv");g&&(g.value=a);f&&window.setTimeout(function(){location.href=f},0)};}).call(this);
    </script>
   </form>
   <div id="gac_scont">
   </div>
   <div style="font-size:83%;min-height:3.5em">
    <br/>
   </div>
   <span id="footer">
    <div style="font-size:10pt">
     <div id="WqQANb" style="margin:19px auto;text-align:center">
      <a href="/intl/en/ads/">
       Advertising Programs
      </a>
      <a href="/services/">
       Business Solutions
      </a>
      <a href="/intl/en/about.html">
       About Google
      </a>
     </div>
    </div>
    <p style="font-size:8pt;color:#70757a">
     © 2022 -
     <a href="/intl/en/policies/privacy/">
      Privacy
     </a>
     -
     <a href="/intl/en/policies/terms/">
      Terms
     </a>
    </p>
   </span>
  </center>
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){window.google.cdo={height:757,width:1440};(function(){
var a=window.innerWidth,b=window.innerHeight;if(!a||!b){var c=window.document,d="CSS1Compat"==c.compatMode?c.documentElement:c.body;a=d.clientWidth;b=d.clientHeight}a&&b&&(a!=google.cdo.width||b!=google.cdo.height)&&google.log("","","/client_204?&atyp=i&biw="+a+"&bih="+b+"&ei="+google.kEI);}).call(this);})();
  </script>
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){google.xjs={ck:'',cs:'',excm:[]};})();
  </script>
  <script nonce="gPdNADIhgtcOWV0OhaZlsg==">
   (function(){var u='/xjs/_/js/k\x3dxjs.hp.en_US.r3tVyJhIJkM.O/am\x3dAOAJAIAEIAE/d\x3d1/ed\x3d1/esmo\x3d1/rs\x3dACT90oHOQTTvwTIvkaRUy-k0WIpcNDLPZw/m\x3dsb_he,d';
var e=this||self,f=function(a){return a};var g;var l=function(a,b){this.g=b===h?a:""};l.prototype.toString=function(){return this.g+""};var h={};
function m(){var a=u;google.lx=function(){n(a);google.lx=function(){}};google.bx||google.lx()}
function n(a){google.timers&&google.timers.load&&google.tick&&google.tick("load","xjsls");var b=document;var c="SCRIPT";"application/xhtml+xml"===b.contentType&&(c=c.toLowerCase());c=b.createElement(c);if(void 0===g){b=null;var k=e.trustedTypes;if(k&&k.createPolicy){try{b=k.createPolicy("goog#html",{createHTML:f,createScript:f,createScriptURL:f})}catch(p){e.console&&e.console.error(p.message)}g=b}else g=b}a=(b=g)?b.createScriptURL(a):a;a=new l(a,h);c.src=a instanceof l&&a.constructor===l?a.g:"type_error:TrustedResourceUrl";var d;a=(c.ownerDocument&&c.ownerDocument.defaultView||window).document;(d=(b=null===(d=a.querySelector)||void 0===d?void 0:d.call(a,"script[nonce]"))?b.nonce||b.getAttribute("nonce")||"":"")&&c.setAttribute("nonce",d);document.body.appendChild(c);google.psa=!0};google.xjsu=u;setTimeout(function(){m()},0);})();function _DumpException(e){throw e;}
function _F_installCss(c){}
(function(){google.jl={attn:false,blt:'none',chnk:0,dw:false,dwu:true,emtn:0,end:0,ine:false,injs:'none',injt:0,lls:'default',pdt:0,rep:0,snet:true,strt:0,ubm:false,uwp:true};})();(function(){var pmc='{\x22d\x22:{},\x22sb_he\x22:{\x22agen\x22:true,\x22cgen\x22:true,\x22client\x22:\x22heirloom-hp\x22,\x22dh\x22:true,\x22dhqt\x22:true,\x22ds\x22:\x22\x22,\x22ffql\x22:\x22en\x22,\x22fl\x22:true,\x22host\x22:\x22google.com\x22,\x22isbh\x22:28,\x22jsonp\x22:true,\x22msgs\x22:{\x22cibl\x22:\x22Clear Search\x22,\x22dym\x22:\x22Did you mean:\x22,\x22lcky\x22:\x22I\\u0026#39;m Feeling Lucky\x22,\x22lml\x22:\x22Learn more\x22,\x22oskt\x22:\x22Input tools\x22,\x22psrc\x22:\x22This search was removed from your \\u003Ca href\x3d\\\x22/history\\\x22\\u003EWeb History\\u003C/a\\u003E\x22,\x22psrl\x22:\x22Remove\x22,\x22sbit\x22:\x22Search by image\x22,\x22srch\x22:\x22Google Search\x22},\x22ovr\x22:{},\x22pq\x22:\x22\x22,\x22refpd\x22:true,\x22rfs\x22:[],\x22sbas\x22:\x220 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08)\x22,\x22sbpl\x22:16,\x22sbpr\x22:16,\x22scd\x22:10,\x22stok\x22:\x22BbjlAEplsa8Gq7SaBTnuYkZY8MI\x22,\x22uhde\x22:false}}';google.pmc=JSON.parse(pmc);})();
  </script>
 </body>
</html>

### Ejemplo

In [20]:
from urllib.request import urlopen

Con esta instrucción tenemos el texto completo de la página abierta.

In [21]:
html = urlopen('http://books.toscrape.com')
print(html.read())

b'<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->\n<!--[if IE 7]>         <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->\n<!--[if IE 8]>         <html lang="en-us" class="no-js lt-ie9"> <![endif]-->\n<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->\n    <head>\n        <title>\n    All products | Books to Scrape - Sandbox\n</title>\n\n        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />\n        <meta name="created" content="24th Jun 2016 09:29" />\n        <meta name="description" content="" />\n        <meta name="viewport" content="width=device-width" />\n        <meta name="robots" content="NOARCHIVE,NOCACHE" />\n\n        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->\n        <!--[if lt IE 9]>\n        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>\n        <![endif]-->\n\n        \n            <link rel="shortcut icon" href="static/oscar/favicon.ico" />\n        \n\n        \n        \n    \n    \n        <link rel="stylesheet" type="text/css" href="static/oscar/css/styles.css" />\n    \n    <link rel="stylesheet" href="static/oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" />\n    <link rel="stylesheet" type="text/css" href="static/oscar/css/datetimepicker.css" />\n\n\n        \n        \n\n        \n\n        \n            \n            \n\n        \n    </head>\n\n    <body id="default" class="default">\n        \n        \n    \n    \n    <header class="header container-fluid">\n        <div class="page_inner">\n            <div class="row">\n                <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>\n</div>\n\n                \n            </div>\n        </div>\n    </header>\n\n    \n    \n<div class="container-fluid page">\n    <div class="page_inner">\n        \n    <ul class="breadcrumb">\n        <li>\n            <a href="index.html">Home</a>\n        </li>\n        <li class="active">All products</li>\n    </ul>\n\n        <div class="row">\n\n            <aside class="sidebar col-sm-4 col-md-3">\n                \n                <div id="promotions_left">\n                    \n                </div>\n                \n    \n    \n        \n        <div class="side_categories">\n            <ul class="nav nav-list">\n                \n                    <li>\n                        <a href="catalogue/category/books_1/index.html">\n                            \n                                Books\n                            \n                        </a>\n\n                        <ul>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/travel_2/index.html">\n                            \n                                Travel\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/mystery_3/index.html">\n                            \n                                Mystery\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/historical-fiction_4/index.html">\n                            \n                                Historical Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/sequential-art_5/index.html">\n                            \n                                Sequential Art\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/classics_6/index.html">\n                            \n                                Classics\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/philosophy_7/index.html">\n                            \n                                Philosophy\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/romance_8/index.html">\n                            \n                                Romance\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/womens-fiction_9/index.html">\n                            \n                                Womens Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/fiction_10/index.html">\n                            \n                                Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/childrens_11/index.html">\n                            \n                                Childrens\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/religion_12/index.html">\n                            \n                                Religion\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/nonfiction_13/index.html">\n                            \n                                Nonfiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/music_14/index.html">\n                            \n                                Music\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/default_15/index.html">\n                            \n                                Default\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/science-fiction_16/index.html">\n                            \n                                Science Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/sports-and-games_17/index.html">\n                            \n                                Sports and Games\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/add-a-comment_18/index.html">\n                            \n                                Add a comment\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/fantasy_19/index.html">\n                            \n                                Fantasy\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/new-adult_20/index.html">\n                            \n                                New Adult\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/young-adult_21/index.html">\n                            \n                                Young Adult\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/science_22/index.html">\n                            \n                                Science\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/poetry_23/index.html">\n                            \n                                Poetry\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/paranormal_24/index.html">\n                            \n                                Paranormal\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/art_25/index.html">\n                            \n                                Art\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/psychology_26/index.html">\n                            \n                                Psychology\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/autobiography_27/index.html">\n                            \n                                Autobiography\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/parenting_28/index.html">\n                            \n                                Parenting\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/adult-fiction_29/index.html">\n                            \n                                Adult Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/humor_30/index.html">\n                            \n                                Humor\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/horror_31/index.html">\n                            \n                                Horror\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/history_32/index.html">\n                            \n                                History\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/food-and-drink_33/index.html">\n                            \n                                Food and Drink\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/christian-fiction_34/index.html">\n                            \n                                Christian Fiction\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/business_35/index.html">\n                            \n                                Business\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/biography_36/index.html">\n                            \n                                Biography\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/thriller_37/index.html">\n                            \n                                Thriller\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/contemporary_38/index.html">\n                            \n                                Contemporary\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/spirituality_39/index.html">\n                            \n                                Spirituality\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/academic_40/index.html">\n                            \n                                Academic\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/self-help_41/index.html">\n                            \n                                Self Help\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/historical_42/index.html">\n                            \n                                Historical\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/christian_43/index.html">\n                            \n                                Christian\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/suspense_44/index.html">\n                            \n                                Suspense\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/short-stories_45/index.html">\n                            \n                                Short Stories\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/novels_46/index.html">\n                            \n                                Novels\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/health_47/index.html">\n                            \n                                Health\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/politics_48/index.html">\n                            \n                                Politics\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/cultural_49/index.html">\n                            \n                                Cultural\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/erotica_50/index.html">\n                            \n                                Erotica\n                            \n                        </a>\n\n                        </li>\n                        \n                \n                    <li>\n                        <a href="catalogue/category/books/crime_51/index.html">\n                            \n                                Crime\n                            \n                        </a>\n\n                        </li>\n                        \n                            </ul></li>\n                        \n                \n            </ul>\n        </div>\n    \n    \n\n            </aside>\n\n            <div class="col-sm-8 col-md-9">\n                \n                <div class="page-header action">\n                    <h1>All products</h1>\n                </div>\n                \n\n                \n\n\n\n<div id="messages">\n\n</div>\n\n\n                <div id="promotions">\n                    \n                </div>\n\n                \n    <form method="get" class="form-horizontal">\n        \n        <div style="display:none">\n            \n            \n        </div>\n\n        \n            \n                \n                    <strong>1000</strong> results - showing <strong>1</strong> to <strong>20</strong>.\n                \n            \n            \n        \n    </form>\n    \n        <section>\n            <div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.</div>\n\n            <div>\n                <ol class="row">\n                    \n             

Utilizaremos la librería Beautiful Soup

In [22]:
from bs4 import BeautifulSoup

In [23]:
html = urlopen("http://books.toscrape.com")
soup = BeautifulSoup(html.read(), 'html.parser')

In [24]:
type(html), type(soup)

(http.client.HTTPResponse, bs4.BeautifulSoup)

Imprimimos todo el html

In [25]:
print(soup.get_text())

    All products | Books to Scrape - Sandbox

















Books to Scrape We love being scraped!








Home

All products










                                Books






                                Travel






                                Mystery






                                Historical Fiction






                                Sequential Art






                                Classics






                                Philosophy






                                Romance






                                Womens Fiction






                                Fiction






                                Childrens






                                Religion






                                Nonfiction






                                Music






                                Default






                                Science Fiction






                                Sports and Games






                                Add a comment






                                Fantasy






                                New Adult






                                Young Adult






                                Science






                                Poetry






                                Paranormal






                                Art






                                Psychology






                                Autobiography






                                Parenting






                                Adult Fiction






                                Humor






                                Horror






                                History






                                Food and Drink






                                Christian Fiction






                                Business






                                Biography






                                Thriller






                                Contemporary






                                Spirituality






                                Academic






                                Self Help






                                Historical






                                Christian






                                Suspense






                                Short Stories






                                Novels






                                Health






                                Politics






                                Cultural






                                Erotica






                                Crime









All products








1000 results - showing 1 to 20.






Warning! This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.














A Light in the ...

£51.77



        In stock



Add to basket
















Tipping the Velvet

£53.74



        In stock



Add to basket
















Soumission

£50.10



        In stock



Add to basket
















Sharp Objects

£47.82



        In stock



Add to basket
















Sapiens: A Brief History ...

£54.23



        In stock



Add to basket
















The Requiem Red

£22.65



        In stock



Add to basket
















The Dirty Little Secrets ...

£33.34



        In stock



Add to basket
















The Coming Woman: A ...

£17.93



        In stock



Add to basket
















The Boys in the ...

£22.60



        In stock



Add to basket
















The Black Maria

£52.15



        In stock



Add to basket
















Starving Hearts (Triangular Trade ...

£13.99



        In stock



Add to basket
















Shakespeare's Sonnets

£20.66



        In stock



Add to basket
















Set Me Free

£17.46



        In stock



Add to basket
















Scott Pilgrim's Precious Little ...

£52.29



        In stock



Add to basket
















Rip it Up and ...

£35.02



        In stock



Add to basket
















Our Band Could Be ...

£57.25



        In stock



Add to basket
















Olio

£23.88



        In stock



Add to basket
















Mesaerion: The Best Science ...

£37.59



        In stock



Add to basket
















Libertarianism for Beginners

£51.33



        In stock



Add to basket
















It's Only the Himalayas

£45.17



        In stock



Add to basket









                Page 1 of 50


next












window.jQuery || document.write('<script src="static/oscar/js/jquery/jquery-1.9.1.min.js"><\/script>')







            $(function() {



    oscar.init();

    oscar.search.init();

            });

Imprimimos el cuerpo del HTML

In [ ]:
soup.body()

[<header class="header container-fluid">
 <div class="page_inner">
 <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>
 </div>
 </header>, <div class="page_inner">
 <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>
 </div>, <div class="row">
 <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>
 </div>, <div class="col-sm-8 h1"><a href="index.html">Books to Scrape</a><small> We love being scraped!</small>
 </div>, <a href="index.html">Books to Scrape</a>, <small> We love being scraped!</small>, <div class="container-fluid page">
 <div class="page_inner">
 <ul class="breadcrumb">
 <li>
 <a href="index.html">Home</a>
 </li>
 <li class="active">All products</li>
 </ul>
 <div class="row">
 <aside class="sidebar col-sm-4 col-md-3">
 <div id="promotions_left">
 </div>
 <div class="side_categories">
 <ul class="nav nav-list">
 <li>
 <a href="catalogue/category/books_1/index.html">

                                 Books

                         </a>
 <ul>
 <li>
 <a href="catalogue/category/books/travel_2/index.html">

                                 Travel

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/mystery_3/index.html">

                                 Mystery

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/historical-fiction_4/index.html">

                                 Historical Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/sequential-art_5/index.html">

                                 Sequential Art

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/classics_6/index.html">

                                 Classics

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/philosophy_7/index.html">

                                 Philosophy

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/romance_8/index.html">

                                 Romance

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/womens-fiction_9/index.html">

                                 Womens Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/fiction_10/index.html">

                                 Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/childrens_11/index.html">

                                 Childrens

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/religion_12/index.html">

                                 Religion

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/nonfiction_13/index.html">

                                 Nonfiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/music_14/index.html">

                                 Music

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/default_15/index.html">

                                 Default

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/science-fiction_16/index.html">

                                 Science Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/sports-and-games_17/index.html">

                                 Sports and Games

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/add-a-comment_18/index.html">

                                 Add a comment

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/fantasy_19/index.html">

                                 Fantasy

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/new-adult_20/index.html">

                                 New Adult

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/young-adult_21/index.html">

                                 Young Adult

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/science_22/index.html">

                                 Science

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/poetry_23/index.html">

                                 Poetry

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/paranormal_24/index.html">

                                 Paranormal

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/art_25/index.html">

                                 Art

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/psychology_26/index.html">

                                 Psychology

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/autobiography_27/index.html">

                                 Autobiography

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/parenting_28/index.html">

                                 Parenting

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/adult-fiction_29/index.html">

                                 Adult Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/humor_30/index.html">

                                 Humor

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/horror_31/index.html">

                                 Horror

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/history_32/index.html">

                                 History

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/food-and-drink_33/index.html">

                                 Food and Drink

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/christian-fiction_34/index.html">

                                 Christian Fiction

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/business_35/index.html">

                                 Business

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/biography_36/index.html">

                                 Biography

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/thriller_37/index.html">

                                 Thriller

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/contemporary_38/index.html">

                                 Contemporary

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/spirituality_39/index.html">

                                 Spirituality

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/academic_40/index.html">

                                 Academic

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/self-help_41/index.html">

                                 Self Help

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/historical_42/index.html">

                                 Historical

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/christian_43/index.html">

                                 Christian

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/suspense_44/index.html">

                                 Suspense

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/short-stories_45/index.html">

                                 Short Stories

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/novels_46/index.html">

                                 Novels

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/health_47/index.html">

                                 Health

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/politics_48/index.html">

                                 Politics

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/cultural_49/index.html">

                                 Cultural

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/erotica_50/index.html">

                                 Erotica

                         </a>
 </li>
 <li>
 <a href="catalogue/category/books/crime_51/index.html">

                                 Crime

                         </a>
 </li>
 </ul></li>
 </ul>
 </div>
 </aside>
 <div class="col-sm-8 col-md-9">
 <div class="page-header action">
 <h1>All products</h1>
 </div>
 <div id="messages">
 </div>
 <div id="promotions">
 </div>
 <form class="form-horizontal" method="get">
 <div style="display:none">
 </div>
 <strong>1000</strong> results - showing <strong>1</strong> to <strong>20</strong>.




     </form>
 <section>
 <div class="alert alert-warning" role="alert"><strong>Warning!</strong> This is a demo website for web scraping purposes. Prices and ratings here were randomly assigned and have no real meaning.</div>
 <div>
 <ol class="row">
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">£51.77</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/tipping-the-velvet_999/index.html"><img alt="Tipping the Velvet" class="thumbnail" src="media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f4a1c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>
 <div class="product_price">
 <p class="price_color">£53.74</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/soumission_998/index.html"><img alt="Soumission" class="thumbnail" src="media/cache/3e/ef/3eef99c9d9adef34639f510662022830.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>
 <div class="product_price">
 <p class="price_color">£50.10</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/sharp-objects_997/index.html"><img alt="Sharp Objects" class="thumbnail" src="media/cache/32/51/3251cf3a3412f53f339e42cac2134093.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>
 <div class="product_price">
 <p class="price_color">£47.82</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html"><img alt="Sapiens: A Brief History of Humankind" class="thumbnail" src="media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c12a6.jpg"/></a>
 </div>
 <p class="star-rating Five">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>
 <div class="product_price">
 <p class="price_color">£54.23</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-requiem-red_995/index.html"><img alt="The Requiem Red" class="thumbnail" src="media/cache/68/33/68339b4c9bc034267e1da611ab3b34f8.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>
 <div class="product_price">
 <p class="price_color">£22.65</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html"><img alt="The Dirty Little Secrets of Getting Your Dream Job" class="thumbnail" src="media/cache/92/27/92274a95b7c251fea59a2b8a78275ab4.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>
 <div class="product_price">
 <p class="price_color">£33.34</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html"><img alt="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull" class="thumbnail" src="media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78cc64.jpg"/></a>
 </div>
 <p class="star-rating Three">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>
 <div class="product_price">
 <p class="price_color">£17.93</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html"><img alt="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics" class="thumbnail" src="media/cache/66/88/66883b91f6804b2323c8369331cb7dd1.jpg"/></a>
 </div>
 <p class="star-rating Four">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>
 <div class="product_price">
 <p class="price_color">£22.60</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/the-black-maria_991/index.html"><img alt="The Black Maria" class="thumbnail" src="media/cache/58/46/5846057e28022268153beff6d352b06c.jpg"/></a>
 </div>
 <p class="star-rating One">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>
 <div class="product_price">
 <p class="price_color">£52.15</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">
 <a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html"><img alt="Starving Hearts (Triangular Trade Trilogy, #1)" class="thumbnail" src="media/cache/be/f4/bef44da28c98f905a3ebec0b87be8530.jpg"/></a>
 </div>
 <p class="star-rating Two">
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 <i class="icon-star"></i>
 </p>
 <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>
 <div class="product_price">
 <p class="price_color">£13.99</p>
 <p class="instock availability">
 <i class="icon-ok"></i>

         In stock

 </p>
 <form>
 <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
 </form>
 </div>
 </article>
 </li>
 <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
 <article class="product_pod">
 <div class="image_container">

Al revisar el codigo fuente nos encontramos que los títulos están en el tag "< h3>", esto buscará sobre el HTML.

In [26]:
busqueda = soup.find_all('h3')
print(busqueda)

[<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>, <h3><a href="catalogue/tipping-the-velvet_999/index.html" title="Tipping the Velvet">Tipping the Velvet</a></h3>, <h3><a href="catalogue/soumission_998/index.html" title="Soumission">Soumission</a></h3>, <h3><a href="catalogue/sharp-objects_997/index.html" title="Sharp Objects">Sharp Objects</a></h3>, <h3><a href="catalogue/sapiens-a-brief-history-of-humankind_996/index.html" title="Sapiens: A Brief History of Humankind">Sapiens: A Brief History ...</a></h3>, <h3><a href="catalogue/the-requiem-red_995/index.html" title="The Requiem Red">The Requiem Red</a></h3>, <h3><a href="catalogue/the-dirty-little-secrets-of-getting-your-dream-job_994/index.html" title="The Dirty Little Secrets of Getting Your Dream Job">The Dirty Little Secrets ...</a></h3>, <h3><a href="catalogue/the-coming-woman-a-novel-based-on-the-life-of-the-infamous-feminist-victoria-woodhull_993/index.html" title="The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull">The Coming Woman: A ...</a></h3>, <h3><a href="catalogue/the-boys-in-the-boat-nine-americans-and-their-epic-quest-for-gold-at-the-1936-berlin-olympics_992/index.html" title="The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics">The Boys in the ...</a></h3>, <h3><a href="catalogue/the-black-maria_991/index.html" title="The Black Maria">The Black Maria</a></h3>, <h3><a href="catalogue/starving-hearts-triangular-trade-trilogy-1_990/index.html" title="Starving Hearts (Triangular Trade Trilogy, #1)">Starving Hearts (Triangular Trade ...</a></h3>, <h3><a href="catalogue/shakespeares-sonnets_989/index.html" title="Shakespeare's Sonnets">Shakespeare's Sonnets</a></h3>, <h3><a href="catalogue/set-me-free_988/index.html" title="Set Me Free">Set Me Free</a></h3>, <h3><a href="catalogue/scott-pilgrims-precious-little-life-scott-pilgrim-1_987/index.html" title="Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)">Scott Pilgrim's Precious Little ...</a></h3>, <h3><a href="catalogue/rip-it-up-and-start-again_986/index.html" title="Rip it Up and Start Again">Rip it Up and ...</a></h3>, <h3><a href="catalogue/our-band-could-be-your-life-scenes-from-the-american-indie-underground-1981-1991_985/index.html" title="Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991">Our Band Could Be ...</a></h3>, <h3><a href="catalogue/olio_984/index.html" title="Olio">Olio</a></h3>, <h3><a href="catalogue/mesaerion-the-best-science-fiction-stories-1800-1849_983/index.html" title="Mesaerion: The Best Science Fiction Stories 1800-1849">Mesaerion: The Best Science ...</a></h3>, <h3><a href="catalogue/libertarianism-for-beginners_982/index.html" title="Libertarianism for Beginners">Libertarianism for Beginners</a></h3>, <h3><a href="catalogue/its-only-the-himalayas_981/index.html" title="It's Only the Himalayas">It's Only the Himalayas</a></h3>]

In [27]:
type(busqueda), len(busqueda)

(bs4.element.ResultSet, 20)

Imprimimos todos los titulos que corresponden a la cabecera de nivel 3 de la página.

In [28]:
for tag in soup.find_all('h3'):
    print(tag.text)

A Light in the ...
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History ...
The Requiem Red
The Dirty Little Secrets ...
The Coming Woman: A ...
The Boys in the ...
The Black Maria
Starving Hearts (Triangular Trade ...
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little ...
Rip it Up and ...
Our Band Could Be ...
Olio
Mesaerion: The Best Science ...
Libertarianism for Beginners
It's Only the Himalayas

Juntando todo lo anterior obtenemos:

In [29]:
from bs4 import BeautifulSoup
import requests
import re #esto para regular expressions

URL = "http://books.toscrape.com/"

# Realizamos la petición a la web
req = requests.get(URL)

# Comprobamos que la petición nos devuelve un Status Code = 200
status_code = req.status_code
if status_code == 200:

    # Pasamos el contenido HTML de la web a un objeto BeautifulSoup()
    html = BeautifulSoup(req.text, "html.parser")

    # Obtenemos todos los divs donde están las entradas
    # i.e. todas las clases de tipo 'image container'
    entradas = html.find_all('div', {'class': 'image_container'})

    # Recorremos todas las entradas para extraer el nombre del libro
    # Aquí se ve la necesidad de volverlo un iterable. 
   # print(entradas)
    for i, entrada in enumerate(entradas):
        if entradas:
            print(entradas[i].find('img')['alt'])
    
else:
    print (status_code)
print(type(entradas))

A Light in the Attic
Tipping the Velvet
Soumission
Sharp Objects
Sapiens: A Brief History of Humankind
The Requiem Red
The Dirty Little Secrets of Getting Your Dream Job
The Coming Woman: A Novel Based on the Life of the Infamous Feminist, Victoria Woodhull
The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics
The Black Maria
Starving Hearts (Triangular Trade Trilogy, #1)
Shakespeare's Sonnets
Set Me Free
Scott Pilgrim's Precious Little Life (Scott Pilgrim #1)
Rip it Up and Start Again
Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991
Olio
Mesaerion: The Best Science Fiction Stories 1800-1849
Libertarianism for Beginners
It's Only the Himalayas
<class 'bs4.element.ResultSet'>

Imprimiremos las categorías y todos los titulos que corresponden a la cabecera de nivel 3 de la página.

In [30]:
categorias = []
for tag in soup.find_all('div', {'class':'side_categories'}):
    a = tag.get_text(strip = False)
    categorias.append(a)
print(a)

                                Books






                                Travel






                                Mystery






                                Historical Fiction






                                Sequential Art






                                Classics






                                Philosophy






                                Romance






                                Womens Fiction






                                Fiction






                                Childrens






                                Religion






                                Nonfiction






                                Music






                                Default






                                Science Fiction






                                Sports and Games






                                Add a comment






                                Fantasy






                                New Adult






                                Young Adult






                                Science






                                Poetry






                                Paranormal






                                Art






                                Psychology






                                Autobiography






                                Parenting






                                Adult Fiction






                                Humor






                                Horror






                                History






                                Food and Drink






                                Christian Fiction






                                Business






                                Biography






                                Thriller






                                Contemporary






                                Spirituality






                                Academic






                                Self Help






                                Historical






                                Christian






                                Suspense






                                Short Stories






                                Novels






                                Health






                                Politics






                                Cultural






                                Erotica






                                Crime

In [35]:
html2 = urlopen('http://quotes.toscrape.com')
soup2 = BeautifulSoup(html2.read(), 'html.parser')
text = {}
entradas = soup2.find_all('div', {'class' : 'quote'})
print(entradas[1])
print(type(entradas))

<div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
<span class="text" itemprop="text">“It is our choices, Harry, that show what we truly are, far more than our abilities.”</span>
<span>by <small class="author" itemprop="author">J.K. Rowling</small>
<a href="/author/J-K-Rowling">(about)</a>
</span>
<div class="tags">
            Tags:
            <meta class="keywords" content="abilities,choices" itemprop="keywords"/>
<a class="tag" href="/tag/abilities/page/1/">abilities</a>
<a class="tag" href="/tag/choices/page/1/">choices</a>
</div>
</div>
<class 'bs4.element.ResultSet'>

In [34]:
# encuentra todos del tag div con clase quote
for i, entrada in enumerate(entradas):
    cita = entrada.find('span', {'class': 'text'}).getText()
    # del tag span encuentra las clases texto
    print(cita)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
“Try not to become a man of success. Rather become a man of value.”
“It is better to be hated for what you are than to be loved for what you are not.”
“I have not failed. I've just found 10,000 ways that won't work.”
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
“A day without sunshine is like, you know, night.”

In [36]:
entradas = soup2.find_all('div', {'class' : 'quote'})
for i, entrada in enumerate(entradas):
    autor = entrada.find('small', {'class': 'author'}).getText()
    print(autor)

Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
André Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin

http://books.toscrape.com
http://quotes.toscrape.com/

In [37]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

citas = []
autores = []

URL = "http://quotes.toscrape.com/"

# Realizamos la petición a la web
req = requests.get(URL)

# Comprobamos que la petición nos devuelve un Status Code = 200
status_code = req.status_code
if status_code == 200:

    # Pasamos el contenido HTML de la web a un objeto BeautifulSoup()
    html = BeautifulSoup(req.text, "html.parser")

    # Obtenemos todos los divs donde están las entradas
    entradas = html.find_all('div', {'class': 'quote'})
    print(len(entradas), '\n')
    # Recorremos todas las entradas para extraer el cita, autor y categoria
    for i, entrada in enumerate(entradas):
        cita = entrada.find('span', {'class': 'text'}).getText()
        # Llamamos al método "getText()" nos devuelve también el HTML
        autor = entrada.find('small', {'class': 'author'}).getText()
        # Imprimo la Cita, Autor y Categoria
        print (i + 1, cita, autor, '\n')
        citas.append(cita)
        autores.append(autor)
        
else:
    print (status_code)

10

1 “The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.” Albert Einstein

2 “It is our choices, Harry, that show what we truly are, far more than our abilities.” J.K. Rowling

3 “There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.” Albert Einstein

4 “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.” Jane Austen

5 “Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.” Marilyn Monroe

6 “Try not to become a man of success. Rather become a man of value.” Albert Einstein

7 “It is better to be hated for what you are than to be loved for what you are not.” André Gide

8 “I have not failed. I've just found 10,000 ways that won't work.” Thomas A. Edison

9 “A woman is like a tea bag; you never know how strong it is until it's in hot water.” Eleanor Roosevelt

10 “A day without sunshine is like, you know, night.” Steve Martin

In [41]:
import pandas as pd
df = pd.DataFrame(list(zip(autores, citas)), columns =['Autores', 'Citas'])
df.head()

df.set_index('Autores',inplace=True)

df.head()

                                                             Citas
Autores
Albert Einstein  “The world as we have created it is a process ...
J.K. Rowling     “It is our choices, Harry, that show what we t...
Albert Einstein  “There are only two ways to live your life. On...
Jane Austen      “The person, be it gentleman or lady, who has ...
Marilyn Monroe   “Imperfection is beauty, madness is genius and...

# "Web Scraping" Avanzado (oDCM)

* Veremos finalmente a ejemplos reales: Twitter & Instagram.
Ambos sitios tienen dificultad extra en términos de "scraping".
--- 

# Retos adicionales


* Entender la diferencia entre emulación de sitios sin encabezados y la habilidad para aplicar ambos métodos (usando Selenimum)
* Emular interación con un sitio con timers, clicks, scrolling, y llenar formas.
* Accesar datos que están detrás de una pantalla de usuario y password
* Aplicar parámetros de búsqueda para subconjuntos de datos
* "Scrape" y guardar imágenes
 

---

---
# Selenium 

### ¿Por qué Selenium? 
Usamos BeatufulSoup para convertir HTML en datos estructurados para buscar y acceder fácilmente.
Esta librería tiene limitaciones para sitios dinámicos, para los que el contenido cambia en cada actualización de página. Selenium maneja estático y dinámico y mimetizar comportamiento de usuario
Emula una ventana de internet en el que las acciones son visibles y puede ser más intuitivo.

#### Using Selenium with Google Colab

In [43]:
# Running this notebook on Google Colab? Then run this cell! Otherwise, please use the cell above!

!pip install selenium
!apt-get update 
!apt install chromium-chromedriver

from selenium import webdriver
chrome_options = webdriver.ChromeOptions()  
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.1.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.8)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (36.0.1)
Requirement already satisfied: pyOpenSSL>=0.14 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (3.10.0.2)
Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:3 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (97.0.4692.71-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 75 not upgraded.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: use options instead of chrome_options
  if sys.path[0] == '':

**Let's try it out!**  
Follow the steps and make sure it works properly on your machine. What happens once you run the cell above twice?

---
###  Acceso a sitios de manera programada

**Importante**  
Entraremos al sitio del ITAM en twitter. Lllamamos al objeto `driver` que se creó y usamos el método `get` method para extraer información

In [142]:
driver.get("https://twitter.com/ITAM_mx")

![image.png]()


Mucha información puede ser obtenida uan vez que se está logueado en la cuenta.

Podemos usar BeautifulSoup creamos los objetos `res` y `driver` esta vez.

In [129]:
# make sure to login to your Twitter account first!
from bs4 import BeautifulSoup
res = driver.page_source.encode('utf-8')
soup = BeautifulSoup(res, "html.parser")

In [130]:
soup.html

<html dir="ltr" lang="en" style="overflow-y: scroll; overscroll-behavior-y: none; font-size: 15px;"><head><style>input::placeholder { user-select: none; -webkit-user-select: none; }</style><style>@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff2) format('woff2');
  src: url(https://abs.twimg.com/fonts/v2/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}</style><meta charset="utf-8"/>
<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover" name="viewport"/><link href="//abs.twimg.com" rel="preconnect"/><link href="//abs.twimg.com" rel="dns-prefetch"/><link href="//api.twitter.com" rel="preconnect"/><link href="//api.twitter.com" rel="dns-prefetch"/><link href="//pbs.twimg.com" rel="preconnect"/><link href="//pbs.twimg.com" rel="dns-prefetch"/><link href="//t.co" rel="preconnect"/><link href="//t.co" rel="dns-prefetch"/><link href="//video.twimg.com" rel="preconnect"/><link href="//video.twimg.com" rel="dns-prefetch"/><link as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/client-web/polyfills.9013dd25.js" nonce="" rel="preload"/><link as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/client-web/vendors~main.87ea1195.js" nonce="" rel="preload"/><link as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/client-web/i18n/en.78905c45.js" nonce="" rel="preload"/><link as="script" crossorigin="anonymous" href="https://abs.twimg.com/responsive-web/client-web/main.70ac9f25.js" nonce="" rel="preload"/><meta content="2231777543" property="fb:app_id"/>
<meta content="Twitter" property="og:site_name"/><meta content="acYOOcR5z6puMzLn6hLDZI1nNHXPxt57OIstz1vnCV0" name="google-site-verification"/><meta content="x6sdcc8b5ju3bh8nbm59eswogvg6t1" name="facebook-domain-verification"/><link crossorigin="use-credentials" href="/manifest.json" rel="manifest"/><link href="https://twitter.com/itam_mx" hreflang="x-default" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=en" hreflang="en" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ar" hreflang="ar" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ar-x-fm" hreflang="ar-x-fm" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=bg" hreflang="bg" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=bn" hreflang="bn" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ca" hreflang="ca" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=cs" hreflang="cs" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=da" hreflang="da" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=de" hreflang="de" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=el" hreflang="el" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=en-GB" hreflang="en-GB" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=es" hreflang="es" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=eu" hreflang="eu" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=fa" hreflang="fa" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=fi" hreflang="fi" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=fr" hreflang="fr" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ga" hreflang="ga" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=gl" hreflang="gl" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=gu" hreflang="gu" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=he" hreflang="he" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=hi" hreflang="hi" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=hr" hreflang="hr" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=hu" hreflang="hu" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=id" hreflang="id" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=it" hreflang="it" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ja" hreflang="ja" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=kn" hreflang="kn" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ko" hreflang="ko" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=mr" hreflang="mr" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ms" hreflang="ms" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=nb" hreflang="nb" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=nl" hreflang="nl" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=pl" hreflang="pl" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=pt" hreflang="pt" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ro" hreflang="ro" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ru" hreflang="ru" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=sk" hreflang="sk" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=sr" hreflang="sr" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=sv" hreflang="sv" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ta" hreflang="ta" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=th" hreflang="th" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=tr" hreflang="tr" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=uk" hreflang="uk" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=ur" hreflang="ur" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=vi" hreflang="vi" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=zh" hreflang="zh" rel="alternate"/><link href="https://twitter.com/itam_mx?lang=zh-Hant" hreflang="zh-Hant" rel="alternate"/><link href="https://twitter.com/itam_mx" rel="canonical"/><link href="/opensearch.xml" rel="search" title="Twitter" type="application/opensearchdescription+xml"/><link color="#1D9BF0" href="https://abs.twimg.com/responsive-web/client-web/icon-svg.168b89d5.svg" rel="mask-icon" sizes="any"/><link href="//abs.twimg.com/favicons/twitter.2.ico" rel="shortcut icon"/><link href="https://abs.twimg.com/responsive-web/client-web/icon-ios.b1fc7275.png" rel="apple-touch-icon" sizes="192x192"/><meta content="yes" name="mobile-web-app-capable"/>
<meta content="Twitter" name="apple-mobile-web-app-title"/>
<meta content="white" name="apple-mobile-web-app-status-bar-style"/>
<meta content="#FFFFFF" name="theme-color"/>
<meta content="AlpCmb40F5ZjDi9ZYe+wnr/V8MF+XmY41K4qUhoq+2mbepJTNd3q4CRqlACfnythEPZqcjryfAS1+ExS0FFRcA8AAABmeyJvcmlnaW4iOiJodHRwczovL3R3aXR0ZXIuY29tOjQ0MyIsImZlYXR1cmUiOiJMYXVuY2ggSGFuZGxlciIsImV4cGlyeSI6MTY1NTI1MTE5OSwiaXNTdWJkb21haW4iOnRydWV9" http-equiv="origin-trial"/><style>html,body{height: 100%;}</style><style id="react-native-stylesheet">[stylesheet-group="0"]{}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{margin:0;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button,input::-webkit-search-cancel-button,input::-webkit-search-decoration,input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none;}
[stylesheet-group="0.1"]{}
:focus:not([data-focusvisible-polyfill]){outline: none;}
[stylesheet-group="1"]{}
.css-1dbjc4n{-ms-flex-align:stretch;-ms-flex-direction:column;-ms-flex-negative:0;-ms-flex-preferred-size:auto;-webkit-align-items:stretch;-webkit-box-align:stretch;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-basis:auto;-webkit-flex-direction:column;-webkit-flex-shrink:0;align-items:stretch;border:0 solid black;box-sizing:border-box;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-basis:auto;flex-direction:column;flex-shrink:0;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;min-height:0px;min-width:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;position:relative;z-index:0;}
.css-901oao{border:0 solid black;box-sizing:border-box;color:rgba(0,0,0,1.00);display:inline;font:14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;padding-top:0px;white-space:pre-wrap;word-wrap:break-word;}
.css-16my406{color:inherit;font:inherit;white-space:inherit;}
[stylesheet-group="2"]{}
.r-13awgt0{-ms-flex:1 1 0%;-webkit-flex:1;flex:1;}
.r-4qtqp9{display:inline-block;}
.r-ywje51{margin-bottom:auto;margin-left:auto;margin-right:auto;margin-top:auto;}
.r-hvic4v{display:none;}
.r-1adg3ll{display:block;}
[stylesheet-group="2.2"]{}
.r-12vffkv>*{pointer-events:auto;}
.r-12vffkv{pointer-events:none!important;}
.r-14lw9ot{background-color:rgba(255,255,255,1.00);}
.r-1p0dtai{bottom:0px;}
.r-1d2f490{left:0px;}
.r-1xcajam{position:fixed;}
.r-zchlnj{right:0px;}
.r-ipm5af{top:0px;}
.r-yyyyoo{fill:currentcolor;}
.r-1xvli5t{height:1.25em;}
.r-dnmrzs{max-width:100%;}
.r-bnwqim{position:relative;}
.r-1plcrui{vertical-align:text-bottom;}
.r-lrvibr{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;}
.r-13gxpu9{color:rgba(29,161,242,1.00);}
.r-wy61xf{height:72px;}
.r-u8s1d{position:absolute;}
.r-1blnp2b{width:72px;}
.r-1ykxob0{top:60%;}
.r-1b2b6em{line-height:2em;}
.r-q4m81j{text-align:center;}</style><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/ondemand.Dropdown.9e566815.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/sharedCore.5c516dd5.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/loader.AppModules.cbc323b5.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/loader.SideNav.a2fa3fd5.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/bundle.UserProfile.41d5fe55.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/shared~loader.AudioDock~bundle.AudioSpacePeek~bundle.AudioSpacePeekReport~loader.AudioContextSpaceMedia~loade.57c33ea5.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/loader.AudioDock.90590c65.js"></script><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/bundle.NetworkInstrument.501573f5.js"></script><title>ITAM (@ITAM_mx) / Twitter</title><script charset="utf-8" src="https://abs.twimg.com/responsive-web/client-web/ondemand.BranchSdk.6efd2e55.js"></script><style id="googleidentityservice_button_styles">.qJTHM{-webkit-user-select:none;color:#202124;direction:ltr;-webkit-touch-callout:none;font-family:'Roboto-Regular',arial,sans-serif;-webkit-font-smoothing:antialiased;font-weight:400;margin:0;overflow:hidden;-webkit-text-size-adjust:100%}.ynRLnc{left:-9999px;position:absolute;top:-9999px}.L6cTce{display:none}.bltWBb{word-break:break-all}.hSRGPd{color:#1a73e8;cursor:pointer;font-weight:500;text-decoration:none}.Bz112c-W3lGp{height:16px;width:16px}.Bz112c-E3DyYd{height:20px;width:20px}.Bz112c-r9oPif{height:24px;width:24px}.Bz112c-uaxL4e{-webkit-border-radius:10px;border-radius:10px}.LgbsSe-Bz112c{display:block}.S9gUrf-YoZ4jf,.S9gUrf-YoZ4jf *{border:none;margin:0;padding:0}.fFW7wc-ibnC6b>.aZ2wEe>div{border-color:#4285f4}.P1ekSe-ZMv3u>div:nth-child(1){background-color:#1a73e8!important}.P1ekSe-ZMv3u>div:nth-child(2),.P1ekSe-ZMv3u>div:nth-child(3){background-image:linear-gradient(to right,rgba(255,255,255,0.7),rgba(255,255,255,0.7)),linear-gradient(to right,#1a73e8,#1a73e8)!important}.haAclf{display:inline-block}.nsm7Bb-HzV7m-LgbsSe{-webkit-border-radius:4px;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background-color .218s,border-color .218s;transition:background-color .218s,border-color .218s;-webkit-user-select:none;-webkit-appearance:none;background-color:#fff;background-image:none;border:1px solid #dadce0;color:#3c4043;cursor:pointer;font-family:'Google Sans',arial,sans-serif;font-size:14px;height:40px;letter-spacing:0.25px;outline:none;overflow:hidden;padding:0 12px;position:relative;text-align:center;vertical-align:middle;white-space:nowrap;width:auto}@media screen and (-ms-high-contrast:active){.nsm7Bb-HzV7m-LgbsSe{border:2px solid windowText;color:windowText}}.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe{font-size:14px;height:32px;letter-spacing:0.25px;padding:0 10px}.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe{font-size:11px;height:20px;letter-spacing:0.3px;padding:0 8px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe{padding:0;width:40px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.pSzOP-SxQuSe{width:32px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.purZT-SxQuSe{width:20px}.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK{-webkit-border-radius:20px;border-radius:20px}.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK.pSzOP-SxQuSe{-webkit-border-radius:16px;border-radius:16px}.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK.purZT-SxQuSe{-webkit-border-radius:10px;border-radius:10px}.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc{border:none;color:#fff}.nsm7Bb-HzV7m-LgbsSe.MFS4be-v3pZbf-Ia7Qfc{background-color:#1a73e8}.nsm7Bb-HzV7m-LgbsSe.MFS4be-JaPV2b-Ia7Qfc{background-color:#202124;color:#e8eaed}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{height:18px;margin-right:8px;min-width:18px;width:18px}.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{height:14px;min-width:14px;width:14px}.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{height:10px;min-width:10px;width:10px}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-Bz112c{margin-left:8px;margin-right:-4px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{margin:0;padding:10px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{padding:8px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c{padding:4px}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;display:-webkit-box;display:-webkit-flex;display:flex;justify-content:center;-webkit-align-items:center;align-items:center;background-color:#fff;height:36px;margin-left:-10px;margin-right:12px;min-width:36px;width:36px}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf .nsm7Bb-HzV7m-LgbsSe-Bz112c,.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf .nsm7Bb-HzV7m-LgbsSe-Bz112c{margin:0;padding:0}.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{height:28px;margin-left:-8px;margin-right:10px;min-width:28px;width:28px}.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{height:16px;margin-left:-6px;margin-right:8px;min-width:16px;width:16px}.nsm7Bb-HzV7m-LgbsSe.Bz112c-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-radius:3px;border-radius:3px;margin-left:2px;margin-right:0;padding:0}.nsm7Bb-HzV7m-LgbsSe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-radius:18px;border-radius:18px}.nsm7Bb-HzV7m-LgbsSe.pSzOP-SxQuSe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-radius:14px;border-radius:14px}.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-radius:8px;border-radius:8px}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-flex-direction:row;flex-direction:row;justify-content:space-between;-webkit-flex-wrap:nowrap;flex-wrap:nowrap;height:100%;position:relative;width:100%}.nsm7Bb-HzV7m-LgbsSe .oXtfBe-l4eHX{justify-content:center}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-BPrWId{-webkit-flex-grow:1;flex-grow:1;font-family:'Google Sans',arial,sans-serif;font-weight:500;overflow:hidden;text-overflow:ellipsis;vertical-align:top}.nsm7Bb-HzV7m-LgbsSe.purZT-SxQuSe .nsm7Bb-HzV7m-LgbsSe-BPrWId{font-weight:300}.nsm7Bb-HzV7m-LgbsSe .oXtfBe-l4eHX .nsm7Bb-HzV7m-LgbsSe-BPrWId{-webkit-flex-grow:0;flex-grow:0}.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe{-webkit-transition:background-color .218s;transition:background-color .218s;bottom:0;left:0;position:absolute;right:0;top:0}.nsm7Bb-HzV7m-LgbsSe:hover,.nsm7Bb-HzV7m-LgbsSe:focus{-webkit-box-shadow:none;box-shadow:none;border-color:#d2e3fc;outline:none}.nsm7Bb-HzV7m-LgbsSe:hover .nsm7Bb-HzV7m-LgbsSe-MJoBVe,.nsm7Bb-HzV7m-LgbsSe:focus .nsm7Bb-HzV7m-LgbsSe-MJoBVe{background:rgba(66,133,244,0.04)}.nsm7Bb-HzV7m-LgbsSe:active .nsm7Bb-HzV7m-LgbsSe-MJoBVe{background:rgba(66,133,244,0.1)}.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:hover .nsm7Bb-HzV7m-LgbsSe-MJoBVe,.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:focus .nsm7Bb-HzV7m-LgbsSe-MJoBVe{background:rgba(255,255,255,0.24)}.nsm7Bb-HzV7m-LgbsSe.MFS4be-Ia7Qfc:active .nsm7Bb-HzV7m-LgbsSe-MJoBVe{background:rgba(255,255,255,0.32)}.nsm7Bb-HzV7m-LgbsSe .n1UuX-DkfjY{-webkit-border-radius:50%;border-radius:50%;display:-webkit-box;display:-webkit-flex;display:flex;height:20px;margin-left:-4px;margin-right:8px;min-width:20px;width:20px}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId{font-family:'Roboto';font-size:12px;text-align:left}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .ssJRIf,.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff .fmcmS{overflow:hidden;text-overflow:ellipsis}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;color:#5f6368;fill:#5f6368;font-size:11px;font-weight:400}.nsm7Bb-HzV7m-LgbsSe.jVeSEe.MFS4be-Ia7Qfc .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff{color:#e8eaed;fill:#e8eaed}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-BPrWId .K4efff .Bz112c{height:18px;margin:-3px -3px -3px 2px;min-width:18px;width:18px}.nsm7Bb-HzV7m-LgbsSe.jVeSEe .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-top-left-radius:0;border-top-left-radius:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;margin-left:12px;margin-right:-10px}.nsm7Bb-HzV7m-LgbsSe.jVeSEe.JGcpL-RbRzK .nsm7Bb-HzV7m-LgbsSe-Bz112c-haAclf{-webkit-border-radius:18px;border-radius:18px}.L5Fo6c-sM5MNb{border:0;display:block;left:0;position:relative;top:0}.L5Fo6c-bF1uUb{-webkit-border-radius:4px;border-radius:4px;bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0}.L5Fo6c-bF1uUb:focus{border:none;outline:none}sentinel{}

Inspeccionando el código HTML de la página notamos que los nombres de clases son más complejos que en los ejemplos anteriores. Vean el tamaño de la clase Twitter bio, por ejemplo...

<img src="https://raw.githubusercontent.com/hannesdatta/course-odcm/dev/content/docs/tutorials/webscrapingadvanced/images/twitter_bio.png" align="left" width=60%/>

... and more importantly: these class names are dynamic. If you open up the Inspector and look at the class name right now, the class name is likely going to be different than the one above (check for yourself!). Therefore, you may want to look out for elements that are not subjective to changes such as the `data-testid` attribute.

In [131]:
soup.find(attrs={"data-testid": "UserDescription"}).text

'Somos una casa de estudios de excelencia académica y excelencia humana. #ITAM75años'

## **Ejemplo**  
Extraiga el 
- (i) número de seguidores
- (ii) locación
- (iii) la fecha de creación de la cuenta

Se puede usar el inspector de Google para decedir la estrategia de navegación

In [132]:
for i in range(len(soup.find(attrs={"data-testid": "UserProfileHeader_Items"}).find_all('span'))):
  print(soup.find(attrs={"data-testid": "UserProfileHeader_Items"}).find_all('span')[i].text)

Ciudad de México
Ciudad de México
Ciudad de México
itam.mx
Joined October 2009
Joined October 2009

In [133]:

followers = soup.find(attrs = {"href": "/ITAM_mx/followers"}).text
location = soup.find(attrs={"data-testid": "UserProfileHeader_Items"}).find_all('span')[1].text
join_date = soup.find(attrs = {"data-testid": "UserProfileHeader_Items"}).find_all('span')[4].text

print(f"Followers: {followers} \nLocation: {location} \nJoin date: {join_date}")

Followers: 63K Followers
Location: Ciudad de México
Join date: Joined October 2009

---
## Mover (Scroll) sitios de manera programada

**Importancia**  
Podemos usar scraping del contenido de lo más reciente como se muestra a continuación:

In [134]:
res = driver.page_source.encode('utf-8')
soup = BeautifulSoup(res, "html.parser")
soup.find_all(attrs={"data-testid": "tweet"})[1].find_all(attrs={"dir": "auto"})[5].text

'¡No te pierdas nuestra conferencia virtual "Sistema penitenciario: eje central de la seguridad en el país"!\n@Reinserta @ITAM_mx @saskianino\n Hoy\n 19:00 h\nRegistro  https://itam.zoom.us/webinar/register/WN_lt5MyqC0Qii0HlH1CGKFsQ…'

In [135]:
# 1st tweet
res = driver.page_source.encode('utf-8')
soup = BeautifulSoup(res, "html.parser")
soup.find_all(attrs={"data-testid": "tweet"})[0].find_all(attrs={"dir": "auto"})[5].text

'El @ITAM_mx informa sobre la iniciativa #UnDíaSinNosotras.'

Y para tweets viejos (sólo incrementar más uno):

In [140]:
# 2nd tweet
soup.find_all(attrs={"data-testid": "tweet"})[1].find_all(attrs={"dir": "auto"})[4].text

'#GrupoBAL te invita a participar en el #DesafíoBAL.'

Entonces, necesitamos bajar al final de la página si queremos obtener más de unos pocos tweets, cada que baja carga entre 5 y 10 tuits.

In [137]:
driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')

In [143]:
from time import sleep
# driver.get("https://twitter.com/ITAM_mx")

res = driver.page_source.encode('utf-8')
soup = BeautifulSoup(res, "html.parser")

sleep(2)
print(soup.find_all(attrs={"data-testid": "tweet"})[0].find_all(attrs={"dir": "auto"})[5].text)
print(soup.find_all(attrs={"data-testid": "tweet"})[1].find_all(attrs={"dir": "auto"})[5].text)
print(soup.find_all(attrs={"data-testid": "tweet"})[2].find_all(attrs={"dir": "auto"})[5].text)
driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')

El @ITAM_mx informa sobre la iniciativa #UnDíaSinNosotras.
¡No te pierdas nuestra conferencia virtual "Sistema penitenciario: eje central de la seguridad en el país"!
@Reinserta @ITAM_mx @saskianino
 Hoy
 19:00 h
Registro  https://itam.zoom.us/webinar/register/WN_lt5MyqC0Qii0HlH1CGKFsQ…
Join us on Women's Day!

"Stepping Up Women´s Economic Empowerment through Voluntary Sustainability Standards"

@UNFSS1 @UNCTADgender @BajanDiplomat @KezyMukiri @Ruby_Lambert1 @mercedesaraozPE @santiagofc

Register https://unfss.org/2022/02/24/stepping-up-womens-economic-empowerment-through-voluntary-sustainability-standards/…
@ITAM_mx @Derecho_ITAM @TPRForum

In [124]:
num_tweets_view = len(soup.find_all(attrs={"data-testid": "tweet"}))

print(num_tweets_view)

soup.find_all(attrs={"data-testid": "tweet"})[0].find_all(attrs={"dir": "auto"})[5].text
soup.find_all(attrs={"data-testid": "tweet"})[2].find_all(attrs={"dir": "auto"})[5].text

7

IndexError: ignored

Si recreamos el objeto `res` después de cada iteración dado que el código HTML cambia uan vez que se hace el movimiento del mouse (scroll) los tweets viejos se añaden y los nuevos se ocultan.

In [147]:
from time import sleep
tweets = []

for _ in range(5):
    res = driver.page_source.encode('utf-8')
    soup = BeautifulSoup(res, "html.parser")
    
    # total number of tweets in current view
    # num_tweets_view = len(soup.find_all(attrs={"data-testid": "tweet"}))
        
    # add tweets to list
    print(len(soup.find_all(attrs={"data-testid": "tweet"})[0].find_all(attrs={"dir": "auto"})))
    print(len(soup.find_all(attrs={"data-testid": "tweet"})[1].find_all(attrs={"dir": "auto"})))    
    print(len(soup.find_all(attrs={"data-testid": "tweet"})[2].find_all(attrs={"dir": "auto"})))    
    
    # scroll down the page
    driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
    sleep(1)
    
    # pause for 5 seconds 
    sleep(1)
tweets

5
5
6
6
6
6
7
5
5
9
8
6
6
6
6

[]

**Ejercicio**
1. Imprime la primera tanda de tuits dada 5 series de "scroll", analiza la longitud del tuit para imprimir la celda correcta.
2. ¿Cuántas veces se necesita hacer el "scroll" para jalar todos los tweets? (tip: Se encuentran el total de tweets en la parte superior). No se necesita obtener todos los tweets.

**Solución**  
1. Que comience desde el inicio.
2. Al "scrollear" abajo cinco veces trae cierto número de twwets, calcular a partir de ahí.

### Ejemplo
Crear función `process_tweets()` que tome la lista de `tweets` y que genere un csv, una lista de menciones, y una lista de hashtags
Justo es el "parsing", la conversión entre json a CSV.

In [ ]:
# Question 3
import pandas as pd

def process_tweets(tweets):
    output = []
    
    for tweet in tweets: 
        mentions = []
        hashtags = []
        
        # a more elegant solution can be achieved using regular expressions (outside the scope of this course)
        
        # remove punctuation (to avoid #hashtag?, #hashtag!, etc.)
        for character in ["?", ".", ",", "!"]:
            tweet_clean = tweet.replace(character, "")
            tweet = tweet_clean
            
        # separate words chained by an enter with a space (to avoid #hashtag\nABCDEF)
        tweet = tweet.replace("\n", " ")
        
        for word in tweet.split(" "): 
            try: 
                if word[0] == "@" and word.count("@") == 1: 
                    mentions.append(word)
                if word[0] == "#" and word.count("#") == 1: 
                    hashtags.append(word) 
            except: 
                pass
            
        output.append({
            "tweet": tweet,
            "mentions": mentions,
            "hashtags": hashtags
        })
        
    df = pd.DataFrame(output)
    print(df)
    df.to_csv("tweets_mentions_hashtags.csv", index=False)

process_tweets(tweets)

                                                tweet  ...                        hashtags
0   El @ITAM_mx informó que sus alumnas y personal...  ...        [#UnDíaSinNosotras, #8M]
1   Te invitamos a participar en #WakeUpSeries @Ep...  ...                 [#WakeUpSeries]
2   Por su sol música y curso de Global Risks en @...  ...  [#ComunidadITAM, #StudyAbroad]
3   @ITAM_mx  ¡Tenemos descuento por pronto pago a...  ...  [#StudyAbroad, #ComunidadITAM]
4   El @ITAM_mx rumbo a #8M2022 3/M Jeanette Góngo...  ...                       [#8M2022]
5   Mil gracias @jmartinreyes @luzma1104 @gabdutre...  ...                    [#ForosCEAL]
6   JUEVES 24 FEBRERO  Ciencia y Universidades en ...  ...                              []
7   This Friday February 25 at the Legal Prioritie...  ...                              []
8     Atardecer en el ITAM de Santa Teresa ⁦@ITAM_mx⁩  ...                              []
9   Te invitamos al #WakeUpSeries iniciamos la 3a ...  ...                 [#WakeUpSeries]
10  Falta una semana para el webinar "Los desafíos...  ...                              []
11    Atardecer en el ITAM de Santa Teresa ⁦@ITAM_mx⁩  ...                              []
12  Te invitamos al #WakeUpSeries iniciamos la 3a ...  ...                 [#WakeUpSeries]
13  Falta una semana para el webinar "Los desafíos...  ...                              []
14  A partir del 21 de febrero todos los alumnos d...  ...                              []
15  ¡Conoce nuestras Ingenierías @ITAM_mx @Ingenie...  ...                              []
16  Estudia un verano en Barcelona  Si eres de Eco...  ...    [#AdminITAM, #ComunidadITAM]
17  No te pierdas la primera sesión del ciclo de c...  ...                              []

[18 rows x 3 columns]

**Solución**

Verificar cuántos "scrolls" hay que hacer para tener todos los datos de tweets usando un
`while` loop que sea verdadero hasta que alcance el final.
Cuando el `current_height` sea igual al  (`last_height`), usamo `break` para salir y contar con (`scroll_counter`):

In [ ]:
scroll_counter = 0 
last_height = 0
driver.get("https://twitter.com/ITAM_MX")

# running this cell may take a minute or two
while True:    
    current_height = driver.execute_script('return document.body.scrollHeight')
    print("current height: " + str(current_height))

    if current_height == last_height:
        break

    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    scroll_counter += 1
    last_height = current_height
    print("last height: " + str(last_height))
    sleep(1)
    
print(f"The number scrolls required to scrape all tweets is: {scroll_counter}")

current height: 600
last height: 600
current height: 632
last height: 632
current height: 11614
last height: 11614
current height: 14580
last height: 14580
current height: 26902
last height: 26902
current height: 29968
last height: 29968
current height: 41841
last height: 41841
current height: 44811
last height: 44811
current height: 57468
last height: 57468
current height: 60627
last height: 60627
current height: 73071
last height: 73071
current height: 73677
last height: 73677
current height: 84989
last height: 84989
current height: 87273
last height: 87273
current height: 98948
last height: 98948
current height: 100608
last height: 100608
current height: 112443
last height: 112443
current height: 113982
last height: 113982
current height: 124919
last height: 124919
current height: 127291
last height: 127291
current height: 139380
last height: 139380
current height: 141198
last height: 141198
current height: 152718
last height: 152718
current height: 155560
last height: 155560
current height: 167553
last height: 167553
current height: 170211
last height: 170211
current height: 182164
last height: 182164
current height: 184676
last height: 184676
current height: 197209
last height: 197209
current height: 199758
last height: 199758
current height: 212275
last height: 212275
current height: 214090
last height: 214090
current height: 226095
last height: 226095
current height: 228471
last height: 228471
current height: 240926
last height: 240926
current height: 243344
last height: 243344
current height: 253277
last height: 253277
current height: 257875
last height: 257875
current height: 270034
last height: 270034
current height: 271321
last height: 271321
current height: 283007
last height: 283007
current height: 285504
last height: 285504
current height: 297760
last height: 297760
current height: 300428
last height: 300428
current height: 310167
last height: 310167
current height: 312387
last height: 312387
current height: 312387
The number scrolls required to scrape all tweets is: 46

--- 
### Buscar tweets

En Twitter, hay una barra de búsqueda en la parte de arriba de que ayuda a hacer búquedas, y también del lado derecho incluye una búsqueda avanzada.
Buscar ahí dará la búqueda deseada. Todas estas son caso no sensitivo.

<img src="https://github.com/hannesdatta/course-odcm/blob/dev/content/docs/tutorials/webscrapingadvanced/images/cats_dogs.gif?raw=true" align="left" width=60%/>

La URL cambia a`https://twitter.com/search?q=(cats%20OR%20dogs)&src=typed_query`: 
* `q=` es para la búsqueda de query
* `(cats%20OR%20dogs)` es el contendio de la búsqueda`(cats OR dogs)`
* `&src=typed_query` indica si se llena la búqueda manual

Notemos que `%20` es una caracter de espacio. is a space character. Una lista de comando se muestra a continuación:

| Command | Syntax | Interpretation | URL suffix | 
| :------- | :------- | :------ | :----- | 
| All of these words | `cats dogs` | Contains both `cats` and `dogs` | `cats%20dogs` | 
| Exact phrase | `"cats"` | Contains the exact phrase `cats` | `%22cats%22` | 
| Any of these words | `(cats OR dogs)` | Contains either `cats` or `dogs` (or both) | `(cats%20OR%20dogs)` | 
| None of these words | `-cats` | Does not contain `cats` | `-cats` | 
| These hashtags | `(#cats)` | Contains the hashtag `#cats` | `(%23cats)` | 
| Language | `lang:nl` | Tweets in specified language (default: all) | `lang%3Anl` | 
| From these accounts | `(from:hannesdatta)` | Tweets from Hannes Datta | `(from%3Ahannesdatta)` | 
| Replies to these accounts | `(to:hannesdatta)` | Replies to tweets from Hannes Datta | `(to%3Ahannesdatta)` | 
| Mentioning these accounts | `(@hannesdatta)` | Tweets mentioning Hannes Datta | `(%40hannesdatta)` | 
| Minimum replies | `min_replies:10` | Tweets with at least 10 replies | `min_replies%3A10` | 
| Minimum likes | `min_faves:10` | Tweets with at least 10 likes | `min_faves%3A10` | 
| Minimum retweets | `min_retweets:10` | Tweets with at least 10 retweets | `min_retweets%3A10` | 
| From (date) | `since:01-01-2020` | Tweets after the 1st of January 2020 | `since%3A01-01-2020` | 
| To (date) | `until:01-01-2020` | Tweets before the 1st of January 2020 | `until%3A01-01-2020` |

**Ejemplo**  
1. Complia una búsqueda para tomar todos los tweets que contengan `ITAM` 
Especifica la búsuqeda y ten en cuenta el URL. 
2. Crea la función `search_tweets()` 
que búsque en Twitter y regrese una lista de tweets incluyendo las ligas al tweet original y mandarlo a csv.

In [ ]:
# 1 and 2
def search_tweets(query):
    driver.get("https://twitter.com/search?q=" + query) 
    tweets = []
    last_height = 0
    current_height = 0

    iterator = 0
    while True: 
        iterator += 1
        
        current_height = driver.execute_script('return document.body.scrollHeight')

        if current_height == last_height: 
            break

        res = driver.page_source.encode('utf-8')
        soup = BeautifulSoup(res, "html.parser")
        data = soup.find(attrs={"data-testid": "primaryColumn"}).find_all(attrs={"data-testid":"tweet"})

        for counter in range(len(data)):
            tweet = data[counter].find_all(attrs={"dir":"auto"})

            text = tweet[4].text
            try:
                link = tweet[3]['href']
            except:
                link = '/LINK-NOT-AVAILABLE'

            tweet_data = {
                            "tweet": text, 
                            "link": "https://twitter.com/" + link
                         }

            if tweet_data not in tweets: 
                tweets.append(tweet_data)

        driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')       
        last_height = current_height
        sleep(5)
        if (iterator == 2): break
        
    df = pd.DataFrame(tweets)
    df.to_csv("search_tweets.csv", index=False)

collected_tweets = search_tweets('("ITAM")')

In [ ]:
# 3

# add "-trein" to the URL - see table above (as simple as that!)
search_tweets('"itam"')

Se puede ver que muestra los "top" tweets, sin embargo se pueden seleccionar otros  1 tab y 1 filtro de búsqueda.

| Tab | Interpretation | URL suffix | 
| :----- | :------ | :------ |
| Latest | Sort the tweets chronologically (in descending order) | `&-f=live` |
| People | Return a list of Twitter accounts (as opposed to tweets) | `&-f=user` |
| Photos | Filter on tweets that include an image | `&-f=image` |
| Videos | Filter on tweets that include a video | `&-f=video` |

| Search filter| Interpretation | URL suffix | 
| :----- | :------ | :------ |
| Near you | Return tweets that are published by someone in your neighborhood | `&lf=on` |
| From people you follow | Filter on tweets from accounts you follow | `&pf=on` |