<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/S3/Tarea_Pandas_y_Gr%C3%A1ficas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Usar la tabla de employees.csv en github del curso y hacer lo siguiente:
- a. Usa groupby para crear una agregración que contenga el promedio del salario, desviación estándar, min, max, mediana, cuantil 75%, y cuantil al 25% y el conteo de cada departamento.

- c. Crea un índice con la variable del punto b

In [37]:
import pandas as pd

archivo = "/Users/machristian/OneDrive/ITAM - Machine Learning/Modulo 3/Python/M3/S3/employees.csv"
dfArchivo = pd.read_csv(archivo)
agrupacion = dfArchivo.groupby("department")

def q1(cuartil25):
    return cuartil25.quantile(0.25)

def q3(cuartil75):
    return cuartil75.quantile(0.75)

variables = {"salary":["mean","std","min","max","median","count",q1,q3]}
agregacion = dfArchivo.groupby("department").agg(variables)

agregacion

                          salary                                               \
                            mean           std    min     max    median count
department
Automotive         111046.156250  38912.582655  29752  162522  117966.0    32
Beauty              96487.444444  39612.458300  22053  162845  101678.0    45
Books               96497.405405  36453.888884  41549  159561   92019.0    37
Camping             97302.027778  42856.331139  26747  166569   92899.0    36
Children Clothing   87511.042553  37060.609074  23159  158546   91397.0    47
Clothing            83933.448980  38665.481162  28995  166976   77589.0    49
Computers           96064.574468  41678.170042  21626  163512   98885.0    47
Cosmetics          108381.705882  39351.729387  22284  162454  100729.5    34
Decor               92766.205128  43207.346462  21024  153849   92180.0    39
Device Repair       87480.725490  46831.897110  20664  164355   89678.0    51
First Aid           89154.534483  42634.885104  29539  164011   93388.0    58
Furniture           87373.395349  40625.213451  25602  160170   83712.0    43
Games               85684.555556  37879.418874  22983  152615   94563.0    36
Garden              85431.487805  39404.320874  22326  163361   79827.0    41
Grocery             94295.892857  49541.673781  20613  164582   91765.0    28
Jewelry             80576.097561  38272.619089  26876  163794   73350.0    41
Maintenance         76792.750000  47861.203593  40041  154140   51084.0     8
Movies              89246.392857  42847.100738  25840  159463   85550.0    56
Music               92360.965517  49770.066899  20776  166765   86683.0    29
Pharmacy            93372.131579  48360.371896  20542  166016   85866.0    38
Phones & Tablets    89688.028571  43634.478683  26453  158148   82064.0    35
Plumbing            98224.142857  39637.053416  50934  145652   82586.0     7
Security            89950.166667  53856.892162  36641  162233   77466.0     6
Sports              87832.470588  49941.527231  21735  165660   74224.5    34
Tools               83529.615385  37654.731873  23582  156672   87481.0    39
Toys               103110.021277  34831.972957  27578  163688  101112.0    47
Vitamins            90358.000000  45619.644061  21931  163933   95453.0    37


                         q1         q3
department
Automotive         84191.25  144237.25
Beauty             67800.00  121990.00
Books              68716.00  121054.00
Camping            59808.50  133266.00
Children Clothing  59069.00  112077.50
Clothing           50835.00  104667.00
Computers          59217.50  126690.00
Cosmetics          85572.00  147774.25
Decor              55841.50  133997.50
Device Repair      42882.50  124890.50
First Aid          49174.50  131326.50
Furniture          53161.50  117618.50
Games              49465.00  116305.25
Garden             53101.00  105274.00
Grocery            52814.75  147153.50
Jewelry            48783.00  105948.00
Maintenance        45254.50   97517.25
Movies             48392.25  124969.25
Music              45679.00  130342.00
Pharmacy           53283.00  137657.75
Phones & Tablets   48683.00  127416.50
Plumbing           68751.00  135447.50
Security           45642.25  132512.00
Sports             38822.00  136316.75
Tools              53191.00  105706.00
Toys               81524.50  127206.50
Vitamins           52642.00  135611.00

- b. Crea una variable que segmente por lustros la antigüedad del empleado.

# 2. Graficar los siguiente:
* a. 1.a en pay, con conteo, con el valor promedio ponderado del salario y el número de personas por departamento (2 gráficas)
* b. Histograma de cada departamento del salario
* c. Gráfico de barras de variable creada en 1.c de valorpromedio ponderado de salario