<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/S1/Tarea_S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tarea 1 Christian Jiménez

1. Realiza una consulta a la base de datos `nabla_python1` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [23]:
# configurando conexión

import pymysql
import pandas as pd
passw = 'Capitan1'
conn = pymysql.connect(host="db4free.net",
                    user="carlos_carrasco1",
                    port=3306,
                    password=passw,
                    database="nabla_python1",
                    charset="utf8")

In [32]:
#Resolviendo el ejercicio

with conn.cursor() as cursor:
    cursor.execute("SELECT status from orders GROUP BY status;")
    dbs = cursor.fetchall()
dbs

(('Shipped',),
 ('Resolved',),
 ('Cancelled',),
 ('On Hold',),
 ('Disputed',),
 ('In Process',))

2. Realiza una consulta a la base de datos `nabla_pytho1n` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)

In [25]:
# usando la conn que ya existe:

with conn.cursor() as cursor:
    cursor.execute('''
    SELECT customerName, amount
    FROM customers inner join payments
    ON payments.customerNumber = customers.customerNumber
    ORDER BY amount DESC
    LIMIT 10
    ''')
    dbs = cursor.fetchall()
dbs

(('Euro+ Shopping Channel', Decimal('120166.58')),
 ('Euro+ Shopping Channel', Decimal('116208.40')),
 ('Mini Gifts Distributors Ltd.', Decimal('111654.40')),
 ('Dragon Souveniers, Ltd.', Decimal('105743.00')),
 ('Mini Gifts Distributors Ltd.', Decimal('101244.59')),
 ('Corporate Gift Ideas Co.', Decimal('85559.12')),
 ('Mini Gifts Distributors Ltd.', Decimal('85410.87')),
 ('Herkku Gifts', Decimal('85024.46')),
 ('Mini Gifts Distributors Ltd.', Decimal('83598.04')),
 ('Australian Collectors, Co.', Decimal('82261.22')))

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

In [34]:
#Buscar nombres de tablas
with conn.cursor() as cursor:
    cursor.execute('''
    SELECT TABLE_NAME, COLUMN_NAME
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE 
        TABLE_SCHEMA = 'nabla_python1'
    ''')
    dbs = cursor.fetchall()
dbs

(('TMP_V1', 'customerName'),
 ('TMP_V1', 'priceEach1'),
 ('cust_amount', 'amounts'),
 ('cust_amount', 'customerNumber'),
 ('cust_amount', 'num_pedidos'),
 ('custo_amount', 'amounts'),
 ('custo_amount', 'customerNumber'),
 ('custo_amount', 'num_pedidos'),
 ('customers', 'addressLine1'),
 ('customers', 'addressLine2'),
 ('customers', 'city'),
 ('customers', 'contactFirstName'),
 ('customers', 'contactLastName'),
 ('customers', 'country'),
 ('customers', 'creditLimit'),
 ('customers', 'customerName'),
 ('customers', 'customerNumber'),
 ('customers', 'phone'),
 ('customers', 'postalCode'),
 ('customers', 'salesRepEmployeeNumber'),
 ('customers', 'state'),
 ('employees', 'email'),
 ('employees', 'employeeNumber'),
 ('employees', 'extension'),
 ('employees', 'firstName'),
 ('employees', 'jobTitle'),
 ('employees', 'lastName'),
 ('employees', 'officeCode'),
 ('employees', 'reportsTo'),
 ('offices', 'addressLine1'),
 ('offices', 'addressLine2'),
 ('offices', 'city'),
 ('offices', 'country'),
 ('offices', 'officeCode'),
 ('offices', 'phone'),
 ('offices', 'postalCode'),
 ('offices', 'state'),
 ('offices', 'territory'),
 ('orderdetails', 'orderLineNumber'),
 ('orderdetails', 'orderNumber'),
 ('orderdetails', 'priceEach'),
 ('orderdetails', 'productCode'),
 ('orderdetails', 'quantityOrdered'),
 ('orders', 'comments'),
 ('orders', 'customerNumber'),
 ('orders', 'orderDate'),
 ('orders', 'orderNumber'),
 ('orders', 'requiredDate'),
 ('orders', 'shippedDate'),
 ('orders', 'status'),
 ('pagos2', 'customerNumber'),
 ('pagos2', 'sum_amount'),
 ('payments', 'amount'),
 ('payments', 'checkNumber'),
 ('payments', 'customerNumber'),
 ('payments', 'paymentDate'),
 ('productlines', 'htmlDescription'),
 ('productlines', 'image'),
 ('productlines', 'productLine'),
 ('productlines', 'textDescription'),
 ('products', 'buyPrice'),
 ('products', 'MSRP'),
 ('products', 'productCode'),
 ('products', 'productDescription'),
 ('products', 'productLine'),
 ('products', 'productName'),
 ('products', 'productScale'),
 ('products', 'productVendor'),
 ('products', 'quantityInStock'),
 ('users', 'created_at'),
 ('users', 'email'),
 ('users', 'id'),
 ('users', 'username'))

In [55]:
#obtener foreign keys y sus asociaciones a primary keys
with conn.cursor() as cursor:
    cursor.execute('''
SELECT
    `column_name`, 
    `referenced_table_schema` AS foreign_db, 
    `referenced_table_name` AS foreign_table, 
    `referenced_column_name`  AS foreign_column 
FROM
    `information_schema`.`KEY_COLUMN_USAGE`
WHERE
    `constraint_schema` = SCHEMA()
AND
    `table_name` = 'orders'
AND
    `referenced_column_name` IS NOT NULL
ORDER BY
    `column_name`;
    ''')
    dbs = cursor.fetchall()
dbs

(('customerNumber', 'nabla_python1', 'customers', 'customerNumber'),)

In [62]:
# usando la conn que ya existe:

with conn.cursor() as cursor:
    cursor.execute('''
    SELECT customers.customerNumber, products.productCode
    FROM products inner join orderdetails
    ON orderdetails.productCode = products.productCode inner join orders
    ON orders.orderNumber = orderdetails.orderNumber inner join customers
    ON customers.customerNumber = orders.customerNumber
    LIMIT 10
    ''')
    dbs = cursor.fetchall()
dbs

((103, 'S18_1589'),
 (103, 'S18_2870'),
 (103, 'S18_3685'),
 (103, 'S24_1628'),
 (103, 'S10_2016'),
 (103, 'S18_2625'),
 (103, 'S24_2022'),
 (112, 'S18_1749'),
 (112, 'S18_2248'),
 (112, 'S18_2325'))

4. Con base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

In [63]:
with conn.cursor() as cursor:
    cursor.execute('''
    SELECT customers.customerNumber, products.productNAME
    FROM products inner join orderdetails
    ON orderdetails.productCode = products.productCode inner join orders
    ON orders.orderNumber = orderdetails.orderNumber inner join customers
    ON customers.customerNumber = orders.customerNumber
    LIMIT 10
    ''')
    dbs = cursor.fetchall()
dbs

((103, '1965 Aston Martin DB5'),
 (103, '1999 Indy 500 Monte Carlo SS'),
 (103, '1948 Porsche Type 356 Roadster'),
 (103, '1966 Shelby Cobra 427 S/C'),
 (103, '1996 Moto Guzzi 1100i'),
 (103, '1936 Harley Davidson El Knucklehead'),
 (103, '1938 Cadillac V-16 Presidential Limousine'),
 (112, '1917 Grand Touring Sedan'),
 (112, '1911 Ford Town Car'),
 (112, '1932 Model A Ford J-Coupe'))

5. Con base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

In [64]:
with conn.cursor() as cursor:
    cursor.execute('''
    SELECT customers.customerName, products.productNAME
    FROM products inner join orderdetails
    ON orderdetails.productCode = products.productCode inner join orders
    ON orders.orderNumber = orderdetails.orderNumber inner join customers
    ON customers.customerNumber = orders.customerNumber
    LIMIT 10
    ''')
    dbs = cursor.fetchall()
dbs

(('Atelier graphique', '1965 Aston Martin DB5'),
 ('Atelier graphique', '1999 Indy 500 Monte Carlo SS'),
 ('Atelier graphique', '1948 Porsche Type 356 Roadster'),
 ('Atelier graphique', '1966 Shelby Cobra 427 S/C'),
 ('Atelier graphique', '1996 Moto Guzzi 1100i'),
 ('Atelier graphique', '1936 Harley Davidson El Knucklehead'),
 ('Atelier graphique', '1938 Cadillac V-16 Presidential Limousine'),
 ('Signal Gift Stores', '1917 Grand Touring Sedan'),
 ('Signal Gift Stores', '1911 Ford Town Car'),
 ('Signal Gift Stores', '1932 Model A Ford J-Coupe'))

6. Con base en ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

In [69]:

with conn.cursor() as cursor:
    cursor.execute('''
    SELECT products.productName, orderdetails.quantityOrdered
    FROM products inner join orderdetails
    ON orderdetails.productCode = products.productCode inner join orders
    ON orders.orderNumber = orderdetails.orderNumber inner join customers
    ON customers.customerNumber = orders.customerNumber
    ORDER BY orderdetails.quantityOrdered DESC
    ''')
    dbs = cursor.fetchall()
dbs

(('1969 Dodge Charger', 97),
 ('1969 Dodge Super Bee', 90),
 ('America West Airlines B757-200', 85),
 ('1970 Plymouth Hemi Cuda', 77),
 ('F/A 18 Hornet 1/72', 77),
 ('1956 Porsche 356A Coupe', 76),
 ('1917 Grand Touring Sedan', 76),
 ('1949 Jaguar XK 120', 76),
 ('1962 Volkswagen Microbus', 70),
 ('1956 Porsche 356A Coupe', 70),
 ('1969 Harley Davidson Ultimate Chopper', 66),
 ('2003 Harley-Davidson Eagle Drag Bike', 66),
 ('2002 Suzuki XREO', 66),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 66),
 ('1957 Ford Thunderbird', 66),
 ('1948 Porsche Type 356 Roadster', 65),
 ('1937 Lincoln Berline', 65),
 ('1968 Ford Mustang', 64),
 ('Corsair F4U ( Bird Cage)', 64),
 ('1972 Alfa Romeo GTA', 64),
 ('1966 Shelby Cobra 427 S/C', 64),
 ('1928 Ford Phaeton Deluxe', 62),
 ('1993 Mazda RX-7', 61),
 ('1939 Chevrolet Deluxe Coupe', 61),
 ('1948 Porsche 356-A Roadster', 61),
 ('1992 Ferrari 360 Spider red', 60),
 ('1970 Chevy Chevelle SS 454', 60),
 ('1912 Ford Model T Delivery Wagon', 60),
 ('1969 Harley Davidson Ultimate Chopper', 59),
 ('1960 BSA Gold Star DBD34', 59),
 ('1965 Aston Martin DB5', 59),
 ('1952 Citroen-15CV', 59),
 ('1941 Chevrolet Special Deluxe Cabriolet', 58),
 ('1960 BSA Gold Star DBD34', 58),
 ('1997 BMW R 1100 S', 57),
 ('1964 Mercedes Tour Bus', 56),
 ('2003 Harley-Davidson Eagle Drag Bike', 56),
 ('1930 Buick Marquette Phaeton', 56),
 ('1928 Mercedes-Benz SSK', 56),
 ('1904 Buick Runabout', 56),
 ('1948 Porsche 356-A Roadster', 55),
 ('1976 Ford Gran Torino', 55),
 ('1970 Dodge Coronet', 55),
 ('1992 Ferrari 360 Spider red', 55),
 ('1960 BSA Gold Star DBD34', 55),
 ('1997 BMW F650 ST', 55),
 ('America West Airlines B757-200', 55),
 ('1952 Citroen-15CV', 55),
 ('2002 Suzuki XREO', 55),
 ('1969 Dodge Charger', 55),
 ('1999 Indy 500 Monte Carlo SS', 55),
 ('1971 Alpine Renault 1600s', 55),
 ('1900s Vintage Bi-Plane', 55),
 ('1912 Ford Model T Delivery Wagon', 55),
 ('HMS Bounty', 55),
 ('1936 Harley Davidson El Knucklehead', 55),
 ('1957 Chevy Pickup', 54),
 ('1940 Ford Pickup Truck', 54),
 ('1934 Ford V8 Coupe', 53),
 ('1900s Vintage Tri-Plane', 52),
 ('1982 Ducati 900 Monster', 52),
 ('1937 Lincoln Berline', 51),
 ('1962 City of Detroit Streetcar', 51),
 ('1940 Ford Delivery Sedan', 51),
 ('1941 Chevrolet Special Deluxe Cabriolet', 51),
 ('1996 Moto Guzzi 1100i', 51),
 ('1966 Shelby Cobra 427 S/C', 50),
 ('1926 Ford Fire Engine', 50),
 ('1974 Ducati 350 Mk3 Desmo', 50),
 ('1939 Cadillac Limousine', 50),
 ('1962 LanciaA Delta 16V', 50),
 ('1982 Camaro Z28', 50),
 ('1998 Chrysler Plymouth Prowler', 50),
 ('1964 Mercedes Tour Bus', 50),
 ('1917 Maxwell Touring Car', 50),
 ('1976 Ford Gran Torino', 50),
 ('1954 Greyhound Scenicruiser', 50),
 ('The Titanic', 50),
 ('Pont Yacht', 50),
 ('1900s Vintage Tri-Plane', 50),
 ('Boeing X-32A JSF', 50),
 ('1952 Alpine Renault 1300', 50),
 ('1904 Buick Runabout', 50),
 ('1972 Alfa Romeo GTA', 50),
 ('1940 Ford Delivery Sedan', 50),
 ('Pont Yacht', 50),
 ('Collectable Wooden Train', 50),
 ('ATA: B757-300', 50),
 ('1997 BMW R 1100 S', 50),
 ('1997 BMW R 1100 S', 50),
 ('1966 Shelby Cobra 427 S/C', 50),
 ('2002 Yamaha YZR M1', 50),
 ('P-51-D Mustang', 50),
 ('1969 Dodge Charger', 50),
 ('The Schooner Bluenose', 50),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 50),
 ('1970 Triumph Spitfire', 50),
 ('1968 Ford Mustang', 50),
 ('1904 Buick Runabout', 50),
 ('The USS Constitution Ship', 50),
 ('The Queen Mary', 50),
 ('1937 Lincoln Berline', 50),
 ('1937 Lincoln Berline', 50),
 ('Corsair F4U ( Bird Cage)', 50),
 ('1928 Ford Phaeton Deluxe', 50),
 ('1956 Porsche 356A Coupe', 50),
 ('1941 Chevrolet Special Deluxe Cabriolet', 50),
 ('1941 Chevrolet Special Deluxe Cabriolet', 50),
 ('1992 Ferrari 360 Spider red', 50),
 ('1971 Alpine Renault 1600s', 50),
 ('1940 Ford Delivery Sedan', 50),
 ('1954 Greyhound Scenicruiser', 50),
 ('1997 BMW R 1100 S', 50),
 ('1997 BMW F650 ST', 50),
 ('18th century schooner', 50),
 ('1969 Dodge Charger', 50),
 ('2002 Suzuki XREO', 50),
 ('1982 Ducati 900 Monster', 50),
 ('1961 Chevrolet Impala', 50),
 ('1936 Chrysler Airflow', 50),
 ('1911 Ford Town Car', 50),
 ('1932 Model A Ford J-Coupe', 50),
 ('1957 Corvette Convertible', 50),
 ('1969 Ford Falcon', 50),
 ('The USS Constitution Ship', 50),
 ('American Airlines: MD-11S', 50),
 ('1980s Black Hawk Helicopter', 50),
 ('1932 Model A Ford J-Coupe', 50),
 ('1974 Ducati 350 Mk3 Desmo', 50),
 ('Corsair F4U ( Bird Cage)', 50),
 ('1928 Ford Phaeton Deluxe', 50),
 ('1913 Ford Model T Speedster', 50),
 ('The Mayflower', 50),
 ('1940s Ford truck', 50),
 ('1928 Mercedes-Benz SSK', 50),
 ('1996 Moto Guzzi 1100i', 50),
 ('ATA: B757-300', 50),
 ('1937 Lincoln Berline', 50),
 ('1980s Black Hawk Helicopter', 50),
 ('1969 Chevrolet Camaro Z28', 49),
 ('1930 Buick Marquette Phaeton', 49),
 ('2003 Harley-Davidson Eagle Drag Bike', 49),
 ('2002 Suzuki XREO', 49),
 ('1930 Buick Marquette Phaeton', 49),
 ('2002 Yamaha YZR M1', 49),
 ('1962 Volkswagen Microbus', 49),
 ('1940 Ford Pickup Truck', 49),
 ('1912 Ford Model T Delivery Wagon', 49),
 ('2002 Chevy Corvette', 49),
 ('1958 Setra Bus', 49),
 ('1934 Ford V8 Coupe', 49),
 ('1957 Chevy Pickup', 49),
 ('1957 Corvette Convertible', 49),
 ('18th century schooner', 49),
 ('1998 Chrysler Plymouth Prowler', 49),
 ('1969 Dodge Super Bee', 49),
 ('2003 Harley-Davidson Eagle Drag Bike', 49),
 ("1950's Chicago Surface Lines Streetcar", 49),
 ('P-51-D Mustang', 49),
 ('1928 Ford Phaeton Deluxe', 49),
 ('1969 Ford Falcon', 49),
 ('1956 Porsche 356A Coupe', 49),
 ('1958 Chevy Corvette Limited Edition', 49),
 ('1980s Black Hawk Helicopter', 49),
 ('1940 Ford Delivery Sedan', 49),
 ('1930 Buick Marquette Phaeton', 49),
 ('1949 Jaguar XK 120', 49),
 ('1969 Corvair Monza', 49),
 ('1957 Corvette Convertible', 49),
 ('1958 Setra Bus', 49),
 ('1940s Ford truck', 49),
 ('1976 Ford Gran Torino', 49),
 ('1962 Volkswagen Microbus', 49),
 ('1940s Ford truck', 49),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 49),
 ('1928 British Royal Navy Airplane', 49),
 ('1969 Ford Falcon', 49),
 ('1998 Chrysler Plymouth Prowler', 49),
 ('1970 Triumph Spitfire', 49),
 ('1970 Triumph Spitfire', 49),
 ('1957 Corvette Convertible', 49),
 ('America West Airlines B757-200', 49),
 ('Boeing X-32A JSF', 49),
 ('1949 Jaguar XK 120', 49),
 ('2002 Suzuki XREO', 49),
 ('1965 Aston Martin DB5', 49),
 ('1972 Alfa Romeo GTA', 49),
 ('1980s Black Hawk Helicopter', 49),
 ('1999 Yamaha Speed Boat', 49),
 ('1904 Buick Runabout', 49),
 ('1970 Plymouth Hemi Cuda', 49),
 ('1976 Ford Gran Torino', 49),
 ('1961 Chevrolet Impala', 49),
 ('1958 Setra Bus', 49),
 ('1900s Vintage Bi-Plane', 49),
 ('1936 Mercedes-Benz 500K Special Roadster', 49),
 ('1928 Ford Phaeton Deluxe', 49),
 ('2002 Suzuki XREO', 49),
 ('1964 Mercedes Tour Bus', 49),
 ('18th century schooner', 49),
 ('1957 Chevy Pickup', 49),
 ('Diamond T620 Semi-Skirted Tanker', 49),
 ('1972 Alfa Romeo GTA', 49),
 ('Collectable Wooden Train', 49),
 ('1969 Harley Davidson Ultimate Chopper', 49),
 ('The Mayflower', 49),
 ('1917 Grand Touring Sedan', 49),
 ('2002 Chevy Corvette', 49),
 ('1971 Alpine Renault 1600s', 49),
 ('1997 BMW F650 ST', 49),
 ('1939 Cadillac Limousine', 49),
 ('1962 City of Detroit Streetcar', 49),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 49),
 ('1969 Ford Falcon', 49),
 ('1969 Ford Falcon', 49),
 ('1930 Buick Marquette Phaeton', 49),
 ('1972 Alfa Romeo GTA', 49),
 ('1936 Mercedes Benz 500k Roadster', 49),
 ('1999 Indy 500 Monte Carlo SS', 49),
 ('1995 Honda Civic', 49),
 ('1937 Lincoln Berline', 49),
 ('1948 Porsche 356-A Roadster', 49),
 ('1960 BSA Gold Star DBD34', 49),
 ('1934 Ford V8 Coupe', 49),
 ('1958 Setra Bus', 49),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 49),
 ('1903 Ford Model A', 49),
 ('1938 Cadillac V-16 Presidential Limousine', 49),
 ('1976 Ford Gran Torino', 49),
 ('1913 Ford Model T Speedster', 49),
 ('18th Century Vintage Horse Carriage', 49),
 ('1992 Porsche Cayenne Turbo Silver', 49),
 ('1938 Cadillac V-16 Presidential Limousine', 49),
 ('1970 Dodge Coronet', 49),
 ('1980’s GM Manhattan Express', 49),
 ('1969 Chevrolet Camaro Z28', 49),
 ('1900s Vintage Bi-Plane', 49),
 ('1971 Alpine Renault 1600s', 48),
 ('1913 Ford Model T Speedster', 48),
 ('ATA: B757-300', 48),
 ('1968 Dodge Charger', 48),
 ('1948 Porsche 356-A Roadster', 48),
 ('1962 Volkswagen Microbus', 48),
 ('1952 Alpine Renault 1300', 48),
 ('1917 Grand Touring Sedan', 48),
 ('Diamond T620 Semi-Skirted Tanker', 48),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 48),
 ('1936 Mercedes-Benz 500K Special Roadster', 48),
 ('18th century schooner', 48),
 ('American Airlines: B767-300', 48),
 ('1992 Ferrari 360 Spider red', 48),
 ('1936 Mercedes-Benz 500K Special Roadster', 48),
 ('Corsair F4U ( Bird Cage)', 48),
 ('1952 Citroen-15CV', 48),
 ('2002 Chevy Corvette', 48),
 ('1995 Honda Civic', 48),
 ('Collectable Wooden Train', 48),
 ('1957 Chevy Pickup', 48),
 ('1954 Greyhound Scenicruiser', 48),
 ('Diamond T620 Semi-Skirted Tanker', 48),
 ('2002 Chevy Corvette', 48),
 ('1957 Chevy Pickup', 48),
 ('1992 Ferrari 360 Spider red', 48),
 ('1970 Dodge Coronet', 48),
 ('1964 Mercedes Tour Bus', 48),
 ('1997 BMW R 1100 S', 48),
 ('1900s Vintage Tri-Plane', 48),
 ('1930 Buick Marquette Phaeton', 48),
 ('F/A 18 Hornet 1/72', 48),
 ('1962 LanciaA Delta 16V', 48),
 ('1952 Citroen-15CV', 48),
 ('1969 Harley Davidson Ultimate Chopper', 48),
 ('1997 BMW R 1100 S', 48),
 ('1992 Ferrari 360 Spider red', 48),
 ('1903 Ford Model A', 48),
 ('1948 Porsche Type 356 Roadster', 48),
 ('2002 Suzuki XREO', 48),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 48),
 ('1936 Mercedes Benz 500k Roadster', 48),
 ('1969 Chevrolet Camaro Z28', 48),
 ('1957 Corvette Convertible', 48),
 ('1961 Chevrolet Impala', 48),
 ('1995 Honda Civic', 48),
 ('Corsair F4U ( Bird Cage)', 48),
 ('2002 Chevy Corvette', 48),
 ('Collectable Wooden Train', 48),
 ('The Titanic', 48),
 ('The USS Constitution Ship', 48),
 ('F/A 18 Hornet 1/72', 48),
 ('1941 Chevrolet Special Deluxe Cabriolet', 48),
 ('The Titanic', 48),
 ('1939 Chevrolet Deluxe Coupe', 48),
 ('1971 Alpine Renault 1600s', 48),
 ('1992 Ferrari 360 Spider red', 48),
 ('2002 Yamaha YZR M1', 48),
 ('American Airlines: MD-11S', 48),
 ('Boeing X-32A JSF', 48),
 ('1936 Mercedes-Benz 500K Special Roadster', 48),
 ('1900s Vintage Bi-Plane', 48),
 ('1958 Chevy Corvette Limited Edition', 48),
 ('1982 Lamborghini Diablo', 48),
 ('1940 Ford Delivery Sedan', 48),
 ('1937 Lincoln Berline', 48),
 ('1928 Mercedes-Benz SSK', 48),
 ('1940 Ford Pickup Truck', 48),
 ('1957 Corvette Convertible', 48),
 ('1961 Chevrolet Impala', 48),
 ('1964 Mercedes Tour Bus', 48),
 ('1940 Ford Pickup Truck', 48),
 ('1970 Triumph Spitfire', 48),
 ('1941 Chevrolet Special Deluxe Cabriolet', 48),
 ('Boeing X-32A JSF', 48),
 ('1982 Ducati 996 R', 48),
 ('1972 Alfa Romeo GTA', 48),
 ('1957 Vespa GS150', 48),
 ('Collectable Wooden Train', 48),
 ('18th Century Vintage Horse Carriage', 48),
 ('1968 Ford Mustang', 48),
 ('1936 Chrysler Airflow', 48),
 ('1900s Vintage Bi-Plane', 48),
 ('1900s Vintage Tri-Plane', 48),
 ('1970 Triumph Spitfire', 48),
 ('1971 Alpine Renault 1600s', 48),
 ('2002 Yamaha YZR M1', 48),
 ('1972 Alfa Romeo GTA', 48),
 ('1999 Yamaha Speed Boat', 48),
 ('1934 Ford V8 Coupe', 48),
 ('ATA: B757-300', 48),
 ('1940s Ford truck', 48),
 ('1962 Volkswagen Microbus', 48),
 ('2001 Ferrari Enzo', 48),
 ('1966 Shelby Cobra 427 S/C', 48),
 ('ATA: B757-300', 48),
 ('American Airlines: B767-300', 48),
 ("1950's Chicago Surface Lines Streetcar", 48),
 ('1957 Chevy Pickup', 48),
 ('American Airlines: B767-300', 47),
 ('1996 Moto Guzzi 1100i', 47),
 ('P-51-D Mustang', 47),
 ('1972 Alfa Romeo GTA', 47),
 ('1956 Porsche 356A Coupe', 47),
 ('1903 Ford Model A', 47),
 ('1970 Chevy Chevelle SS 454', 47),
 ('1940s Ford truck', 47),
 ('1969 Dodge Charger', 47),
 ('1956 Porsche 356A Coupe', 47),
 ('1992 Ferrari 360 Spider red', 47),
 ('1926 Ford Fire Engine', 47),
 ('1971 Alpine Renault 1600s', 47),
 ('1949 Jaguar XK 120', 47),
 ('1913 Ford Model T Speedster', 47),
 ('1992 Ferrari 360 Spider red', 47),
 ('1949 Jaguar XK 120', 47),
 ('1997 BMW F650 ST', 47),
 ('1962 Volkswagen Microbus', 47),
 ('1962 Volkswagen Microbus', 47),
 ('ATA: B757-300', 47),
 ('1969 Corvair Monza', 47),
 ('1998 Chrysler Plymouth Prowler', 47),
 ('1997 BMW R 1100 S', 47),
 ('1952 Alpine Renault 1300', 47),
 ('1968 Dodge Charger', 47),
 ('1960 BSA Gold Star DBD34', 47),
 ('1949 Jaguar XK 120', 47),
 ('1982 Lamborghini Diablo', 47),
 ('1912 Ford Model T Delivery Wagon', 47),
 ('1912 Ford Model T Delivery Wagon', 47),
 ('1941 Chevrolet Special Deluxe Cabriolet', 47),
 ('1937 Horch 930V Limousine', 47),
 ('1952 Alpine Renault 1300', 47),
 ('The USS Constitution Ship', 47),
 ('1965 Aston Martin DB5', 47),
 ('1966 Shelby Cobra 427 S/C', 47),
 ('1928 British Royal Navy Airplane', 47),
 ('1996 Moto Guzzi 1100i', 47),
 ('1948 Porsche 356-A Roadster', 47),
 ('1995 Honda Civic', 47),
 ('1992 Ferrari 360 Spider red', 47),
 ('Collectable Wooden Train', 47),
 ('1960 BSA Gold Star DBD34', 47),
 ('1930 Buick Marquette Phaeton', 47),
 ('1904 Buick Runabout', 47),
 ('1940s Ford truck', 47),
 ('1964 Mercedes Tour Bus', 47),
 ('1936 Chrysler Airflow', 47),
 ('American Airlines: B767-300', 47),
 ('1913 Ford Model T Speedster', 47),
 ('1961 Chevrolet Impala', 47),
 ('2002 Yamaha YZR M1', 47),
 ('Pont Yacht', 47),
 ('1995 Honda Civic', 47),
 ('1966 Shelby Cobra 427 S/C', 47),
 ('1969 Corvair Monza', 47),
 ('1971 Alpine Renault 1600s', 47),
 ('1928 British Royal Navy Airplane', 47),
 ('1982 Ducati 900 Monster', 47),
 ('American Airlines: MD-11S', 47),
 ('1970 Dodge Coronet', 47),
 ('1957 Vespa GS150', 47),
 ('1913 Ford Model T Speedster', 47),
 ('1969 Dodge Charger', 47),
 ('1968 Dodge Charger', 47),
 ('2001 Ferrari Enzo', 47),
 ('1969 Corvair Monza', 47),
 ('1948 Porsche Type 356 Roadster', 47),
 ('1940s Ford truck', 47),
 ('1932 Model A Ford J-Coupe', 47),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 47),
 ('1928 British Royal Navy Airplane', 47),
 ('1999 Indy 500 Monte Carlo SS', 46),
 ('1936 Mercedes Benz 500k Roadster', 46),
 ('2003 Harley-Davidson Eagle Drag Bike', 46),
 ('1936 Harley Davidson El Knucklehead', 46),
 ('1917 Maxwell Touring Car', 46),
 ('1969 Ford Falcon', 46),
 ('1969 Chevrolet Camaro Z28', 46),
 ('1936 Mercedes Benz 500k Roadster', 46),
 ('1971 Alpine Renault 1600s', 46),
 ('1938 Cadillac V-16 Presidential Limousine', 46),
 ("1950's Chicago Surface Lines Streetcar", 46),
 ('1917 Maxwell Touring Car', 46),
 ('1968 Dodge Charger', 46),
 ('1900s Vintage Tri-Plane', 46),
 ('1982 Ducati 996 R', 46),
 ('2002 Chevy Corvette', 46),
 ('1957 Chevy Pickup', 46),
 ('1992 Porsche Cayenne Turbo Silver', 46),
 ('1937 Horch 930V Limousine', 46),
 ('2002 Chevy Corvette', 46),
 ('The Schooner Bluenose', 46),
 ('1971 Alpine Renault 1600s', 46),
 ('1958 Chevy Corvette Limited Edition', 46),
 ('1982 Camaro Z28', 46),
 ('1964 Mercedes Tour Bus', 46),
 ('2001 Ferrari Enzo', 46),
 ('The USS Constitution Ship', 46),
 ('1932 Model A Ford J-Coupe', 46),
 ('1964 Mercedes Tour Bus', 46),
 ('2001 Ferrari Enzo', 46),
 ('1969 Corvair Monza', 46),
 ('Diamond T620 Semi-Skirted Tanker', 46),
 ('1962 City of Detroit Streetcar', 46),
 ('1969 Harley Davidson Ultimate Chopper', 46),
 ('1926 Ford Fire Engine', 46),
 ('1936 Harley Davidson El Knucklehead', 46),
 ('1957 Chevy Pickup', 46),
 ('1982 Camaro Z28', 46),
 ('1941 Chevrolet Special Deluxe Cabriolet', 46),
 ('1997 BMW F650 ST', 46),
 ('1952 Citroen-15CV', 46),
 ("1950's Chicago Surface Lines Streetcar", 46),
 ('1937 Lincoln Berline', 46),
 ('1997 BMW R 1100 S', 46),
 ('1982 Ducati 900 Monster', 46),
 ('1948 Porsche Type 356 Roadster', 46),
 ('1928 British Royal Navy Airplane', 46),
 ('1999 Yamaha Speed Boat', 46),
 ('1969 Corvair Monza', 46),
 ('1940s Ford truck', 46),
 ('1940 Ford Delivery Sedan', 46),
 ('1948 Porsche Type 356 Roadster', 46),
 ('18th century schooner', 46),
 ('1913 Ford Model T Speedster', 46),
 ('2001 Ferrari Enzo', 46),
 ('Diamond T620 Semi-Skirted Tanker', 46),
 ('1940 Ford Pickup Truck', 46),
 ('1913 Ford Model T Speedster', 46),
 ('1941 Chevrolet Special Deluxe Cabriolet', 46),
 ('1913 Ford Model T Speedster', 46),
 ('1982 Camaro Z28', 46),
 ('1961 Chevrolet Impala', 46),
 ('1948 Porsche 356-A Roadster', 46),
 ('1937 Horch 930V Limousine', 46),
 ('1928 Ford Phaeton Deluxe', 46),
 ('1999 Yamaha Speed Boat', 46),
 ('2002 Suzuki XREO', 46),
 ('1913 Ford Model T Speedster', 46),
 ('1928 British Royal Navy Airplane', 46),
 ('1969 Dodge Charger', 46),
 ('1969 Dodge Super Bee', 46),
 ('1968 Dodge Charger', 46),
 ('Diamond T620 Semi-Skirted Tanker', 46),
 ('2001 Ferrari Enzo', 46),
 ('1912 Ford Model T Delivery Wagon', 46),
 ('1949 Jaguar XK 120', 46),
 ('2002 Chevy Corvette', 46),
 ('1962 LanciaA Delta 16V', 46),
 ('1972 Alfa Romeo GTA', 46),
 ('1957 Vespa GS150', 46),
 ('1957 Chevy Pickup', 46),
 ('1998 Chrysler Plymouth Prowler', 46),
 ('1997 BMW F650 ST', 46),
 ('1999 Yamaha Speed Boat', 46),
 ('The USS Constitution Ship', 46),
 ('1936 Chrysler Airflow', 46),
 ('HMS Bounty', 46),
 ('1962 City of Detroit Streetcar', 46),
 ('1936 Mercedes Benz 500k Roadster', 46),
 ('1969 Dodge Super Bee', 46),
 ('1934 Ford V8 Coupe', 46),
 ('American Airlines: B767-300', 46),
 ('1936 Mercedes-Benz 500K Special Roadster', 46),
 ('1940 Ford Pickup Truck', 46),
 ('1939 Cadillac Limousine', 46),
 ('1998 Chrysler Plymouth Prowler', 46),
 ('1964 Mercedes Tour Bus', 46),
 ('1980’s GM Manhattan Express', 46),
 ('1911 Ford Town Car', 46),
 ('1992 Ferrari 360 Spider red', 46),
 ('1993 Mazda RX-7', 46),
 ('1941 Chevrolet Special Deluxe Cabriolet', 46),
 ('1962 Volkswagen Microbus', 46),
 ('1999 Yamaha Speed Boat', 46),
 ('1939 Chevrolet Deluxe Coupe', 45),
 ('18th Century Vintage Horse Carriage', 45),
 ('1940s Ford truck', 45),
 ('1969 Harley Davidson Ultimate Chopper', 45),
 ('1968 Ford Mustang', 45),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 45),
 ('1969 Dodge Super Bee', 45),
 ('1957 Vespa GS150', 45),
 ('1970 Dodge Coronet', 45),
 ('1958 Chevy Corvette Limited Edition', 45),
 ('1956 Porsche 356A Coupe', 45),
 ('1974 Ducati 350 Mk3 Desmo', 45),
 ('1904 Buick Runabout', 45),
 ('1939 Chevrolet Deluxe Coupe', 45),
 ('1992 Porsche Cayenne Turbo Silver', 45),
 ('1997 BMW F650 ST', 45),
 ('1948 Porsche 356-A Roadster', 45),
 ('1948 Porsche Type 356 Roadster', 45),
 ('1966 Shelby Cobra 427 S/C', 45),
 ('1949 Jaguar XK 120', 45),
 ('1966 Shelby Cobra 427 S/C', 45),
 ('The Titanic', 45),
 ('1996 Moto Guzzi 1100i', 45),
 ('P-51-D Mustang', 45),
 ('1926 Ford Fire Engine', 45),
 ('1904 Buick Runabout', 45),
 ('The Queen Mary', 45),
 ('1952 Alpine Renault 1300', 45),
 ('1998 Chrysler Plymouth Prowler', 45),
 ('1964 Mercedes Tour Bus', 45),
 ('1954 Greyhound Scenicruiser', 45),
 ('1957 Ford Thunderbird', 45),
 ('1966 Shelby Cobra 427 S/C', 45),
 ("1950's Chicago Surface Lines Streetcar", 45),
 ('1996 Moto Guzzi 1100i', 45),
 ('1980’s GM Manhattan Express', 45),
 ('1992 Ferrari 360 Spider red', 45),
 ('2003 Harley-Davidson Eagle Drag Bike', 45),
 ('1938 Cadillac V-16 Presidential Limousine', 45),
 ('1926 Ford Fire Engine', 45),
 ('1970 Dodge Coronet', 45),
 ('1934 Ford V8 Coupe', 45),
 ('1939 Chevrolet Deluxe Coupe', 45),
 ('1969 Chevrolet Camaro Z28', 45),
 ('1936 Chrysler Airflow', 45),
 ('1952 Citroen-15CV', 45),
 ('1974 Ducati 350 Mk3 Desmo', 45),
 ('The Queen Mary', 45),
 ('1969 Harley Davidson Ultimate Chopper', 45),
 ('1911 Ford Town Car', 45),
 ('P-51-D Mustang', 45),
 ('1972 Alfa Romeo GTA', 45),
 ('1957 Chevy Pickup', 45),
 ('1941 Chevrolet Special Deluxe Cabriolet', 45),
 ('HMS Bounty', 45),
 ('American Airlines: MD-11S', 45),
 ('Boeing X-32A JSF', 45),
 ('1938 Cadillac V-16 Presidential Limousine', 45),
 ('1969 Ford Falcon', 45),
 ('1962 City of Detroit Streetcar', 45),
 ('1956 Porsche 356A Coupe', 45),
 ('The Schooner Bluenose', 45),
 ('1932 Model A Ford J-Coupe', 45),
 ('1939 Chevrolet Deluxe Coupe', 45),
 ('ATA: B757-300', 45),
 ('1970 Dodge Coronet', 45),
 ('1968 Dodge Charger', 45),
 ('1980s Black Hawk Helicopter', 45),