<a href="https://colab.research.google.com/github/pikey-msc/Python/blob/main/M3/S1/Tarea2_S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 2 - Christian Jimenez


1.-Por medio de SQLAlchemy, define la tabla orders definida dentro de nabla_python
````
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
````

In [9]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float

Base = declarative_base()
class Orders(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String(15))
    comments = Column(String(50))
    customerNumber = Column(Integer, index=True)


2.-Por medio de SQLAlchemy, define la tabla orderdetails definida dentro de nabla_python
````
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
````

In [11]:
class Orderdetails(Base):
    __tablename__ = "oderdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(String(15))
    quantityOrdered = Column(Integer)
    priceEach = Column(Float)
    orderLineNumber = Column(Integer)


3.-Realiza una consulta a la base de datos nabla_python por medio de sqlalchemy: encuentra los tipos de status existentes dentro de la tabla orders.

In [15]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
passw = 'Capitan1'

engstr= f"mysql+pymysql://carlos_carrasco1:{passw}@db4free.net:3306/nabla_python1"
engine=create_engine(engstr)
Session=sessionmaker(bind=engine)
sess=Session()

In [16]:
query = (sess.query(Orders.status)
            .distinct(Orders.status))
for instance in query:
    print(instance.status)

Shipped
Resolved
Cancelled
On Hold
Disputed
In Process